{% extends "template.html" %}

{% load static %}

{% block main %}

<div class="w-100">

    <div class="d-flex p-2 m-4 rounded-3 justify-content-between align-items-center text-white" style="background-color: #00528A;">
        <h4 class="d-flex text-white justify-content-center flex-row p-0 m-2">Cadastro de Item</h4>
    </div>

    <div class="p-2 m-3">
        
        <form method="post" class="d-flex flex-column p-4 rounded-3 bg-white" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);">
            <h4 class="alert-heading">Você está alterando o nome do item <strong>"{{ item.nome }}"</strong></h4>
            <p>Ao mudar o nome deste item, a alteração será refletida em <strong>todo o histórico</strong> associado a ele.</p>
            {% csrf_token %}
            {{ form.as_p }}
    
            <div class="col d-flex justify-content-start gap-2 mt-2">    
            <button type="submit" class="btn btn-success text-white">Salvar</button>
            <a href="{% url 'almoxarifado:almoxarifado' %}" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
    </form>
</div>

{% endblock %}