{% extends 'template.html' %}
{% block telefonia %}active{% endblock %}
{% block main %}   		    
				<style>
					#message{
						display: none;
					}
					#response-message{
						font-weight: bold;
						color: white;
					}
					.bg-gray{
						background-color: rgba(128, 128, 128, 0.281) !important;
					}
				</style>
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Ramais</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <div class="table-search-form row gx-1 align-items-center">
					                    <div class="col-auto">
					                        <input type="text" id="search-ramais" name="searchramais" class="form-control search-orders" placeholder="Procurar...">
					                    </div>
										{% if request.user.is_staff or telefonista.exists %}
					                    <div class="col-auto">
					                        <button id="openModal" type="submit" class="btn app-btn-secondary">Adicionar ramal</button>
					                    </div>
										<div class="col-auto">
					                        <a href="{% url 'ins:index' %}" class="btn app-btn-secondary">Adicionar secretaria ou setor</a>
					                    </div>
										{% endif %}
					                </div>					            
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
			   			    			
				<div class="tab-content" id="orders-table-tab-content">
			        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					    <div class="app-card app-card-orders-table shadow-sm mb-5">
						    <div class="app-card-body">
							    <div class="table-responsive">
							        <table class="table app-table-hover mb-0 text-left">
										<thead>
											<tr>
												{% if request.user.is_staff or telefonista.exists %}
												<th>Editar</th>
												{% endif %}
												<th class="cel">Secretaria</th>
												<th class="cell">Setor</th>
												<th class="cell">Referência</th>
												<th class="cell">Responsável</th>
												<th class="cell">Ramal</th>																								
											</tr>
										</thead>
										<tbody>
											{% for ramal in ramais %}
											<tr>
												{% if request.user.is_staff or telefonista.exists %}
												<td class="cell">
													<a href="{% url 'tel:editar_ramal' ramal.id %}">
														<i class="fa-solid fa-pen-to-square"></i>
													</a>
												</td>
												{% endif %}
												<td class="cell">{{ramal.secretaria}}</td>
												<td class="cell">{{ramal.setor.apelido}}</td>
												<td class="cell">{{ramal.referencia}}</td>
												<td class="cell">{{ramal.responsavel}}</td>
												<td class="cell">{{ramal.numero}}</td>														
											</tr>					
											{% endfor %}								
										</tbody>
									</table>
						        </div><!--//table-responsive-->
						       
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->											
			        </div><!--//tab-pane-->			        			        
				</div><!--//tab-content-->
				<div id="myModal" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Adicionar ramal</h5>
						<button class="btn btn-primary btn-close" id="closeModal">
							
						</button>	
					</div>
					<div class="modal-body">
						<div class="col-12 col-md-12">							
									<div class="settings-form">
										<div class="mb-3">
											<label for="setting-input-1" class="form-label">Secretaria</label>
											<select class="form-select" id="setting-input-1" name="secretarua" id="" onchange="callSetor(this)">
												<option value="none">Selecione uma secretaria</option>
												{% for secretaria in secretarias %}
												<option value="{{secretaria.id}}">{{secretaria.nome}}</option>
												{% endfor %}																								
											</select>											
										</div>
										<div class="mb-3">
											<label for="setting-input-2" class="form-label">Setor</label>
											<select class="form-select" id="setting-input-2" name="secretarua" id="">												
												<option value="none"></option>												
											</select>											
											<!-- <input type="text" class="form-control" id="setting-input-2" required> -->
										</div>
										<div class="mb-3">
											<label for="setting-input-3" class="form-label">Referência</label>
											<input type="text" maxlength="164" class="form-control" id="setting-input-3" required>
										</div>
										<div class="mb-3">
											<label for="setting-input-4" class="form-label">Responsável</label>
											<input type="text" maxlength="164" class="form-control" id="setting-input-4" required>
										</div>
										<div class="mb-3">
											<label for="setting-input-5" class="form-label">Número</label>
											<input type="text" maxlength="5" class="form-control" id="setting-input-5" required>
										</div>
										<button onclick="cadastrarRamal('{{csrf_token}}')" class="btn app-btn-primary">Cadastrar</button>
									</div>								
						</div>
					</div>
					<div class="modal-footer">
						
					</div>
					</div>
				</div>
				</div>
				
				<script src="/static/js/openModal.js"></script>
				<script src="/static/js/request.js"></script>
				<script src="/static/js/telefonia.js"></script>
				<script>									
					function callSetor(e){
						var url = "{% url 'tel:api' %}getSetores/"+e.value+"/"; 
						getRequest(url, montarSelect);
					}

					
					function filtrarRamais() {
					
						var filtro = document.getElementById('search-ramais').value.toUpperCase();					
						var linhas = document.querySelectorAll('.app-table-hover tbody tr');

						// Itera sobre as linhas da tabela
						for (var i = 0; i < linhas.length; i++) {
							var linha = linhas[i];
							var colunas = linha.getElementsByTagName('td');
							var mostrar = false;

							// Itera sobre as colunas da linha
							for (var j = 0; j < colunas.length; j++) {
								var coluna = colunas[j];
								if (coluna) {
									var texto = coluna.textContent || coluna.innerText;
									// Verifica se o texto da coluna contém o filtro
									if (texto.toUpperCase().indexOf(filtro) > -1) {
										mostrar = true;
										break;
									}
								}
							}

							// Mostra ou oculta a linha dependendo do resultado da busca
							if (mostrar) {
								linha.style.display = "";
							} else {
								linha.style.display = "none";
							}
						}
					}
					
					document.getElementById('search-ramais').addEventListener('input', filtrarRamais);
				</script>
{% endblock %}