asgiref
async-timeout
attrs
autobahn
beautifulsoup4
certifi
cffi
channels
channels-redis
cryptography
Django
django-appconf
django-bootstrap-v5
django-redis
django-select2
djangorestframework
exceptiongroup
fontawesomefree
h11
hyperlink
idna
msgpack
numpy
outcome
pandas
pillow
pycparser
PyMySQL
PySocks
python-dateutil
pytz
PyYAML
redis
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
trio
trio-websocket
txaio
typing_extensions
tzdata
urllib3
wsproto
python-barcode
requests
openpyxl
plotly