redis
autobahn==23.6.2
channels==4.0.0
channels-redis==4.2.0
cryptography==42.0.5
Django
django-select2==8.1.2
djangorestframework==3.14.0
fontawesomefree==6.5.1
pillow==10.2.0
PyMySQL==1.1.0
PyYAML==6.0
