body {
    max-width: 100%;
    overflow-x: hidden;
  }
  

.form-container, .form-setor{
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 12px;
}

.form-container form {
    margin: 0 auto;
    max-width: 400px;
}
.form-setor form {
    margin: 0 auto;
    max-width: 400px;
}

.form-container input,
.form-container input[type="text"],
.form-container input[type="password"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-setor input,
.form-setor input[type="text"],
.form-setor input[type="password"],
.form-setor select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.select2-container{
    width: 100%!important;
}

.form-container button, .form-setor button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container ul{
    display: none;
}

.helptext{
    display: none;
}

@media screen and (min-width:320px) and (max-width:400px){
    .form-container{
        margin-left: 12px;
    }
    .button-cadastro{
        height: 48px; 
    }
}
@media screen and (min-width:320px) {
    #footer-cadastro{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}
