#id_requisitante,
#id_secretaria,
#id_setor, #id_assunto,
#id_descricao, #id_anexo,
#id_serie, #id_contador, #id_setor, #id_nofcip, #id_sistema,
#id_setor1, #id_secretaria1, #id_contato{
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

select {
  margin-left: 200px;
}

@media screen and (min-width:320px) and (max-width:768px) {
  label[for=id_requisitante]{
    display: flex;
    justify-content:flex-start;
  }
  #id_requisitante{
    width: 95%;
  }
  #id_secretaria1{
    width: 95%;
  }
  label[for=id_secretaria]{
    display: flex;
    justify-content:flex-start;
  }
  #id_setor1{
    width: 95%;
  }
  label[for=id_setor]{
    display: flex;
    justify-content:flex-start;
  }
  #id_contato{
    width: 95%;
  }
  label[for=id_contato]{
    display: flex;
    justify-content:flex-start;
  }
  #id_assunto{
    width: 95%;
    display: flex;
    justify-content: flex-start;
  }
  label[for=id_assunto]{
    display: flex;
    justify-content: flex-start;
  }
  #id_descricao{
    width: 95%;
    display: flex;
    justify-content: flex-start;
  }
  label[for=id_descricao]{
    display: flex;
    justify-content: flex-start;
  }
  #id_anexo{
    width: 95%;
    display: flex;
    justify-content: flex-start;
  }
  label[for=id_anexo]{
    display: flex;
    justify-content: flex-start;
  }
  #id_serie{
    width: 95%;
    display: flex;
    justify-content: flex-start;
  }
  label[for=id_serie]{
    display: flex;
    justify-content: flex-start;
  }
  #id_contador{
    width: 95%;
    display: flex;
    justify-content: flex-start;
  }
  label[for=id_contador]{
    display: flex;
    justify-content: flex-start;
  }
  #id_nofcip{
    width: 95%;
    display: flex;
    justify-content: flex-start;
  }
  label[for="id_nofcip"]{
    display: flex;
    justify-content: flex-start;
  }
  #id_sistema{
    width: 95%;
    display: flex;
    justify-content: flex-start;
  }
  label[for="id_sistema"]{
    display: flex;
    justify-content: flex-start
  }

  #save-button{
    width: 95%;
    margin-bottom: 20px;
    border-radius: 20px;
  }
}
@media screen and (min-width:769px) {
  label[for=id_requisitante],label[for=id_secretaria], label[for=id_secretaria1],
  label[for=id_setor], label[for=id_setor1], label[for=id_assunto],label[for=id_descricao],label[for=id_anexo],label[for=id_serie],
  label[for=id_contador], label[for="id_nofcip"], label[for="id_sistema"], label[for="id_contato"]{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    width: 20%;
    text-align: center;
  }
#id_requisitante,
#id_secretaria1,
#id_setor1{
    margin-top: 18px;
    justify-content: space-between;
    width: 75%;
    margin-left: 10px;
}
.container-abrir-chamado {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#id_assunto,
#id_descricao, #id_anexo,
#id_serie, #id_contador,#id_nofcip,#id_sistema, #id_setor, #id_secretaria, #id_contato, .select2{
  position: relative;
  width: 75%!important;
  margin-left: 16.5%;
  top: -35px;
}
#save-button{
  width: 50%;
  margin-bottom: 20px;
  border-radius: 20px;
}
.container-button-abrir{
  text-align: center;
}
}