nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background: rgb(0, 74, 177);
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 50px; 
}

img {
    max-width: 100%; 
}

.btn-header, .logout-btn {
    border: none; 
    background-color: transparent; 
    padding: 5px; 
    cursor: pointer; 
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
    font-size: 0.9em;
    color: white;
    /* border: 1px solid black;
    border-radius: 20px;  */
}

.logout-btn {
    text-decoration: none;
    color: white;
}

.btn-header:hover {
    color: rgb(57, 238, 184);
    transform: scale(1.1);
}

.logout-btn:hover{
    color: rgb(219, 44, 44);
    transform: scale(1.1);
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-header {
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .logo-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .btn-header {
        margin: 5px 0;
    }
    #div-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -30px;
        gap: 10px;
        font-size: 17px;
        margin-bottom: 20px;
        
    }
    .logout-btn{
        position: absolute;
        right: 2%;
        top: 1%;
    }

}

.form-main{
    text-align: center;
}
.row{
  margin: 0 auto;
}

#button-chamado {
    background-color: #0074d9; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    width: 45%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    height: auto;
}

  #button-chamado:hover {
    background-color: #0056b3; 
  }

  #button-chamado a {
    text-decoration: none; 
    color: #ffffff; 
  }

  #form-pesquisa-chamado {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    display: none;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
}

#form-pesquisa-chamado button {
    margin-top: 10px;
}
#form-pesquisa-chamado select, input{
  margin-bottom: 20px;
}

#id_numero{
    width: 24.5%;
}
#id_assunto{
  width: 26.5%;
}
#id_requisitante, #id_tipo{
    width: 24.5%;
}

#id_setor{
  width: 41%;
}
#id_prioridade{
    width: 26.2%;
}
#id_status{
  width: 24.5%;
}
#id_dataInicio, #id_dataFim{
  width: 26.5%;
}

#form-pesquisa-chamado button{
  margin: 0 auto;
  width: 100%;
}
#button-pesquisa-chamado{
    background-color: #198754; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    width: 45%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    height: auto;
}
#button-pesquisa-chamado:hover{
  background-color: #146c43; 
}
#title-chamado{
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: hidden;
}

.modal-content {
  background-color: #fff;
  width: 50%;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal-content button{
  margin-top: 10px;
}

.fechar{
  position: absolute;
  top: -3px; 
  right: 10px; 
  font-size: 2em;
  color: rgba(153, 152, 152, 0.904);
  cursor: pointer;
}

.fechar:hover{
  color: black;
}

.link-modal-abrir-chamado{
  color: white;
  text-decoration: none;
  font-size: 16px;
}
#title-modal-abir-chamado{
  font-size: 18px;
}

.button-abrir-chamado{
  width: 70%;
}
#div-table-chamado{
  border: 1px solid grey;
  border-radius: 15px;
  padding: 12px;
  overflow-x: auto;
  margin-bottom: 30px !important;
  height: fit-content;
}
.table-chamado{
  width: 100%;
  margin-left: -11.5px;
}

@media screen and (min-width:320px){
  #div-table-chamado{
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
}
.table-chamado{
  margin-left:0;
}
}

.div-button-chamado{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

.message-table-empty{
  text-align: center;
  color: red !important;
  text-transform: uppercase;
}
@media screen and (min-width:320px) and (max-width:500px){
    .modal-content{
      width: 75%;
    }
}

@media (min-width: 320px) {
  #form-pesquisa-chamado {
      padding: 10px;
      margin: 0 auto;
      margin-bottom: 20px;
  }
  #form-pesquisa-chamado label {
      display: block;
      margin-bottom: 5px;
  }
  #form-pesquisa-chamado input,
  #form-pesquisa-chamado select {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      margin-bottom: 10px;
  }

}

