h1 {
    padding: 10px;
    text-align: center;
}

h2 {
    margin-top: 30px;
    color: #333;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

ul ul {
    margin: 10px 0 0 20px;
}

ul li {
    background-color: #f2f2f2;
}
#setor {
    color: #007bff;
    text-align: center;
}

#secretaria {
    color: #ff6600;
    text-align: center;
}

.item-name{
    font-weight: bold;
    font-size: 1.15em;
}

#setor-div, #secretaria-div {
    display: inline-block;
    width: 50%; 
    vertical-align: top;
}


#div-indicadores{
    display: flex;
}