#id_email{
    width: 500px;
}
.div-key{
    text-align: center;
}
@media screen and (min-width:320px) and (max-width:369px) {
    #id_email{
        width: 300px;
    }
}
@media screen and (min-width:369px) and (max-width:550px){
    #id_email{
        width: 290px;
    }
}

body{
    max-width: 100%;
    overflow-x: hidden;
}
