.perfil-wrapper{
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
}
.perfil-name-wrapper{
    display: flex;
    align-items: center;

}
.perfil-image{
    padding: 1.7rem;
}
.img-avatar{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.perfil-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.perfil-infos-nome-text{
    color: black;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 22px;
}
.perfil-infos-secretaria-link{
    text-decoration: none;
    color: #2c5cc5;
    font-size: 14px;
}
.perfil-buttons{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(24, 50, 71, .1), 0 0 0 1px rgba(24, 50, 71, .05);
    background-color: #f5f7f9;
    padding-left: 1.7rem;
}
.perfil-buttons-link{
    text-decoration: none;
    cursor: pointer; 
    margin-right: 15px;
}
.timeline-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-top: 15px;
}

.timeline-infos-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 15px;
}

.timeline-item {
    display: flex;
    align-items: center;
    padding: 0 1.7rem 1.7rem 1.7rem;
    position: relative;
}

.timeline-infos-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.7rem 0;
}
.timeline-hour{
    color: black;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 2px;
}
.timeline-assunto{
    color: black;
    font-weight: 300;
    font-size: 18px;
}
.timeline-assunto-id-chamado{
    font-size: 14px;
    color: #5d6778;
}
.timeline-infos-chamado{
    display: flex;
    align-items: center;
}

.timeline-info-chamado {
    position: relative; 
    font-size: 12px;
}
.dot-separator-timeline{
    margin-right: 5px;
    margin-left: 5px;
}
.timeline-info-atualizacao-chamado{
    font-size: 14px;
}
@media(max-width:768px){
    .timeline-infos-chamado{
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .dot-separator-timeline{
        display: none;
    }
    
}