{% extends 'template.html' %}
{% block projetos %}active{% endblock %}
{% block main %}
    <style>
        /* Estilos gerais */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
        }

        .menu {
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 10px 16px;
            display: flex;
            /* justify-content: space-between; */
            align-items: center;
            position: sticky;
            top: 0;
            z-index: 1000;
            border-radius: 8px;
        }

        .menu button{
            padding: 8px 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .menu button:hover {
            background-color: #0056b3;
        }

        .board {
            display: flex;
            gap: 16px;
            overflow-x: auto;
            padding-top: 20px;
        }

        .projetos-container{
            width: 100%;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            padding: 16px;
            overflow-y: auto;
        }

        .projetos-container h3 {
            font-size: 1.2em;
            margin-bottom: 16px;
            color: #333;
        }
        table tbody tr {
            cursor: pointer;
        }
        #id_status{
            width: 100%;
            padding: 10px;
            background-color: #f4f4f9;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: #5e5d5d;            
            margin-bottom: 20px;
        }
        @media (min-width: 1400px) {
            .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
                max-width: 1550px;
            }
        }
        .td-progress{
            min-width: 200px;
        }
        .progress {
        width: 90%;
        margin-right: 10px;
        height: 10px; /* Altura da barra */
        background-color: #acacac67; /* Cor de fundo da barra */
        border-radius: 5px; /* Arredondamento das bordas */
        }

        .progress-bar {
        background-color: #4CAF50; /* Cor da barra de progresso */
        border-radius: 0px; /* Arredondamento das bordas */
        }
        .menudetalhes{
            display: flex;;
        }
        .menudetalhes button, .menudetalhes a{
            color: white;
            margin-right: 5px;
            border-radius: 0%;

        }
        .menudetalhes a.btn-primary{
            background-color: #15a362;
        }
        .menudetalhes a.btn-primary:hover{
            background-color: #38b17a;
            color: white !important;
        }
        .menudetalhes button.btn-primary{
            background-color: #15a362;
        }
        .menudetalhes button.btn-primary:hover{
            background-color: #38b17a;
            color: white !important;
        }
        button.btn-3{
            background-color: #1587a3;
        }
        button.btn-3:hover{
            background-color: #3899b1;
            color: white !important;
        }
        .modal .btn-3{
            color: white;
            border-radius: 0%;
            padding: 3px 8px;
        }
        #searchMembroResult.hidden{  
            display: none;            
        }
        #searchMembroResult.show{  
            display: block;
        }
        #searchMembroResult .d-flex:hover{
            background-color: #034a572c;
            cursor: pointer;
            border-radius: 8px;
        }
        .modal .grupo-membros .hidden{
            display: none;
        }
        .modal .grupo-membros .grupo{
            border-radius: 8px;
            cursor: pointer;
        }
        .modal .grupo-membros .grupo-ativo{
            background-color: #5e5d5d18;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .modal .grupo-membros .grupo-membros{
            background-color: #5e5d5d18;  
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;          
        }
        .responsavel-options{
            cursor: pointer;
        }
        .responsavel-options:hover{
            background-color: #034a572c;
            /* border-radius: 8px; */
        }
        input.show{
            display: block;
        }
        input.hidden{
            display: none;
        }
        input[readonly] {
            background-color: #e9ecef;
            cursor: not-allowed;
        }
        #searchResponsavelResult.hidden{
            display: none;
        }
        #searchResponsavelResult.show{
            display: block;
        }
    </style>

    <div class="menu">
        <h2>Projetos</h2>
        <button  type="button" class="ms-auto" style="background-color: white; color: black;" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-folder-plus me-2"></i>
             Adicionar projeto
        </button>
        <button  type="button" style="background-color: white; color: black;" data-bs-toggle="modal" onclick="getMeusGrupos()" data-bs-target="#myGroupsModal">
            <i class="fa-solid fa-people-group me-2"></i>
            Meus grupo
        </button>
        
    </div>

    <div class="board">
       <div class="projetos-container px-4">
        <table class="table">
            <thead>
                <!-- <th></th> -->
                <th>Nome do Projeto</th>
                <th>Responsável</th>
                <th>Progresso</th>
                <th>Dt. prevista</th>
                <!-- <th>Descrição</th> -->
                <th>Status</th>

            </thead>
            <tbody>     
                {% for projeto in projetos %}
                <tr id="tr-{{projeto.id}}" onclick="toggleDetalhes({{projeto.id}})">
                    <!-- <td onclick="aux=1; getDetalhes({{projeto.id}})" style="max-width: 28px; color: #0056b3;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"> 
                        <i class="fa-solid fa-eye"></i>
                    </td> -->
                    <td class="nome_projeto">{{projeto.nome}}</td>
                    <td>
                        <img class="mb-1 me-2" style="width: 18px; height: 18px;" src="/static/images/user.png" alt="">
                        <span class="responsavel_projeto" data-id="{{projeto.responsavel.id}}">{{projeto.responsavel}}</span>
                    </td>
                    <td class="td-progress">
                        <div class="d-flex">
                            <div class="my-auto progress">
                                <div class="progress-bar" role="progressbar" style="width: {{projeto.get_progresso}}%;" aria-valuenow="{{projeto.get_progresso}}" aria-valuemin="0" aria-valuemax="100"></div>                            
                            </div>
                            <small class="me-5">{{projeto.get_progresso}}%</small>
                        </div>                        
                    </td>
                    <td>
                        <span class="icone-status">{{projeto.get_status_icon|safe}}</span>{{projeto.data_fim|date:"d/m/y"}}
                    </td>
                  
                    <!-- <td style="max-width: 300px;">
                        {{projeto.descricao}}
                    </td> -->
                    <td class="projeto_status" data-status="{{projeto.status}}" style="text-align: center; background-color: {{projeto.get_status_color}}; color: white; max-width: 100px;">
                        {{projeto.get_status_display}}
                    </td>
                </tr>
                {% endfor %}               
            </tbody>
        </table>
       </div>
    </div>
      
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        </div>
    </div>
    </div>
     
<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Novo projeto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form id="form-projeto">
                {% csrf_token %}
                {{form_projetos}}
            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary w-100" style="color: white;" onclick="postCriarProjeto();" data-bs-dismiss="modal"    >Iniciar projeto</button>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="editarProjetoModal" tabindex="-1" aria-labelledby="editarProjetoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar projeto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="editarProjetoModal" onclick="closeModal('editarProjetoModal')" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form id="form-editar-projeto">
                {% csrf_token %}
                <input type="hidden" name="id" id="id">
                <div class="mb-3">
                    <label for="nome">Status do projeto</label>
                    <select class="form-select" id="id_status" name="status" required>
                        <option value="C">Planejamento</option>
                        <option value="E">Em andamento</option>
                        <option value="F">Finalizado</option>
                        <option value="P">Parado</option>
                    </select>                
                </div>
                <div class="mb-3">
                    <label for="nome">Nome do projeto</label>
                    <input type="text" class="form-control" id="nome_ed" name="nome_ed" required>
                </div>
                <div class="mb-3">
                    <label for="nome">Responsável</label>
                    <input type="text" class="form-control mb-3 hidden" id="id_projeto_responsavel_display" readonly>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="id_projeto_responsavel" name="projeto_responsavel" required>                    
                        <div class="input-group-append">
                        <button class="btn appt-btn-outline-secondary border" type="button" onclick="searchResponsavel()" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        </div>
                    </div>                
                    <div id="searchResponsavelResult" class="w-100 hidden">
                    </div>
                    <input type="hidden" class="form-control" id="id_responsavel" name="responsavel" required>
                </div>            
                <div class="mb-3">
                    <label for="nome">Descrição</label>
                    <textarea class="form-control" id="descricao" name="descricao" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="nome">Data inicio</label>
                    <input type="date" class="form-control" id="data_inicio" name="data_inicio" required>
                </div>
                <div class="mb-3">
                    <label for="nome">Data fim</label>
                    <input type="date" class="form-control" id="data_fim" name="data_fim" required>
                </div>            
            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary w-100" style="color: white;" onclick="postEditarProjeto();" data-bs-dismiss="modal">Salvar alterações</button>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="myGroupsModal" tabindex="-1" aria-labelledby="myGroupsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="myGroupsModalLabel" style="color: #141f5a;"><i class="fa-solid fa-people-group me-2"></i>Meus grupos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="myGroupsModal" onclick="closeModal('myGroupsModal')" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">                        
                        <div class="grupo-membros mb-3">
                            <div id="meusgrupos" class="p-2" style="background-color: hsla(0, 1%, 37%, 0.067); width: 100%; min-height: 100px;">
                                                                                    
                            </div>
                        </div>
                        <button class="w-100 btn btn-3"  data-bs-toggle="modal" data-bs-target="#groupModal">
                            <i class="fa-solid fa-users-rays me-2"></i>Criar novo grupo
                        </button>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer" style="color: rgb(255, 108, 108);">
            </div> -->
        </div>
        </div>
    </div>
    <div class="modal fade" id="groupsProjetoModal" tabindex="-1" aria-labelledby="groupsProjetoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="groupsProjetoModalLabel" style="color: #141f5a;"><i class="fa-solid fa-people-group me-2"></i>Grupos</h1>
            <button type="button" class="btn-close" data-bs-dismiss="groupsProjetoModal" onclick="closeModal('groupsProjetoModal')" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">                        
                        <div class="grupo-membros mb-3">
                            <p class="my-0">Selecione os grupos de acesso ao projeto:</p>
                            <input type="hidden" id="projeto-grupo-selecionado" name="projeto-grupo-selecionado">
                            <form id="projetosgrupos" class="p-2 d-flex flex-column" style="background-color: hsla(0, 1%, 37%, 0.067); width: 100%; min-height: 100px;">
                                
                                <div id="loading-grupos-projeto" class="loading m-auto pt-2">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <button class="w-100 btn app-btn-primary py-1" onclick="atualizarAutorizacoes()">
                            Atualizar autorizações
                        </button>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer" style="color: rgb(255, 108, 108);">
            </div> -->
        </div>
        </div>
    </div>
  <div class="modal fade" id="groupModal" tabindex="-1" aria-labelledby="groupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Novo projeto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="nome">Nome do grupo</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="nome">Adicionar membro <i class="ms-2 fa-solid fa-magnifying-glass"></i></label>
                        <div class="d-flex">
                            <input id="inputSearchMembros" type="text" onkeyup="buscaMembro(this)"  class="form-control" autocomplete="off">
                            <!-- <button class="btn btn-dark my-auto ms-1" style="background-color: #3f3f3f; color: white;">
                                
                            </button> -->
                        </div>
                        <div id="searchMembroResult" class="hidden pt-2 pb-1 px-1" style="background-color: #5e5d5d18; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;">
                           
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="nome">Membros</label>
                        <div id="membros" class="p-2" style="background-color: #5e5d5d11; width: 100%; min-height: 100px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="color: rgb(255, 108, 108);">
          <button type="button" class="btn btn-primary w-100" style="color: white;" onclick="postCriarGrupo();">Criar grupo</button>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    function atualizarAutorizacoes() {
        let id_projeto = document.querySelector('#projeto-grupo-selecionado').value;
        let divGrupos = document.getElementById('projetosgrupos');
        let inputs = divGrupos.querySelectorAll('input');

        let data = {
            'id_projeto': id_projeto,
            'grupos': []
        };

        inputs.forEach(input => {
            data.grupos.push({
                'id': input.value,
                'checked': input.checked
            });
        });

        fetch('/projetos/api/atualizar-autorizacoes/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == 200) {
                console.log('Autorizações atualizadas com sucesso.');
                closeModal('groupsProjetoModal');
                toggleDetalhes(data.projeto.id);
                toggleDetalhes(data.projeto.id);   
            }
        })
        .catch(error => console.error('Erro ao atualizar autorizações:', error));
    }

    function get_grupos_projeto(id){
        document.querySelector('#projeto-grupo-selecionado').value = id
        divLoading = document.getElementById('loading-grupos-projeto')
        divGrupos = divLoading.parentNode
        divGrupos.innerHTML = ''
        divLoading.style.display = 'block';
        fetch(`/projetos/api/get-grupos-projeto/${id}/`)
            .then(response => response.json())
            .then(data => {
                if (data.status==200){                    
                    divLoading.style.display = 'none';                                    
                    data.grupos.forEach(grupo => {                        
                        check = grupo.status ? 'checked' : ''
                        divGrupos.innerHTML += `<div class="grupos-projeto-selecao w-100">
                                <input type="checkbox" ${check} name="projetos-grupos" value="${grupo.id}" class="me-2">${grupo.nome}
                            </div>`
                    });
                }
            });
      
    }
    class Projeto {
        constructor(id, nome, responsavel_id, responsavel_nome, responsavel_img, data_inicio, data_fim, descricao, status, status_display) {
            this.id = id;
            this.nome = nome;
            this.responsavel = { id: responsavel_id, nome: responsavel_nome, img: responsavel_img };
            this.data_inicio = data_inicio;
            this.data_fim = data_fim;
            this.descricao = descricao;
            this.status = status;
            this.status_display = status_display;            
        }

        formatDate(date) {
            return new Date(date).toLocaleDateString();
        }

        get dataInicioFormatada() {
            return this.formatDate(this.data_inicio);
        }

        get dataFimFormatada() {
            return this.formatDate(this.data_fim);
        }
        updateDisplay() {
            const tr = document.querySelector(`#tr-${this.id}`);
            if (!tr) return; 

            tr.querySelector('.nome_projeto').textContent = this.nome;
            tr.querySelector('.responsavel_projeto').textContent = this.responsavel.nome;            
            tr.querySelector('.projeto_status').innerHTML = this.status_display;   
            tr.querySelector('.projeto_status').style.backgroundColor = this.getStatusColor();
            tr.querySelector('.icone-status').innerHTML = this.getStatusIcon();

        }
        getStatusColor() {
            switch (this.status) {
                case 'C': return '#313131';
                case 'E': return '#FCAA3D';
                case 'F': return '#00C875';
                case 'P': return '#da2e48';
                default: return '#000000'; // Cor padrão caso o status não seja reconhecido
            }
        }

        getStatusIcon() {
            switch (this.status) {
                case 'C':
                    return '<i class="fa-solid fa-circle-notch me-3" style="color: #313131;"></i>';
                case 'E':
                    return '<i class="fa-regular fa-clock me-3" style="color: #FCAA3D;"></i>';
                case 'F':
                    return '<i class="fa-solid fa-circle-check me-lg-3" style="color: #00C875;"></i>';
                case 'P':
                    return '<i class="fa-solid fa-circle-pause me-3" style="color: #da2e48;"></i>';
                default:
                    return ''; // Caso o status não seja reconhecido
            }
        }
    }

    const projetos = [];
    {% for projeto in projetos %}
        projetos.push(new Projeto(
            {{ projeto.id }},
            "{{ projeto.nome|escapejs }}",
            {% if projeto.responsavel %}{{ projeto.responsavel.id }}{% else %}null{% endif %},
            "{{ projeto.responsavel.nome|escapejs }}",
            "{{ projeto.responsavel.img|escapejs }}",
            "{{ projeto.data_inicio|date:'Y-m-d' }}",
            "{{ projeto.data_fim|date:'Y-m-d' }}",
            "{{ projeto.descricao|escapejs }}",
            "{{ projeto.status }}",
            "{{ projeto.get_status_display }}"
        ));
    {% endfor %}

    console.log(projetos)
    function toggleMembros(element){        
        let icon = document.querySelector(`#icon-down-${element.id.split('-')[1]}`);
        let membros = document.querySelector(`#${element.id}-membros`);        
        if (membros.classList.contains('hidden')){
            icon.classList.remove('fa-chevron-down');
            icon.classList.add('fa-chevron-up');            
            element.classList.add('grupo-ativo');
            membros.classList.remove('hidden');
            membros.classList.add('show');
        }else{
            icon.classList.remove('fa-chevron-up');
            icon.classList.add('fa-chevron-down');     ;
            element.classList.remove('grupo-ativo');
            membros.classList.remove('show');
            membros.classList.add('hidden');
        }
    }
    function getMeusGrupos(){
        fetch('/projetos/api/meus-grupos/')
            .then(response => response.json())
            .then(data => {
                if (data.status==200){
                    grupos = data.grupos;
                    let meusgrupos = document.querySelector('#meusgrupos');
                    meusgrupos.innerHTML = '';
                    grupos.forEach(grupo => {
                        let divMembros = '';
                        grupo.membros.forEach(membro => {
                                divMembros += `
                                    <div class="p-1">
                                        <div class="d-flex">
                                            <img class="me-2 my-auto" style="width: 18px; height: 18px;" src="${membro.img}" alt="">
                                            <span>${membro.nome}</span>
                                        </div>
                                    </div>
                                `;
                            });
                        meusgrupos.innerHTML += `
                        <div class="mb-2">
                            <div id="grupo-${grupo.id}" class="grupo d-flex py-2 ps-2" onclick="toggleMembros(this)">
                                <i class="fa-solid fa-users-viewfinder mt-1 ms-1 me-2"></i>
                                <span class="my-auto">${grupo.nome}</span>
                                <span style="font-size: 10pt; cursor: pointer;" class="ms-auto me-3">
                                    <i id="icon-down-${grupo.id}" class="fa-solid fa-chevron-down"></i>
                                </span>
                            </div>
                            <div id="grupo-${grupo.id}-membros" class="grupo-membros py-1 px-3 hidden">
                                <div class="p-1">
                                        <div class="d-flex" style="color: #141f5a;">
                                            <img class="me-2 my-auto" style="width: 18px; height: 18px;" src="${grupo.responsavel.img}" alt="">
                                            <span>${grupo.responsavel.nome}</span>
                                        </div>
                                    </div>
                                ${divMembros}
                            </div> 
                        </div>`                        
                    })
                };
            })                    
            .catch(error => {
                console.error('Erro:', error);
            });
    }
    function postCriarGrupo(){
        let membros = document.querySelectorAll('.membros-ids');
        let membros_ids = [];
        membros.forEach(membro => {
            membros_ids.push(membro.dataset.id);
        });
        let nome = document.querySelector('#nome').value;

        if (nome.length < 3) {
            alert('O nome do grupo deve ter no mínimo 3 caracteres.');
            return;
        }
        if (membros_ids.length < 1) {
            alert('O grupo deve ter no mínimo 1x membros.');
            return;
        }
        let formData = new FormData();
        formData.append('nome', nome);
        formData.append('membros', membros_ids);
        formData.append('csrfmiddlewaretoken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
        console.log(formData)
        fetch('/projetos/api/criar-grupo/', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 200) {
                // Exibir o grupo na tela
                console.log('Grupo criado:', data);
                // fecha o modal de criação de grupo
                closeModal('groupModal');
            } else {
                console.error('Erro:', data.erros || 'Erro desconhecido');
            }
        })
        .catch(error => {
            console.error('Erro ao enviar dados:', error);
        });
    }
    function addMembro(id, nome, img){
        document.querySelector('#inputSearchMembros').value = '';
        let membros = document.querySelector('#membros');
        let div = document.createElement('div');
        div.classList.add('d-flex', 'p-1');
        div.innerHTML = `
            <img class="me-2" style="width: 18px; height: 18px;" src="${img}" alt="">
            <span class="membros-ids" data-id="${id}">${nome}</span>
            <span style="color:rgb(255, 108, 108); font-size: 10pt; cursor: pointer;" class="ms-auto me-3" onclick="this.parentNode.remove();">
                <i class="fa-solid fa-user-minus"></i>
            </span>
        `;
        membros.appendChild(div);
        document.querySelector('#searchMembroResult').classList.remove('show');
        document.querySelector('#searchMembroResult').classList.add('hidden');
    }
    function buscaMembro(input){
        console.log(input.value)
        let search = input.value;
        let searchResult = document.querySelector('#searchMembroResult');
        if (search.length > 3){
            fetch(`/projetos/api/busca-membros/?search=${search}`)
                .then(response => response.json())
                .then(data => {
                    searchResult.innerHTML = '';
                    data.membros.forEach(membro => {
                        searchResult.innerHTML += `
                            <div class="d-flex p-1" onclick="addMembro(${membro.id}, '${membro.nome}', '${membro.img}')">
                                <img class="me-2" style="width: 18px; height: 18px;" src="${membro.img}" alt="">
                                <span data-id="${membro.id}">${membro.nome}</span>
                                <span style="font-size: 10pt;" class="ms-auto">
                                    <i class="fa-solid fa-user-plus"></i>
                                </span>
                            </div>
                        `;
                    });
                })
                .catch(error => {
                    searchResult.innerHTML = `<p class="px-3">Erro ao buscar membros.</p>`;
                    console.error('Erro:', error);
                });
            searchResult.classList.remove('hidden');
            searchResult.classList.add('show');
            searchResult.innerHTML = ''
        }else{
            searchResult.classList.remove('show');
            searchResult.classList.add('hidden');
        }
    }
    function toggleDetalhes(id) {
        let row = document.querySelector(`tr[onclick="toggleDetalhes(${id})"]`);
        let detailsRow = document.querySelector(`#detalhes-row-${id}`);

        if (detailsRow) {
            detailsRow.remove();
        } else {
            detailsRow = document.createElement('tr');
            detailsRow.id = `detalhes-row-${id}`;
            detailsRow.innerHTML = `
                <td colspan="6">
                    <div id="detalhes-${id}" style="padding: 0px 20px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 4px;">
                        Carregando detalhes...
                    </div>
                </td>
            `;
            row.parentNode.insertBefore(detailsRow, row.nextSibling);

            fetch(`/projetos/${id}/detalhes/`)
                .then(response => response.json())
                .then(data => {
                    grupos = ''
                    data.projeto.grupos.forEach(grupo => {
                        grupos += `${grupo.nome}<br>`;
                    });
                    document.querySelector(`#detalhes-${id}`).innerHTML = `
                        <div class="row">
                            <div class="col">
                                <p><strong>Descrição:</strong> <br><pan class="descricao">${data.projeto.descricao}</span></p>
                                <p><strong>Previsão execução:</strong> <br><span class="data_inicio">${data.projeto.data_inicio}</span>  <i class="fa-solid fa-arrow-right-long mx-3"></i> <span class="data_fim">${data.projeto.data_fim}</span></p>
                            </div>
                            <div class="col">
                                <p><strong>Grupos:</strong><br>
                                ${grupos}
                                </p>                                
                            </div>                          
                        </div>
                        <div class="row pe-0" style="margin-top: 10px">
                            <div class="col pe-0 menudetalhes" style="padding-bottom: 20px;">                                
                                <a href='/projetos/${id}/board/' class="btn btn-primary"><i class="fa-solid fa-eye me-2"></i>Visualizar</a>
                                <button class="btn btn-3" data-bs-toggle="modal" data-bs-target="#groupsProjetoModal" onclick="console.log(get_grupos_projeto(${id}))"><i class="fa-solid fa-people-line me-2"></i></i>Grupos</button>
                                <button class="btn btn-3"><i class="fa-solid fa-comment me-2"></i>Comentarios</button>
                                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editarProjetoModal" onclick="getProjetoInfo(${id})"><i class="fa-solid fa-file-pen me-2"></i>Editar</button>
                            </div
                        </div>

                    `;
                })
                .catch(error => {
                    document.querySelector(`#detalhes-${id}`).innerHTML = 'Erro ao carregar detalhes.';
                    console.error('Erro:', error);
                });
        }
    }
    function getProjetoInfo(id){
        form = document.querySelector('#form-editar-projeto');
        let projeto = projetos.find(projeto => projeto.id === id);

        form.querySelector('#id').value = projeto.id;
        form.querySelector('#nome_ed').value = projeto.nome;
        form.querySelector('#id_projeto_responsavel').value = projeto.responsavel.nome;
        form.querySelector('#id_responsavel').value = projeto.responsavel.id;
        form.querySelector('#descricao').value = projeto.descricao;
        form.querySelector('#data_inicio').value = projeto.data_inicio;
        form.querySelector('#data_fim').value = projeto.data_fim;
        form.querySelector('#id_status').value = projeto.status;
    }
    function addResponsavel(id, nome){
        intput_display=document.querySelector('#id_projeto_responsavel_display')
        intput_display.value = nome;
        intput_display.classList.remove('hidden');
        intput_display.classList.add('show');
        document.querySelector('#id_responsavel').value = id;
        document.querySelector('#searchResponsavelResult').classList.remove('show');
        document.querySelector('#searchResponsavelResult').classList.add('hidden');        
    }
    function searchResponsavel(){        
        let search = document.querySelector('#id_projeto_responsavel').value;
        let searchResult = document.querySelector('#searchResponsavelResult');
        
        if (search.length > 3){
            fetch(`/projetos/api/busca-membros/?search=${search}`)
                .then(response => response.json())
                .then(data => {
                    searchResult.innerHTML = '';
                    searchResult.classList.remove('hidden');
                    searchResult.classList.add('show');
                    
                    data.membros.forEach(membro => {
                        searchResult.innerHTML += `
                            <div class="responsavel-options d-flex px-4 py-1" onclick="addResponsavel(${membro.id}, '${membro.nome}')">                                
                                <span data-id="${membro.id}">${membro.nome}</span>
                                <span style="font-size: 10pt;" class="ms-auto">
                                    <i class="fa-solid fa-user-plus"></i>
                                </span>
                            </div>
                        `;
                    });
                })
                .catch(error => {
                    searchResult.innerHTML = `<p class="px-3">Erro ao buscar membros.</p>`;
                    console.error('Erro:', error);
                });
            searchResult.classList.remove('hidden');
            searchResult.classList.add('show');
            searchResult.innerHTML = ''
        }else{
            searchResult.classList.remove('show');
            searchResult.classList.add('hidden');
        }
    }
    function postEditarProjeto(){
        let form = document.querySelector('#form-editar-projeto');
        let formData = new FormData(form);

        fetch('/projetos/api/editar-projeto/', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 200) {
                console.log('Projeto atualizado:', data);
                // Atualizar o projeto na tela
                let projeto = projetos.find(projeto => projeto.id === data.projeto.id);
                projeto.nome = data.projeto.nome;
                projeto.responsavel = data.projeto.responsavel;
                projeto.data_inicio = data.projeto.data_inicio;
                projeto.data_fim = data.projeto.data_fim;
                projeto.descricao = data.projeto.descricao;
                projeto.status = data.projeto.status;
                projeto.status_display = data.projeto.status_display;
                projeto.updateDisplay()
                console.log(projeto.responsavel)   
                toggleDetalhes(data.projeto.id);
                toggleDetalhes(data.projeto.id);      
            } else {
                console.error('Erro:', data.erros || 'Erro desconhecido');
            }
        })
        .catch(error => {
            console.error('Erro ao enviar dados:', error);
        });
    }
    // let aux = 0;                    
    // function clickTable(id){
    //     if (aux == 0){
    //         window.location.href=`/projetos/${id}/board/`;                            
    //     }else{
    //         aux=0
    //     }
    // }
    // function getDetalhes(id){
    //     console.log(id)
    // }
    function closeModal(id) {
        const modalElement = document.getElementById(id);
        if (modalElement) {
            const modalInstance = bootstrap.Modal.getInstance(modalElement);
            if (modalInstance) {
                modalInstance.hide();
            } else {
                // Criar instância se não existir e fechar
                new bootstrap.Modal(modalElement).hide();
            }
        }
    }

    function addNovoProjeto(id, nome, responsavel, dt_fim, descricao, status){
        let table = document.querySelector('table tbody');
        let tr = document.createElement('tr');

        if (status == 'C'){
            var td_status = `<td style="text-align: center; background-color: #313131; color: white; max-width: 100px;">Planejamento</td>`;
            var icone = `<i class="fa-solid fa-circle-notch me-3" style="color: #313131;"></i>`;
        }else if (status == 'E'){
            var td_status = `<td style="text-align: center; background-color: #FCAA3D; color: white; max-width: 100px;">Em andamento</td>`;
            var icone = `<i class="fa-regular fa-clock me-3" style="color: #FCAA3D;"></i>`;
        }else if (status == 'F'){
            var td_status = `<td style="text-align: center; background-color: #00C875;; color: white; max-width: 100px;">Finalizado</td>`;
            var icone = `<i class="fa-solid fa-circle-check me-lg-3" style="color: #00C875;"></i>`;
        }else if (status == 'P'){
            var td_status = `<td style="text-align: center; background-color: #da2e48; color: white; max-width: 100px;">Parado</td>`;
            var icone = `<i class="fa-solid fa-circle-pause me-3" style="color: #da2e48;"></i>`;
        }

        tr.innerHTML = `
            <td>${nome}</td>
            <td>
                <img class="mb-1 me-2" style="width: 18px; height: 18px;" src="/static/images/user.png" alt="">
                ${responsavel}
            </td>
            <td>
                ${icone}${dt_fim}
            </td>            
            ${td_status}
        `;
        table.appendChild(tr);
        document.querySelector('#form-projeto').reset();
    }
    function postCriarProjeto() {
        let form = document.querySelector('#form-projeto');
        let formData = new FormData(form);

        fetch('/projetos/api/criar-projeto/', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())  // Garantir que a resposta seja convertida em JSON
        .then(data => {
            if (data.status === 200) {
                // Exibir o projeto na tela, você pode personalizar a função 'addNovoProjeto' como preferir
                addNovoProjeto(data.projeto.id, data.projeto.nome, data.projeto.responsavel, data.projeto.data_fim, data.projeto.descricao, data.projeto.status);
            } else {
                console.error('Erro:', data.erros || 'Erro desconhecido');
            }
        })
        .catch(error => {
            console.error('Erro ao enviar dados:', error);
        });
    }
</script>      
{% endblock %}
