<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="container-fluid">
    <header class="row">
        <div class="col d-flex p-3">
                <div class="logo">
                    <img src="https://intranet.novafriburgo.rj.gov.br/static/brasao.ico" alt="">
                </div>
                <h1 class="my-auto">Indicadores chamados</h1>
            <div id="indicadornumerico" class="m-auto d-flex text-center">
                <div class="me-5">
                    Total de chamados no ano
                    <br>
                    <span>
                        <span class="text-success  me-2">
                            <i class="fa-solid fa-ticket"></i>
                        </span>
                        {{total}}
                    </span>
                </div>
                <div class="ms-5 text-center">
                    Total de chamados resolvidos
                    <br>
                    <span class="text-success me-2"><i class="fa-solid fa-arrow-trend-up"></i></span>
                    <span>{{total_resolvidos}}</span>
                </div>
                
            </div>
            <div id="alertas" class="m-auto">
                <span class="m-auto">Nenhum alerta no momento.</span>
            </div>
            <div class="my-auto ms-auto">
                <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="fa-solid fa-eye me-2"></i>Monitor de serviços
                </button>            
            </div>
        </div>
    </header>

    <section id="graficos" class="row">
        <div class="col" style="height: 100%;">
            <div class="row">
                <div class="col">
                    <canvas id="graficoAtendimentos"></canvas>
                </div>                
                <div class="col">                    
                    <canvas id="graficoChamadosSecretaria"></canvas>
                </div>
                <div class="col">                    
                    <canvas id="graficoEvolucaoAtendimentos"></canvas>                    

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <canvas id="graficoEvolucaoComputadores"></canvas>
                </div>
                <div class="col d-flex">
                    <canvas id="graficoEvolucaoChamados"></canvas>

                </div>
                <div class="col d-flex">                    
                    <canvas id="graficoEvolucaoImpressora"></canvas>
                </div>                                
                <div class="col">
                    <canvas id="graficoEvolucaoSistemas"></canvas>
                </div>
                <div class="col">
                    <canvas id="graficoEvolucaoTelefonia"></canvas>
                </div>                
            </div>     
            <div class="row" style="height: auto;">
                <div class="col">
                    Não sei porque o internet está sumindo em produção e porque o secretarias não tá pegando... Resolver isso amanhã.
                </div>
            </div>       
        </div>
    </section>
    

    <div class="offcanvas bg-dark offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Monitor de serviços</h5>
        <button type="button" class="btn text-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid">
            <!-- Serviço A -->
            <div class="row align-items-center mb-3">
                <div class="col-1 text-center">
                    <span class="status-indicator bg-success"></span>
                </div>
                <div class="col-4">
                    <span class="site-name">Nome do serviço A</span>
                </div>
                <div class="col-7">
                    <div class="status-bars">
                        <span class="bar bg-success"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-danger"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-danger"></span>
                        <!-- Adicione mais barras conforme necessário -->
                    </div>
                </div>
            </div>

            <!-- Serviço B -->
            <div class="row align-items-center mb-3">
                <div class="col-1 text-center">
                    <span class="status-indicator bg-danger"></span>
                </div>
                <div class="col-4">
                    <span class="site-name">Nome do serviço B</span>
                </div>
                <div class="col-7">
                    <div class="status-bars">
                        <span class="bar bg-danger"></span>
                        <span class="bar bg-danger"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-danger"></span>
                        <span class="bar bg-success"></span>
                        <!-- Adicione mais barras conforme necessário -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <style>
        canvas{
            width: 100%;
        }
        header #alertas{
            width: 300px;
            display: flex;
            background-color: white;
            color: black;
            padding: 8px 30px;
            border-radius: 30px;
            text-align: center;
        }
        header #alertas span{
            color: blue;
            font-weight: bold;
        }

        .logo{
            margin: 0 20px 0 0;
            width: 40px;
        }
        /* .col, .col-3, .col-4, .col-8{
            border: 1px solid white;
        } */
        html, body {
            height: 100%;
            background-color: black;
            color: white;
        }
        #graficos {
            height: 87%;
            margin-top: 20px;
        }
        #graficos .col, #graficos .col .row {
            height: 40%;
        }
        #graficos .col .row .col{
            height: 100%;
            display: flex;
        }
        
        header {
            background-color: #1c1c1e; /* Cor de fundo escura */
            color: #ffffff; /* Texto branco */
            border-bottom: 2px solid #343a40; /* Linha de separação */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra discreta */
        }

        header .logo img {
            height: 50px; /* Tamanho ajustado do brasão */
            margin-right: 15px; /* Espaço entre o brasão e o título */
        }

        header h1 {
            font-size: 1.5rem; /* Tamanho do título */
            margin: 0;
            font-weight: bold;
        }

        header .d-flex > div {
            font-size: 0.9rem; /* Texto menor nos totais */
        }

        header .btn {
            background-color: #343a40; /* Cor do botão */
            border-color: #555; /* Borda discreta */
            color: #ffffff;
        }

        header .btn:hover {
            background-color: #495057; /* Alteração ao passar o mouse */
        }
        #indicadornumerico span{
            font-size: 1.5rem; /* Tamanho do número */
            font-weight: bold;
        }
        .offcanvas.bg-dark {
            background-color: #212529; /* Fundo escuro */
            color: #ffffff;          /* Texto claro */
            width: 40%;
        }

        .offcanvas-header {
            border-bottom: 1px solid #343a40; /* Linha separadora discreta */
        }

        .offcanvas-body {
            padding: 1.5rem;
        }

        .btn-close-white {
            filter: invert(1); /* Garante que o botão de fechar fique visível no tema escuro */
        }
        .offcanvas {
            box-shadow: -4px 0 15px rgba(32, 32, 32, 0.5); /* Sombra no lado direito */
        }

        .offcanvas .offcanvas-title {
            font-weight: bold;
         }

        /* Indicador de Status (círculo) */
        .status-indicator {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        }

        /* Nome do Site */
        .site-name {
            font-size: 1rem;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* Barras de Status */
        .status-bars {
            display: flex;
            gap: 2px;
        }

        .bar {
            margin-right: 2px;
            width: 4px;
            height: 18px;
            border-radius: 4px;
            background-color: #6c757d; /* Cor padrão (neutra) */
        }

       /* #offcanvasRight{
            background-color: rgb(32, 32, 32);
        } */
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        fetch('{% url 'dashboards:get-dados-atendimento' %}') // Modifique para sua rota real
            .then(response => response.json())
            .then(data => {
                const ctx = document.getElementById('graficoAtendimentos').getContext('2d');
                new Chart(ctx, {
                    type: 'bar', // Tipo do gráfico
                    data: data,
                    options: {
                        responsive: true,
                        plugins: {
                            legend: { position: 'top' },
                            title: { display: true, text: 'Total de Atendimentos de Chamados por Mês', color: '#FFFFFF' }
                        },
                        scales: {
                            x: { title: { display: true, text: 'Mês', color: '#FFFFFF' }, ticks: { color: '#FFFFFF' } },
                            y: { title: { display: true, text: 'Total de Chamados', color: '#FFFFFF' }, ticks: { color: '#FFFFFF' } }
                        }
                    }
                });
            });
    //         fetch('{% url "dashboards:get-dados-servicos" %}')
    // .then(response => response.json())
    // .then(data => {
    //     const ctx = document.getElementById('graficoServicos').getContext('2d');
    //     new Chart(ctx, {
    //         type: 'bar', // Alterado para barra (ou outro estilo semelhante)
    //         data: {
    //             labels: data.labels, // Obtém os labels da API
    //             datasets: [{
    //                 label: 'Percentual de Chamados por Tipo de Serviço',
    //                 data: data.values, // Obtém os valores da API
    //                 backgroundColor: data.colors, // Obtém as cores personalizadas da API
    //                 borderColor: data.colors.map(color => color.replace('FF', 'AA')), // Borda mais clara
    //                 borderWidth: 1
    //             }]
    //         },
    //         options: {
    //             responsive: true,
    //             plugins: {
    //                 title: {
    //                     display: true,
    //                     text: 'Percentual de Chamados por Serviço',
    //                     color: '#FFFFFF'
    //                 },
    //                 legend: {
    //                     display: false // Remove a legenda para seguir o estilo do gráfico anterior
    //                 }
    //             },
    //             scales: {
    //                 x: {
    //                     ticks: { color: '#FFFFFF' }, // Cor dos rótulos no eixo X
    //                     title: {
    //                         display: true,
    //                         text: 'Tipos de Serviço',
    //                         color: '#FFFFFF'
    //                     }
    //                 },
    //                 y: {
    //                     ticks: { color: '#FFFFFF' }, // Cor dos rótulos no eixo Y
    //                     title: {
    //                         display: true,
    //                         text: 'Percentual (%)',
    //                         color: '#FFFFFF'
    //                     },
    //                     beginAtZero: true
    //                 }
    //             }
    //         }
    //     });
    // })
    // .catch(error => console.error('Erro ao carregar dados do gráfico:', error));
    fetch('{% url "dashboards:get-dados-internet" %}')
    .then(response => response.json())
    .then(data => {
        const ctx = document.getElementById('graficoEvolucaoChamados').getContext('2d');
        new Chart(ctx, {
            type: 'line', // Gráfico de linha
            data: {
                labels: data.labels, // Meses
                datasets: [{
                    label: 'Internet',
                    data: data.values, // Valores
                    borderColor: '#007bff', // Cor da linha
                    backgroundColor: 'rgba(0, 123, 255, 0.2)', // Cor do preenchimento
                    borderWidth: 2,
                    tension: 0.4, // Suavizar a linha
                    pointBackgroundColor: '#fff',
                    pointBorderColor: '#007bff',
                    pointRadius: 5,
                    pointHoverRadius: 7
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Internet',
                         color: '#FFFFFF'
                    },
                    legend: {
                        display: false // Desativa a legenda
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return `Total: ${context.raw}`;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: { color: '#FFFFFF' },
                        title: {
                            display: true,
                            text: 'Mês',
                             color: '#FFFFFF'
                        }
                    },
                    y: {
                        ticks: { color: '#FFFFFF' },
                        title: {
                            display: true,
                            text: 'Número de Chamados',
                             color: '#FFFFFF'
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    });
    fetch('{% url "dashboards:get-dados-evolucao-atendimentos" %}')
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoEvolucaoAtendimentos').getContext('2d');
            new Chart(ctx, {
                type: 'line', // Gráfico de linha
                data: {
                    labels: data.labels, // Datas
                    datasets: data.datasets.map(atendente => ({
                        label: atendente.label,
                        data: atendente.data,
                        borderColor: '#007bff', // Cor da linha
                        backgroundColor: 'rgba(0, 123, 255, 0.2)', // Cor do preenchimento
                        borderWidth: 2,
                        tension: 0.4, // Suavizar a linha
                        pointBackgroundColor: '#fff',
                        pointBorderColor: '#007bff',
                        pointRadius: 5,
                        pointHoverRadius: 7
                    }))
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Evolução de Atendimentos por Atendente nos Últimos 30 Dias',
                            color: '#FFFFFF'
                        },
                        legend: {
                            display: true // Exibe a legenda
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return `Atendimentos: ${context.raw}`;
                                }
                            }
                        }
                    },
                    scales: {
                        x: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: true,
                                text: 'Data',
                                color: '#FFFFFF'
                            }
                        },
                        y: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: true,
                                text: 'Número de Atendimentos',
                                color: '#FFFFFF'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        });
        fetch('{% url "dashboards:get-dados-impressora" %}')
    .then(response => response.json())
    .then(data => {
        const ctx = document.getElementById('graficoEvolucaoImpressora').getContext('2d');
        new Chart(ctx, {
            type: 'line', // Gráfico de linha
            data: {
                labels: data.labels, // Meses
                datasets: [{
                    label: 'Impressora',
                    data: data.values, // Valores
                    borderColor: '#007bff', // Cor da linha
                    backgroundColor: 'rgba(0, 123, 255, 0.2)', // Cor do preenchimento
                    borderWidth: 2,
                    tension: 0.4, // Suavizar a linha
                    pointBackgroundColor: '#fff',
                    pointBorderColor: '#007bff',
                    pointRadius: 5,
                    pointHoverRadius: 7
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Impressora',
                         color: '#FFFFFF'
                    },
                    legend: {
                        display: false // Desativa a legenda
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return `Total: ${context.raw}`;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: { color: '#FFFFFF' },
                        title: {
                            display: true,
                            text: 'Mês',
                             color: '#FFFFFF'
                        }
                    },
                    y: {
                        ticks: { color: '#FFFFFF' },
                        title: {
                            display: true,
                            text: 'Número de Chamados',
                             color: '#FFFFFF'
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    });
    fetch('{% url "dashboards:get-dados-computadores" %}')
    .then(response => response.json())
    .then(data => {
        const ctx = document.getElementById('graficoEvolucaoComputadores').getContext('2d');
        new Chart(ctx, {
            type: 'line', // Gráfico de linha
            data: {
                labels: data.labels, // Meses
                datasets: [{
                    label: 'Computadores',
                    data: data.values, // Valores
                    borderColor: '#007bff', // Cor da linha
                    backgroundColor: 'rgba(0, 123, 255, 0.2)', // Cor do preenchimento
                    borderWidth: 2,
                    tension: 0.4, // Suavizar a linha
                    pointBackgroundColor: '#fff',
                    pointBorderColor: '#007bff',
                    pointRadius: 5,
                    pointHoverRadius: 7
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Computadores',
                         color: '#FFFFFF'
                    },
                    legend: {
                        display: false // Desativa a legenda
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return `Total: ${context.raw}`;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: { color: '#FFFFFF' },
                        title: {
                            display: true,
                            text: 'Mês',
                             color: '#FFFFFF'
                        }
                    },
                    y: {
                        ticks: { color: '#FFFFFF' },
                        title: {
                            display: true,
                            text: 'Número de Chamados',
                             color: '#FFFFFF'
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    });
    fetch('{% url "dashboards:get-dados-sistemas" %}')
    .then(response => response.json())
    .then(data => {
        const ctx = document.getElementById('graficoEvolucaoSistemas').getContext('2d');
        new Chart(ctx, {
            type: 'line', // Gráfico de linha
            data: {
                labels: data.labels, // Meses
                datasets: [{
                    label: 'Sistemas',
                    data: data.values, // Valores
                    borderColor: '#007bff', // Cor da linha
                    backgroundColor: 'rgba(0, 123, 255, 0.2)', // Cor do preenchimento
                    borderWidth: 2,
                    tension: 0.4, // Suavizar a linha
                    pointBackgroundColor: '#fff',
                    pointBorderColor: '#007bff',
                    pointRadius: 5,
                    pointHoverRadius: 7
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Sistemas',
                         color: '#FFFFFF'
                    },
                    legend: {
                        display: false // Desativa a legenda
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return `Total: ${context.raw}`;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: { color: '#FFFFFF' },
                        title: {
                            display: true,
                            text: 'Mês',
                             color: '#FFFFFF'
                        }
                    },
                    y: {
                        ticks: { color: '#FFFFFF' },
                        title: {
                            display: true,
                            text: 'Número de Chamados',
                             color: '#FFFFFF'
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    });
    fetch('{% url "dashboards:get-dados-telefonia" %}')
    .then(response => response.json())
    .then(data => {
        const ctx = document.getElementById('graficoEvolucaoTelefonia').getContext('2d');
        new Chart(ctx, {
            type: 'line', // Gráfico de linha
            data: {
                labels: data.labels, // Meses
                datasets: [{
                    label: 'Telefonia',
                    data: data.values, // Valores
                    borderColor: '#007bff', // Cor da linha
                    backgroundColor: 'rgba(0, 123, 255, 0.2)', // Cor do preenchimento
                    borderWidth: 2,
                    tension: 0.4, // Suavizar a linha
                    pointBackgroundColor: '#fff',
                    pointBorderColor: '#007bff',
                    pointRadius: 5,
                    pointHoverRadius: 7
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Telefonia',
                         color: '#FFFFFF'
                    },
                    legend: {
                        display: false // Desativa a legenda
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return `Total: ${context.raw}`;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: { color: '#FFFFFF' },
                        title: {
                            display: true,
                            text: 'Mês',
                             color: '#FFFFFF'
                        }
                    },
                    y: {
                        ticks: { color: '#FFFFFF' },
                        title: {
                            display: true,
                            text: 'Número de Chamados',
                             color: '#FFFFFF'
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    });
    fetch('{% url "dashboards:get-dados-chamados-secretaria" %}')
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoChamadosSecretaria').getContext('2d');
            new Chart(ctx, {
                type: 'bar', // Gráfico de barra
                data: {
                    labels: data.labels, // Nomes das secretarias
                    datasets: [{
                        label: 'Total de Chamados',
                        data: data.values, // Totais por secretaria
                        backgroundColor: 'rgba(0, 123, 255, 0.5)', // Cor das barras
                        borderColor: '#007bff', // Cor da borda das barras
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Chamados por Secretaria',
                            color: '#FFFFFF'
                        },
                        legend: {
                            display: false // Desativa a legenda
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return `Total: ${context.raw}`;
                                }
                            }
                        }
                    },
                    scales: {
                        x: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: true,
                                text: 'Secretarias',
                                color: '#FFFFFF'
                            }
                        },
                        y: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: true,
                                text: 'Número de Chamados',
                                color: '#FFFFFF'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>