<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<script>
    let periodo = 'dia';
</script>
<body class="container-fluid df-elx flex-column">
    <header class="row">
        <div class="col d-flex px-3">
                <div class="my-auto logo">
                    <img src="https://intranet.novafriburgo.rj.gov.br/static/brasao.ico" alt="">
                </div>
                <h1 class="my-auto">Indicadores TIC</h1>               
            <div class="m-auto">

            </div>
            <div id="alertas" class="ms-auto my-auto">
                <span class="m-auto">Nenhum alerta no momento.</span>
            </div>
            <div class="my-auto ms-4">
                <button id="menu" class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="fa-solid fa-eye me-2"></i>Monitor de serviços
                </button>     
                <button class="btn btn-dark my-auto ms-lg-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-gear"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.733);">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content bg-dark">
                        <div class="modal-header bg-dark border-0">
                        <h1 class="modal-title fs-5 bg-dark" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="px-5 modal-body bg-dark">
                            
                            <div class="row">
                                <div class="col d-flex flex-column">
                                    <p>Período dos gráficos</p>
                                    <div class="d-flex">
                                        <div>
                                            <input type="radio" name="periodo" id="dia" value="dia" onclick="mudarPeriodo(this)">
                                            <label for="dia">Dia</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="periodo" id="semana" value="semana" onclick="mudarPeriodo(this)">
                                            <label for="ano">Semana</label>
                                        </div>
                                        <div class="mx-3">
                                            <input type="radio" name="periodo" id="mes" value="mes" onclick="mudarPeriodo(this)">
                                            <label for="mes">Mês</label>
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="col d-flex flex-column">
                                    Grafíco atendentes
                                    <div class="mt-3">
                                        <div class="container">
                                            <div class="d-flex justify-content-center align-items-center">
                                              <p class="me-3 my-auto">Grafíco de linha</p>
                                              <div class="form-check my-auto form-switch">
                                                <input class="form-check-input" type="checkbox" id="switchToggle" onclick="alterarValor(this)">
                                              </div>
                                              <p class="ms-3 my-auto">Grafíco de barra</p>
                                            </div>
                                          </div>    

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer border-0 bg-dark">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" onclick="gerarGraficos(periodo, graficoAtendentes)" data-bs-dismiss="modal">Aplicar alterações</button>
                        </div>
                    </div>
                    </div>
                </div>       
            </div>
        </div>
    </header>
    <main class="container-fluid m-auto">
        <section id="graficos" class="row">
            <div class="col-4" style="height: 100%;">
                <div class="row">
                    <div class="col">
                        <div id="indicadornumerico" class="d-flex text-center justify-content-around">
                            <div>
                                <span class="text-indicador" style="background-color: darkblue; padding: 0 20px;">
                                    Total de chamados
                                </span>
                                <br>
                                <span>
                                    <span class="me-2" style="color: purple;">
                                        <i class="fa-solid fa-arrow-trend-up"></i>
                                    </span>
                                    {{total}}
                                </span>
                            </div>
                            <div>
                                <span class="text-indicador" style="background-color: darkblue; padding: 0 20px;">
                                    Total resolvidos
                                </span>
                                <br>
                                <span>
                                    <span class="text-success me-2">
                                        <i class="fa-solid fa-arrow-trend-up"></i>
                                    </span>
                                    {{total_resolvidos}}
                                </span>
                            </div>
                            <div>
                                <span class="text-indicador" style="background-color: darkblue; padding: 0 20px;">
                                    Taxa de eficência
                                </span>
                                <br>
                                <span>
                                    <span class="text-success me-2">
                                        <i class="fa-solid fa-arrow-trend-up"></i>
                                    </span>
                                    {{eficiencia}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-5">
                            <canvas id="graficoChamadosSecretaria"></canvas>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col a pt-3">
                        <canvas id="graficoAtendimentos"></canvas>

                    </div>                    
                </div>
            </div>
            <div class="col" style="height: 100%;">         
                <div class="row">
                    <!-- <div class="col-2 d-flex flex-column" style="color: black;">
                        <span class="m-auto">
                            Totais
                        </span>
                    </div> -->
                    <!-- <div class="col-3">
                        <canvas id="donutChart"></canvas>

                    </div> -->
                    <div class="col-6">
                        <canvas id="graficoEvolucaoAtendimentos"></canvas>                    
                        <canvas style="display: none;" id="graficoAtendimentosPorAtendente"></canvas>

                    </div>
                    <div class="col d-flex">                        
                        <table class="table text-white table-borderless m-auto">
                            <thead>
                                <tr>
                                    <th style="font-weight: bold;" colspan="2" scope="col">Informações</th>                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Chamados em aberto</td>
                                    <td id="chamadosAbertos" style="font-weight: bold;">{{chamados_abertos}}</td>
                                </tr>
                                <tr>
                                    <td>Chamados pendentes</td>
                                    <td id="chamadosPendentes" style="font-weight: bold;">{{chamados_pendentes}}</td>
                                </tr>                            
                                <tr>
                                    <td>Chamados criados hoje</td>
                                    <td id="chamadosHoje" style="font-weight: bold;">{{chamados_criados_hoje}}</td>
                                </tr>
                                <tr>
                                    <td>Média diária</td>
                                    <td id="mediaDiaria" style="font-weight: bold;">{{media_diaria}}</td>
                                </tr>
                                <tr>
                                    <td>Chamados criados esse mês</td>
                                    <td id="chamadosMes" style="font-weight: bold;">{{chamados_criados_mes}}</td>
                                </tr>
                                <tr>
                                    <td>Média mensal</td>
                                    <td id="mediaMensal" style="font-weight: bold;">{{media_mensal}}</td>
                                </tr>
    
                                
                            </tbody>
                        </table>
                        </div>
                    

                    
                </div>
                <div class="row" id="graficosTipo">             
                    <div class="col">
                        <canvas style="height: 25vh;" id="graficoEvolucaoComputadores"></canvas>
                    </div>
                    <div class="col">
                        <canvas style="height: 25vh;" id="graficoEvolucaoChamados"></canvas>
                    </div>
                    <div class="col">
                        <canvas style="height: 25vh;" id="graficoEvolucaoImpressora"></canvas>
                    </div>
                </div>
                <div class="row" id="graficosTipo2">
                    
                    <div class="col">
                        <canvas style="height: 25vh;" id="graficoEvolucaoSistemas"></canvas>
                    </div>
                    <div class="col">
                        <canvas style="height: 25vh;" id="graficoEvolucaoTelefonia"></canvas>
                    </div>
                    <div class="col">
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- <main class="container-fluid">
        <section id="graficos" class="row">
            <div class="col" style="height: 100%;">
                <div class="row">
                    <div class="col d-flex pb-4">
                        
                    </div>
                    <div class="col">
                        opa
                    </div>
                </div>       
                <div class="row">
                    <div class="col">
                    </div>                
                    <div class="col">                    
                    </div>
                    <div class="col">                    
    
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col d-flex">
    
                    </div>
                    <div class="col d-flex">                    
                    </div>                                
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>                
                </div>     
               
            </div>
        </section>
        
    </main> -->

    <div class="offcanvas bg-dark offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Monitor de serviços</h5>
        <button type="button" class="btn text-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid">
            <!-- Serviço A -->
            <div class="row align-items-center mb-3">
                <div class="col-1 text-center">
                    <span class="status-indicator bg-success"></span>
                </div>
                <div class="col-4">
                    <span class="site-name">Nome do serviço A</span>
                </div>
                <div class="col-7">
                    <div class="status-bars">
                        <span class="bar bg-success"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-danger"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-danger"></span>
                        <!-- Adicione mais barras conforme necessário -->
                    </div>
                </div>
            </div>

            <!-- Serviço B -->
            <div class="row align-items-center mb-3">
                <div class="col-1 text-center">
                    <span class="status-indicator bg-danger"></span>
                </div>
                <div class="col-4">
                    <span class="site-name">Nome do serviço B</span>
                </div>
                <div class="col-7">
                    <div class="status-bars">
                        <span class="bar bg-danger"></span>
                        <span class="bar bg-danger"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-success"></span>
                        <span class="bar bg-danger"></span>
                        <span class="bar bg-success"></span>
                        <!-- Adicione mais barras conforme necessário -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <style>
        tr, td{
            line-height: 14pt;
        }
        canvas{
            width: 100%;
        }
        header #alertas{
            width: 300px;
            display: flex;
            background-color: white;
            color: black;
            padding: 1vh 30px;
            border-radius: 30px;
            text-align: center;
        }
        header #alertas span{
            color: blue;
            font-weight: bold;
        }
        header .btn{
            height: auto;
            /* padding: 1vh; */
        }
        .logo{
            margin: 0 20px 0 0;
        }
        /* .col, .col-3, .col-4, .col-8{
            border: 1px solid white;
        } */
        html, body {
            height: 100%;
            background-color: black;
            color: white;
        }
        #graficos {
            height: 87%;
            margin-top: 20px;
        }
        /* #graficos .col, #graficos .col .row {
            height: 292px;
        } */
        #graficos .col .row .col{
            
            display: flex;
        }
        
        header {
            background-color: #1c1c1e; /* Cor de fundo escura */
            color: #ffffff; /* Texto branco */
            border-bottom: 2px solid #343a40; /* Linha de separação */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra discreta */
            height: 7vh;
        }

        header .logo img {
            /* height: 50px;  */
            height: 5vh;
            margin-right: 15px; /* Espaço entre o brasão e o título */
        }

        header h1{
            font-size: 3vh; /* Tamanho do título */
            margin: 0;
            font-weight: bold;
        }

        header .d-flex > div {
            font-size: 1.6vh; /* Texto menor nos totais */
        }

        header .btn {
            background-color: #343a40; /* Cor do botão */
            border-color: #555; /* Borda discreta */
            color: #ffffff;
        }

        header .btn:hover {
            background-color: #495057; /* Alteração ao passar o mouse */
        }
        
        #indicadornumerico .text-indicador{
            color: white;
            font-size: 1.5vh; /* Tamanho do texto */
            font-weight: bold;
        }
        #indicadornumerico span{
            font-size: 1.5rem; /* Tamanho do número */
            font-weight: bold;
        }
        .offcanvas.bg-dark {
            background-color: #212529; /* Fundo escuro */
            color: #ffffff;          /* Texto claro */
            width: 40%;
        }

        .offcanvas-header {
            border-bottom: 1px solid #343a40; /* Linha separadora discreta */
        }

        .offcanvas-body {
            padding: 1.5rem;
        }

        .btn-close-white {
            filter: invert(1); /* Garante que o botão de fechar fique visível no tema escuro */
        }
        .offcanvas {
            box-shadow: -4px 0 15px rgba(32, 32, 32, 0.5); /* Sombra no lado direito */
        }

        .offcanvas .offcanvas-title {
            font-weight: bold;
         }

        /* Indicador de Status (círculo) */
        .status-indicator {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        }

        /* Nome do Site */
        .site-name {
            font-size: 1rem;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* Barras de Status */
        .status-bars {
            display: flex;
            gap: 2px;
        }

        .bar {
            margin-right: 2px;
            width: 4px;
            height: 18px;
            border-radius: 4px;
            background-color: #6c757d; /* Cor padrão (neutra) */
        }

        tbody tr:nth-child(odd) {   
            background-color: #1b1b1b; /* Cor de fundo para linhas ímpares */
        }
        table, tr, td, th{
            font-size: 1.8vh;
            line-height: 10pt;
        }
        /* Estilizando o switch */
        .form-check-input {
        background-color: #000;  /* Fundo preto */
        border-color: #ccc; /* Cor da borda do switch */
        position: relative;
        }

        /* A bolinha do switch, que será branca */
        .form-check-input::before {
        background-color: #fff; /* Bolinha branca */
        border-radius: 50%; /* Fazendo a bolinha redonda */
        content: ''; /* Garantindo que a bolinha apareça */
        position: absolute;
        top: 2px; /* Ajuste a posição para alinhar a bolinha corretamente */
        left: 3px; /* Ajuste a posição para alinhar a bolinha corretamente */
        width: 8px; /* Tamanho da bolinha */
        height: 8px; /* Tamanho da bolinha */
        transition: 0.3s; /* Suaviza a transição da bolinha */
        }

        /* Quando o switch estiver ligado, mudamos a posição da bolinha */
        .form-check-input:checked {
        background-color: #000; /* Mantenha o fundo preto */
        }

        /* Estilizando a bolinha quando estiver no estado "ligado" */
        .form-check-input:checked::before {
        left: 16px; /* A bolinha se move para a direita quando ligado */
        }

       /* #offcanvasRight{
            background-color: rgb(32, 32, 32);
        } */
        #graficoChamadosSecretaria{
            height: 40vh;
        }
        #graficoEvolucaoAtendimentos{
            height: 45vh;
        }
        #graficoAtendimentosPorAtendente{
            height: 40vh;
        }
        #graficosTipo, #graficosTipo2{
            height: 25vh !important;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    
        
    function gerarTotalAtendimentos() {
        fetch('{% url 'dashboards:get-dados-atendimento' %}') // Modifique para sua rota real
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoAtendimentos').getContext('2d');
            new Chart(ctx, {
                type: 'bar', // Tipo do gráfico
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: { position: 'top', labels: {color: '#FFFFFF'} },
                        title: { display: true, text: 'Total de Atendimentos de Chamados por Mês', color: '#FFFFFF' }
                    },
                    scales: {
                        x: { title: { display: true, text: 'Mês', color: '#FFFFFF' }, ticks: { color: '#FFFFFF' } },
                        y: { title: { display: false, text: 'Total de Chamados', color: '#FFFFFF' }, ticks: { color: '#FFFFFF' } }
                    }
                }
            });
        });
    }
    function gerarInternet(periodo){        
        fetch('{% url "dashboards:get-dados-internet" %}?periodo='+periodo)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoEvolucaoChamados').getContext('2d');
            new Chart(ctx, {
                type: 'line', // Gráfico de linha
                data: {
                    labels: data.labels, // Meses
                    datasets: [{
                        label: 'Internet',
                        data: data.values, // Valores
                        borderColor: '#007bff', // Cor da linha
                        backgroundColor: 'rgba(0, 123, 255, 0.2)', // Cor do preenchimento
                        borderWidth: 2,
                        tension: 0.4, // Suavizar a linha
                        pointBackgroundColor: 'green',
                        pointBorderColor: 'green',
                        pointRadius: 5,
                        pointHoverRadius: 7
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Internet',
                            color: '#FFFFFF'
                        },
                        legend: {
                            display: false // Desativa a legenda
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return `Total: ${context.raw}`;
                                }
                            }
                        }
                    },
                    scales: {
                        x: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Mês',
                                color: '#FFFFFF'
                            }
                        },
                        y: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Número de Chamados',
                                color: '#FFFFFF'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    }

    function gerarEvolucaoAtendimentos(){
        fetch('{% url "dashboards:get-dados-evolucao-atendimentos" %}')
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoEvolucaoAtendimentos').getContext('2d');
            const cores = [
            '#007bff', '#28a745', '#dc3545', '#ffc107', '#17a2b8', '#6f42c1',
            '#fd7e14', '#e83e8c', '#20c997', '#6610f2'
            ];
            new Chart(ctx, {
                type: 'line', // Gráfico de linha
                data: {
                    labels: data.labels, // Datas
                    datasets: data.datasets.map((atendente, index) => ({
                        label: atendente.label,
                        data: atendente.data,
                        borderColor: cores[index % cores.length], // Cor da linha
                        backgroundColor: `${cores[index % cores.length]}`, // Cor do preenchimento (33 = transparência)
                    
                        // borderWidth: 1,
                        tension: 0.4, // Suavizar a linha
                        // pointBackgroundColor: '#fff',
                        // pointBorderColor: cores[index % cores.length],
                        // pointRadius: 5,
                        // pointHoverRadius: 7
                    }))
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Evolução de Atendimentos por Atendente nos Últimos 30 Dias',
                            color: '#FFFFFF'
                        },
                        legend: {
                            display: true, // Exibe a legenda
                            labels: {
                                usePointStyle: true,
                                pointStyle: 'circle',
                                color: '#ffffff',                             
                                font: {
                                        size: 6.5, // Tamanho do ícone
                                        weight: 'bold',                                        
                                    }
                            }
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return `Atendimentos: ${context.raw}`;
                                }
                            }
                        }
                    },
                    scales: {
                        x: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: true,
                                text: 'Data',
                                color: '#FFFFFF'
                            }
                        },
                        y: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Número de Atendimentos',
                                color: '#FFFFFF'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    }
    function gerarGraficoAtendimentosPorAtendente() {
    fetch('{% url "dashboards:get-total-atendimentos-por-atendente" %}')
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoAtendimentosPorAtendente').getContext('2d');
            const cores = [
                '#007bff', '#28a745', '#dc3545', '#ffc107', '#17a2b8', '#6f42c1',
                '#fd7e14', '#e83e8c', '#20c997', '#6610f2', '#343a40'
            ];
            
            new Chart(ctx, {
                type: 'bar', // Gráfico de barras
                data: {
                    labels: data.labels, // Atendentes
                    datasets: [{
                        label: 'Total de Atendimentos',
                        data: data.totals, // Totais
                        backgroundColor: cores, // Cor de fundo das barras
                        borderColor: cores.map(cor => cor), // Cor da borda das barras
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Total de Atendimentos por Atendente',
                            color: '#FFFFFF'
                        },
                        legend: {
                            display: false // Não exibe legenda
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return `Total: ${context.raw}`;
                                }
                            }
                        }
                    },
                    scales: {
                        x: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: true,
                                text: 'Atendentes',
                                color: '#FFFFFF'
                            }
                        },
                        y: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: true,
                                text: 'Total de Atendimentos',
                                color: '#FFFFFF'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    }

    function gerarImpressora(periodo){
        fetch('{% url "dashboards:get-dados-impressora" %}?periodo='+periodo)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoEvolucaoImpressora').getContext('2d');
            new Chart(ctx, {
                type: 'line', // Gráfico de linha
                data: {
                    labels: data.labels, // Meses
                    datasets: [{
                        label: 'Impressora',
                        data: data.values, // Valores
                        borderColor: 'blue', // Cor da linha
                        backgroundColor: 'rgba(0, 123, 255, 0.2)', // Cor do preenchimento
                        borderWidth: 2,
                        tension: 0.4, // Suavizar a linha
                        pointBackgroundColor: 'purple',
                        pointBorderColor: 'purple',
                        pointRadius: 5,
                        pointHoverRadius: 7
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Impressora',
                            color: '#FFFFFF'
                        },
                        legend: {
                            display: false // Desativa a legenda
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return `Total: ${context.raw}`;
                                }
                            }
                        }
                    },
                    scales: {
                        x: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Mês',
                                color: '#FFFFFF'
                            }
                        },
                        y: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Número de Chamados',
                                color: '#FFFFFF'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    }
     
    function gerarComputadores(periodo){
        fetch('{% url "dashboards:get-dados-computadores" %}?periodo='+periodo)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoEvolucaoComputadores').getContext('2d');
            new Chart(ctx, {
                type: 'line', // Gráfico de linha
                data: {
                    labels: data.labels, // Meses
                    datasets: [{
                        label: 'Computadores',
                        data: data.values, // Valores
                        borderColor: 'red', // Cor da linha
                        backgroundColor: 'red', // Cor do preenchimento
                        borderWidth: 2,
                        tension: 0.4, // Suavizar a linha
                        // pointBackgroundColor: '#fff',
                        pointBorderColor: 'red',
                        pointRadius: 5,
                        pointHoverRadius: 7
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Computadores',
                            color: '#FFFFFF'
                        },
                        legend: {
                            display: false // Desativa a legenda
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return `Total: ${context.raw}`;
                                }
                            }
                        }
                    },
                    scales: {
                        x: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Mês',
                                color: '#FFFFFF'
                            }
                        },
                        y: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Número de Chamados',
                                color: '#FFFFFF'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    }
    function gerarSistemas(periodo){
        fetch('{% url "dashboards:get-dados-sistemas" %}?periodo='+periodo)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoEvolucaoSistemas').getContext('2d');
            new Chart(ctx, {
                type: 'line', // Gráfico de linha
                data: {
                    labels: data.labels, // Meses
                    datasets: [{
                        label: 'Sistemas EL',
                        data: data.values, // Valores
                        borderColor: '#007bff', // Cor da linha
                        backgroundColor: 'rgba(0, 123, 255, 0.2)', // Cor do preenchimento
                        borderWidth: 2,
                        tension: 0.4, // Suavizar a linha
                        pointBackgroundColor: 'orange',
                        pointBorderColor: 'orange',
                        pointRadius: 5,
                        pointHoverRadius: 7
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Sistemas EL',
                            color: '#FFFFFF'
                        },
                        legend: {
                            display: false // Desativa a legenda
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return `Total: ${context.raw}`;
                                }
                            }
                        }
                    },
                    scales: {
                        x: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Mês',
                                color: '#FFFFFF'
                            }
                        },
                        y: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Número de Chamados',
                                color: '#FFFFFF'
                            },
                            beginAtZero: false
                        }
                    }
                }
            });
        });
    }
    function gerarTelefonia(periodo){
        fetch('{% url "dashboards:get-dados-telefonia" %}?periodo='+periodo)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoEvolucaoTelefonia').getContext('2d');
            new Chart(ctx, {
                type: 'line', // Gráfico de linha
                data: {
                    labels: data.labels, // Meses
                    datasets: [{
                        label: 'Telefonia',
                        data: data.values, // Valores
                        borderColor: '#007bff', // Cor da linha
                        backgroundColor: 'rgba(0, 123, 255, 0.2)', // Cor do preenchimento
                        borderWidth: 2,
                        tension: 0.4, // Suavizar a linha
                        pointBackgroundColor: 'blue',
                        pointBorderColor: 'blue',
                        pointRadius: 5,
                        pointHoverRadius: 7
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Telefonia',
                            color: '#FFFFFF'
                        },
                        legend: {
                            display: false // Desativa a legenda
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return `Total: ${context.raw}`;
                                }
                            }
                        }
                    },
                    scales: {
                        x: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Mês',
                                color: '#FFFFFF'
                            }
                        },
                        y: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Número de Chamados',
                                color: '#FFFFFF'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    }
    function gerarSecretaria(periodo){
        fetch('{% url "dashboards:get-dados-chamados-secretaria" %}?periodo='+periodo)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('graficoChamadosSecretaria').getContext('2d');
            new Chart(ctx, {
                type: 'bar', // Gráfico de barra
                data: {
                    labels: data.labels, // Nomes das secretarias
                    datasets: [{
                        label: 'Total de Chamados',
                        data: data.values, // Totais por secretaria
                        backgroundColor: 'rgba(0, 123, 255, 0.5)', // Cor das barras
                        borderColor: '#007bff', // Cor da borda das barras
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Chamados por Secretaria',
                            color: '#FFFFFF'
                        },
                        legend: {
                            display: false // Desativa a legenda
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    return `Total: ${context.raw}`;
                                }
                            }
                        }
                    },
                    scales: {
                        x: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: true,
                                text: 'Secretarias',
                                color: '#FFFFFF'
                            }
                        },
                        y: {
                            ticks: { color: '#FFFFFF' },
                            title: {
                                display: false,
                                text: 'Número de Chamados',
                                color: '#FFFFFF'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    }

    function donutChart(value1, value2){
        // Dados do gráfico
        const data = {
            labels: ['Concluídos', 'Pendentes'], // Legendas para os valores
            datasets: [{
                label: 'Status dos Chamados',
                data: [value1, value2], // Valores de exemplo
                backgroundColor: ['#4CAF50', '#F44336'], // Cores dos segmentos
                hoverOffset: 1
            }]
        };

        // Configuração do gráfico
        const config = {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top', // Posição da legenda
                    },
                    tooltip: {
                        callbacks: {
                            label: function (tooltipItem) {
                                const label = tooltipItem.label || '';
                                const value = tooltipItem.raw || 0;
                                return `${label}: ${value}`;
                            }
                        }
                    }
                }
            }
        };

        // Renderização do gráfico
        const ctx = document.getElementById('donutChart').getContext('2d');
        const donutChart = new Chart(ctx, config);
    }

    function gerarNumerosAleatorios(quantidade, max) {
        const numeros = [];
        for (let i = 0; i < quantidade; i++) {
            numeros.push(Math.floor(Math.random() * max));
        }
        return numeros;
    }

    function graficoDeLinha(){
            
        // Dados para o gráfico
        const labels = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho'];
        const data = {
            labels: labels,
            datasets: [{
                label: 'Chamados Resolvidos',
                data: gerarNumerosAleatorios(labels.length, 100),
                borderColor: '#4CAF50',
                backgroundColor: 'rgba(76, 175, 80, 0.2)',
                fill: true,
                tension: 0.3, // Curvatura das linhas
            }, {
                label: 'Chamados Abertos',
                data: gerarNumerosAleatorios(labels.length, 100),
                borderColor: '#F44336',
                backgroundColor: 'rgba(244, 67, 54, 0.2)',
                fill: true,
                tension: 0.3, // Curvatura das linhas
            }]
        };

        // Configuração do gráfico
        const config = {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        // Renderizar o gráfico
        const ctx = document.getElementById('lineChart').getContext('2d');
        const lineChart = new Chart(ctx, config);
    }
    function getValoresTabela() {
        fetch('{% url 'dashboards:get-valores-tabela' %}', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erro ao obter dados da API');
            }
            return response.json();
        })
        .then(data => {
            // Atualizando os valores da tabela
            document.getElementById('chamadosAbertos').textContent = data.chamados_abertos;
            document.getElementById('chamadosPendentes').textContent = data.chamados_pendentes;
            document.getElementById('chamadosHoje').textContent = data.chamados_criados_hoje;
            document.getElementById('mediaDiaria').textContent = data.media_diaria;
            document.getElementById('chamadosMes').textContent = data.chamados_criados_mes;
            document.getElementById('mediaMensal').textContent = data.media_mensal;
        })
        .catch(error => {
            console.error('Erro ao atualizar tabela:', error);
        });
    }
    function destruirGrafico(canvasId) {
        const chartElement = Chart.getChart(canvasId); // Obtém o gráfico existente pelo ID do canvas
        if (chartElement) {
            chartElement.destroy(); // Se o gráfico existir, destrói ele
        }
    }
    let graficoAtendentes = 'linha'
    function gerarGraficos(periodo){
        destruirGrafico('graficoEvolucaoChamados');
        destruirGrafico('graficoEvolucaoComputadores');
        destruirGrafico('graficoEvolucaoImpressora');
        destruirGrafico('graficoEvolucaoSistemas');
        destruirGrafico('graficoChamadosSecretaria');
        destruirGrafico('graficoEvolucaoTelefonia');
        destruirGrafico('graficoAtendimentos');
        gerarTotalAtendimentos()
        if (graficoAtendentes == 'linha' ){
            destruirGrafico('graficoEvolucaoAtendimentos');
            destruirGrafico('graficoAtendimentosPorAtendente');
            gerarEvolucaoAtendimentos()
            document.getElementById('graficoEvolucaoAtendimentos').style.display = 'block'
            document.getElementById('graficoAtendimentosPorAtendente').style.display = 'none'
        } else {
            destruirGrafico('graficoAtendimentosPorAtendente');
            destruirGrafico('graficoEvolucaoAtendimentos');
            gerarGraficoAtendimentosPorAtendente()
            document.getElementById('graficoEvolucaoAtendimentos').style.display = 'none'
            document.getElementById('graficoAtendimentosPorAtendente').style.display = 'block'
        }        
        gerarInternet(periodo)
        gerarComputadores(periodo)
        gerarImpressora(periodo)
        gerarSistemas(periodo)
        gerarSecretaria()
        gerarTelefonia(periodo)
        getValoresTabela() 
    }
    function mudarPeriodo(e){
        periodo = e.value        
    }
    gerarGraficos(periodo, graficoAtendentes)
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            destruirGrafico('graficoEvolucaoChamados');
            destruirGrafico('graficoEvolucaoAtendimentos');
            destruirGrafico('graficoEvolucaoComputadores');
            destruirGrafico('graficoEvolucaoImpressora');
            destruirGrafico('graficoEvolucaoSistemas');
            destruirGrafico('graficoChamadosSecretaria');
            destruirGrafico('graficoEvolucaoTelefonia');
            destruirGrafico('graficoAtendimentos');

            gerarGraficos(periodo, graficoAtendentes)
        }, 30000); 
    });
    function alterarValor(){
        if(graficoAtendentes == 'linha'){
            graficoAtendentes = 'bar'
        } else {
            graficoAtendentes = 'linha'
        }
        console.log(graficoAtendentes)
        
    }

    donutChart({{total}}, {{total_pendentes}});
    // graficoDeLinha();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>