{% extends 'template.html' %}
{% block visao %}active{% endblock %}
{% block main %}   
			    <div class="app-page-title">
                    <img src="/static/images/forms-like.svg" style="height: 40px;" alt="">
                    <span style="color: black;">Form Fácil</span>
                </div>
			    
			  
                <div class="row g-4 mb-4" style="padding: 0 5px;">
					<div class="col app-card app-card-stats-table h-100 shadow-sm " style="padding: 0.5rem !important;">                        
						<table class="table table-borderless mb-0">
							<thead>
								<tr>
									<th class="meta">Formulário</th>
									<th class="meta">Solicitante</th>
									<th class="meta">Status</th>
									<th class="meta">Qnt. registros</th>
									<th class="meta text-center d-none d-md-table-cell">Ações</th>
								</tr>
							</thead>
						</table>
<script>


</script>
{% endblock %}