{% extends 'template.html' %}
{% block formfacil %}active{% endblock %}
{% block main %}   
<div class="row">
	<div class="col d-flex">
		<h1 class="app-page-title">Form Fácil - Decretos e Portaria Atos do Prefeito</h1>
	</div>
</div>

<h3 class="mb-4 mt-3 ">Inscrições</h3>

<div class="row container mx-auto g-4 mb-4 px-3">
	<div class="d-flex align-items-center justify-content-between app-card app-card-stats-table h-100 shadow-sm p-4">  
		<h5 class="p-0 m-0">Registros efetuados</h5>
		<a href="{% url 'formfacil:exportar_decretos_portaria' %}" class="btn btn-success" style="color: white;">
			<i class="fa-solid fa-file-excel me-2"></i>
			Exportar para Excel
		</a>
	</div>
</div>

{% for registro in registros %}
<div class="row container mx-auto g-4 mb-4 px-3">
	<div class="col app-card app-card-stats-table h-100 shadow-sm p-4">                                                
	<div class="w-100 d-flex flex-wrap">
		<h5>{{registro.horario}} <span class="text-secondary">-         Total ({{registro.total}})</span></h5>
		<button class="ms-auto my-auto btn app-btn-secondary" onclick="toogleTable(this, 'table-{{ forloop.counter }}')" style="border:none; ">
		<i class="fa-regular fa-eye me-2"></i>
		Visualizar registros
		</button>
	</div>
		<table id="table-{{ forloop.counter }}" class="table table-borderless mb-0" >
			<thead>
				<th>Nome</th>
				<th>Matricula</th>
				<th>Secretaria</th>
				<th>Setor</th>
				<th>Telefone</th>
				<th>Dt. Registro</th>
			</thead>
			<tbody>
				{% for cadastro in registro.itens %}
				<tr>
				<td>
				{{cadastro.nome}}
				</td>
				<td>
				{{cadastro.matricula}}
				</td>
				<td>
				{{cadastro.secretaria}}
				</td>
				<td>
				{{cadastro.setor}}
				</td>
				<td>
				{{cadastro.telefone}}
				</td>
				<td>
				{{cadastro.dt_registro}}
				</td>
				</tr>
				{% empty %}
				<tr>
				<td colspan="6" class="text-center p-5">Nenhum registro efetuado até o momento.</td>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div> 
{% endfor %}
<style>
.table {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
	opacity: 0;
}

.table.show {
	display: table; /* Ou display: block, dependendo do contexto do HTML */
	max-height: 500px; /* Defina um valor suficientemente alto para abranger o conteúdo da tabela */
	opacity: 1;
}

</style>

<script>
function hiddeTables() {
	const tables = document.getElementsByClassName('table');
	for (let i = 0; i < tables.length; i++) {
	tables[i].classList.remove('show');
	tables[i].style.display = 'none'; // Esconde completamente
	}
}

function toogleTable(e, id) {
	const table = document.getElementById(id);

	if (table.classList.contains('show')) {
		hiddeTables();
		e.innerHTML = '<i class="fa-regular fa-eye me-2"></i> Visualizar registros';
	} else {
		hiddeTables();
		table.style.display = 'table'; // Mostra a tabela
		setTimeout(() => table.classList.add('show'), 100); // Garante a transição suave
		e.innerHTML = '<i class="fa-regular fa-eye-slash me-2"></i> Ocultar registros';
	}
}


</script>
{% endblock %}