{% extends 'template_chamados.html' %}
{% block chamados %}active{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/tickets.css">
{% endblock %}
{% block main %}   		    
				{{ form.media.css }}
				<style>
					#message{
						display: none;
					}
					#response-message{
						font-weight: bold;
						color: white;
					}
					.bg-gray{
						background-color: rgba(128, 128, 128, 0.281) !important;
					}
					label{
						margin-top: 15px;
					}
					#id_descricao{
						height: 100px;
					}					
					.select2, .select2-container, .select2-container--default, .select2-container--below{
						width: 100% !important;
					}
					li{
						color: red;
					}
				</style>				
				
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Enviar um ticket</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <div class="table-search-form row gx-1 align-items-center">                                        
					                    									
					                    <div class="col-auto">
					                        <a href="{% url 'chamados:index' %}" class="ms-auto me-1 my-auto btn app-btn-secondary" ><i class="fa-solid fa-rotate-left me-2"></i></i>Voltar</a>
											
					                    </div>																				
					                </div>					                
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
				
				<div id="div-form-chamado" class="app-card app-card-orders-table shadow-sm mb-5">
				    <div class="app-card-body py-4 px-5">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{{form}}
							{% if form_ext %}
							{{form_ext}}
							{% endif %}
							<button class="btn app-btn-primary mt-3">
								Enviar
							</button>
						</form>
						
					</div>
				</div>

				<script>
					
					function montarSelect(data){
						if (typeof data === "string") {							
							data = JSON.parse(data);
						}
						if(data.setores){
							var select = document.getElementById('id_setor');
							select.innerHTML = '';
							var option = document.createElement('option');
							option.value = '';
							option.text = '---------';
							select.appendChild(option);
							for(var i = 0; i < data.setores.length; i++){
								var option = document.createElement('option');
								option.value = data.setores[i].id;
								option.text = data.setores[i].nome;
								select.appendChild(option);
							}
						} else {
							console.error("Dados inválidos retornados pela solicitação AJAX");
						}
					}					
					function getSetores(id){
						var url = "{% url 'ins:api' %}get-setores/"+id+"/"; 
						getRequest(url, montarSelect);
					}

				</script>
				
				<script src="/static/js/request.js"></script>				
				<script>									
					function callSetor(e){
						var url = "{% url 'tel:api' %}getSetores/"+e.value+"/"; 
						getRequest(url, montarSelect);
					}		
					
					function icpf(v){
						v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
						v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
						v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
																//de novo (para o segundo bloco de numeros)
						v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2") //Coloca um hifen entre o terceiro e o quarto digitos
						return v
					}
					function itel(v){
						v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
						v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
						console.log(v.length)
						if (v.length<14){
							v=v.replace(/(\d{4})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
						}else{
							v=v.replace(/(\d{4,5})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
						}
						
						return v
					}
					function mascara(o,f){
						v_obj=o
						v_fun=f
						setTimeout("execmascara()",1)
					}
					function execmascara(){
							v_obj.value=v_fun(v_obj.value)
						}	
				</script>			
				
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
				{{ form.media.js }}						  
{% endblock %}