{% extends 'template_chamados.html' %}
{% block chamados %}active{% endblock %}
{% block main %}   		    
				{{ form.media.css }}
			
				<style>
					#message{
						display: none;
					}
					#response-message{
						font-weight: bold;
						color: white;
					}
					.bg-gray{
						background-color: rgba(128, 128, 128, 0.281) !important;
					}
					label{
						margin-top: 15px;
					}
					#id_descricao{
						height: 100px;
					}					
					.select2, .select2-container, .select2-container--default, .select2-container--below{
						width: 100% !important;
					}
					li{
						color: red;
					}
				</style>				
				
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Enviar um ticket</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <div class="table-search-form row gx-1 align-items-center">                                        
					                    <!-- <div class="col-auto">
					                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Procurar...">
					                    </div> -->										
					                    <div class="col-auto">
					                        <a href="{% url 'chamados:index' %}" class="ms-auto me-1 my-auto btn app-btn-secondary"><i class="fa-solid fa-rotate-left me-2"></i></i>Voltar</a>
											<button onclick="novoUsuario()" class="btn btn-primary"  style="color: white;"><i class="fa-solid fa-user-plus me-2"></i>Novo usuário</button>
					                    </div>																				
					                </div>					                
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
				<div id="divMsg" style="display: none;">
					<div class="app-card app-card-orders-table shadow-sm mb-3">
						<div id="changebg" class="app-card-body py-2 px-5">
							<p>
								<strong id="msg" style="color: white;">									
																			
								</strong>
							</p>
						</div>
					</div>
				</div>
				<!-- <div id="novo-chamado">
					<div class="app-card app-card-orders-table shadow-sm mb-3">
						<div class="app-card-body py-4 px-5">
							<div class="d-flex">
								<h4>Para quem é o chamado?</h4>								
							</div>
							<div>																	
								<button onclick="paraQuem('eu')" class="btn app-btn-dark mt-3">
									<i class="fa-solid fa-child-reaching me-2"></i>Eu mesmo.
								</button>
								<button  onclick="paraQuem('outro')" class="btn app-btn-dark mt-3">
									<i class="fa-solid fa-people-arrows me-2"></i>Outra pessoa.
								</button>
							</div>
							
						</div>
					</div>
				</div> -->
				<div id="divnovosetor" style="display: none;">
					<div class="app-card app-card-orders-table shadow-sm mb-3">
						<div class="app-card-body py-4 px-5">
							<div class="d-flex">
								<h4>NOVO SETOR</h4>
								<button onclick="novoSetor()" class="btn ms-auto mb-auto"><i class="fa-solid fa-xmark fa-2x"></i></a>
							</div>
							<div id="novosetor">							
								{{form_setor}}							
								<button onclick="criarNovoSetor()" class="btn app-btn-primary mt-3">
									Criar setor
								</button>
							</div>
							
						</div>
					</div>
				</div>
				<div id="divnovousuario" style="display: none;">
					<div class="app-card app-card-orders-table shadow-sm mb-3">
						<div class="app-card-body py-4 px-5">
							<div class="d-flex">
								<h4>NOVO USUÁRIO</h4>
								<button onclick="novoSetor()" class="btn btn-primary ms-auto my-auto"  style="color: white;"><i class="fa-solid fa-users-rectangle me-2"></i>Novo setor</button>
								<button onclick="novoUsuario()" class="btn"><i class="fa-solid fa-xmark fa-2x"></i></a>
							</div>
							<div id="novousuario">							
								{{form_user}}		
								<br>					
								<button onclick="criarNovoUsuario()" class="btn app-btn-primary mt-3">
									Criar usuário
								</button>
							</div>
							
						</div>
					</div>
					
				</div>
				<div id="div-form-chamado" class="app-card app-card-orders-table shadow-sm mb-5" style="display: block;">
				    <div class="app-card-body py-4 px-5">
						<form method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{{form}}
							{% if form_ext %}
							{{form_ext}}
							{% endif %}
							<button class="btn app-btn-primary mt-3">
								Enviar
							</button>
						</form>
						
					</div>
				</div>

				
				
				<script>
					// function paraQuem(valor){
					// 	if (valor == 'outro'){
					// 		document.querySelector('#id_secretaria').value = '';
					// 		document.querySelector('#id_setor').value = '';
					// 		document.querySelector('#id_telefone').value = '';
					// 		document.querySelector('#id_requisitante').value = '';
					// 		document.querySelector('#select2-id_requisitante-container').title = '';
					// 		document.querySelector('#select2-id_requisitante-container').innerText = '';
					// 	}
					// 	document.getElementById('novo-chamado').style.display = 'none';
					// 	document.getElementById('div-form-chamado').style.display = 'block';
					// }
					function novoUsuario(){						
						var novousuario = document.getElementById('divnovousuario');
						if(novousuario.style.display == 'none'){
							novousuario.style.display = 'block';
						} else {
							novousuario.style.display = 'none';
						}
					}
					function novoSetor(){						
						var novosetor = document.getElementById('divnovosetor');
						if(novosetor.style.display == 'none'){
							novosetor.style.display = 'block';
						} else {
							novosetor.style.display = 'none';
						}
					}
					function exibirMensagem(data, closediv){
						document.getElementById('msg').innerText=data.message;											
						if (data.status == 200){							
							document.getElementById('changebg').style.backgroundColor='green';
							
						}else if(data.status == 400){							
							document.getElementById('changebg').style.backgroundColor='red';														
						}
						document.getElementById('divMsg').style.display='block';
						if (closediv == 'setor'){
							novoSetor()
						}else if (closediv == 'servidor'){
							novoUsuario()
						}
					}
					function criarNovoSetor(){						
						dataDict={
							csrfmiddlewaretoken: '{{csrf_token}}',
							secretaria: document.getElementById('id_setor-secretaria').value,
							nome: document.getElementById('id_setor-nome').value,
							apelido: document.getElementById('id_setor-apelido').value,
							sigla: document.getElementById('id_setor-sigla').value,
							cep: document.getElementById('id_setor-cep').value,
							bairro: document.getElementById('id_setor-bairro').value,
							endereco: document.getElementById('id_setor-endereco').value,
							user_inclusao: document.getElementById('id_setor-user_inclusao').value,
						}
						var formData = new FormData();
						for (var key in dataDict) {
							formData.append(key, dataDict[key]);
						}
						var url = "{% url 'chamados:api_criar_setor' %}";
						postRequest(url, formData)
							.then(response => {
								exibirMensagem(response, 'setor');
							})
							.catch(error => {
								console.error(error);
							});
						getSetores(document.getElementById('id_secretaria').value)
						

					}
					function criarNovoUsuario(){						
						dataDict={
							csrfmiddlewaretoken: '{{csrf_token}}',
							setor: document.getElementById('id_servidor-setor').value,
							nome: document.getElementById('id_servidor-nome').value,
							cpf: document.getElementById('id_servidor-cpf').value,
							dt_nascimento: document.getElementById('id_servidor-dt_nascimento').value,
							matricula: document.getElementById('id_servidor-matricula').value,
							telefone: document.getElementById('id_servidor-telefone').value,
							email: document.getElementById('id_servidor-email').value,
							ativo: document.getElementById('id_servidor-ativo').value,
						}
						var formData = new FormData();
						for (var key in dataDict) {
							formData.append(key, dataDict[key]);
						}
						var url = "{% url 'chamados:api_criar_servidor' %}";
						postRequest(url, formData)
							.then(response => {
								exibirMensagem(response, 'servidor');
							})
							.catch(error => {
								console.error(error);
							});
					}

					function montarSelect(data){
						if (typeof data === "string") {							
							data = JSON.parse(data);
						}
						if(data.setores){
							var select = document.getElementById('id_setor');
							select.innerHTML = '';
							var option = document.createElement('option');
							option.value = '';
							option.text = '---------';
							select.appendChild(option);
							for(var i = 0; i < data.setores.length; i++){
								var option = document.createElement('option');
								option.value = data.setores[i].id;
								option.text = data.setores[i].nome;
								select.appendChild(option);
							}
						} else {
							console.error("Dados inválidos retornados pela solicitação AJAX");
						}
					}					
					function getSetores(id){
						var url = "{% url 'ins:api' %}get-setores/"+id+"/"; 
						getRequest(url, montarSelect);
					}
				</script>
				
				<script src="/static/js/request.js"></script>				
				<script>									
					function callSetor(e){
						var url = "{% url 'tel:api' %}getSetores/"+e.value+"/"; 
						getRequest(url, montarSelect);
					}					
				</script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
				{{ form.media.js }}						  
{% endblock %}