{% extends 'template_chamados.html' %}

{% block chamados %}active{% endblock %}
{% block main %}   		    
				<style>
					#message{
						display: none;
					}
					#response-message{
						font-weight: bold;
						color: white;
					}
					.bg-gray{
						background-color: rgba(128, 128, 128, 0.281) !important;
					}
					.alert-success {
						background-color: rgb(0, 128, 0);
					}
					.alert-danger {
						background-color: rgb(173, 12, 12);
					}
				</style>
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">ABRIR NOVO CHAMADO</h1>
				    </div>				   
			    </div>	
				<div class="row px-2 mb-3">
					<div class="col p-5" style="border: 1px solid rgba(0, 0, 0, 0); background-color: white; border-radius: 5px; color: rgb(0, 0, 0);">
						{% if request.user.is_superuser %}
						<div class="row">						    
						    <div class="col-12 col-lg-12">							        
								<h5 class="mb-3">Lorem ipsum dolor sit amet</h5>
								<p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa suscipit dicta saepe esse voluptate nam aliquid placeat commodi maxime dolore, repellendus corporis debitis consequuntur illum quas mollitia nulla? Voluptates, obcaecati.</p>
								<ul>
									<li>
										<strong>Lorem ipsum dolor</strong><br>
										<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque rerum unde ab eaque officia iure est cupiditate sed numquam illo aliquam.</p>
									</li>
									<li>
										<strong>Lorem ipsum dolor</strong><br>
										<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque rerum unde ab eaque officia iure est cupiditate sed numquam illo aliquam.</p>
									</li>
									<li>
										<strong>Lorem ipsum dolor</strong><br>
										<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque rerum unde ab eaque officia iure est cupiditate sed numquam illo aliquam.</p>
									</li>	
								</ul>
							</div>							    
						</div>
						{% endif %}
						<h4 class="mt-4"><strong>Escolha o tipo de chamado:</strong></h4>				
								{% for tipo in tipos %}							
								<a class="btn btn-secondary w-100 mb-2" href="{% url 'chamados:criar' tipo.sigla %}">
									{{tipo.nome}}
								</a>
								{% endfor %}
					</div>
				</div>
				
{% endblock %}