{% extends 'template_chamados.html' %}
{% block chamados %}active{% endblock %}
{% block title %}Detalhes chamado{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="/static/css/detalhesChamados.css">
{% endblock %}
{% block main %}   		    
				<style>
					#message{
						display: none;
					}
					#response-message{
						font-weight: bold;
						color: white;
					}
					.bg-gray{
						background-color: rgba(128, 128, 128, 0.281) !important;
					}										
					#msg .form-body textarea{
						height: 100px;
						width: 70%;
					}
					#msg .form-body .div-anexo{
						display: flex;
						margin-left: 20px;
						padding: 0.6rem;
						height: 100px;						
						border: 1px solid #e7e9ed;						
						border-radius: var(--bs-border-radius);
    					color: #5d6778;
					}
					
				</style>
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Chamado {{chamado.n_protocolo}}</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <div class="table-search-form row gx-1 align-items-center">                                        					           
					                    <div class="col-auto">
					                        <a href="{% url 'chamados:imprimir' chamado.hash %}" target="_blank" class="btn app-btn-primary"><i class="fa-solid fa-print me-2"></i>Imprimir</a>
					                    </div>
										<div class="col-auto">
					                        <a href="{% url 'chamados:tickets' %}" class="my-auto btn app-btn-secondary" ><i class="fa-solid fa-rotate-left me-2"></i></i>Voltar</a>
					                    </div>
										
					                </div>
					                
							    </div>		
						    </div>
					    </div>
				    </div>
			    </div>
			   
				<div class="detalhes-contato-wrapper"  onclick="toggleDetalhesContato()">
					<div class="detalhes-contato-title">
						{% if chamado.requisitante.avatar %}
						<img src="{{ chamado.requisitante.avatar.url }}" alt="{{ chamado.requisitante.nome }}" class="img-avatar">
						{% else %}
						<img src="{% static 'images/users/avatar.png' %}" alt="Avatar padrão" class="img-avatar">
						{% endif %}
						<div class="detalhes-contato-requisitante">
							<span class="detalhes-contato-title-text"><strong>{{chamado.requisitante.nome}}</strong></span><span class="detalhes-contato-title-text">{{chamado.requisitante.setor.secretaria}}</span>
						</div>
					</div>  
					<div class="detalhes-contato-arrows" >
						<a class="detalhes-contato-arrow-link" >
							<i class="fa-solid fa-chevron-down detalhes-contato-arrow-link-down" id="arrow-down"></i>
							<!-- <i class="fa-solid fa-arrow-down detalhes-contato-arrow-link-down" id="arrow-down"></i> -->
							<!-- <i class="fa-solid fa-arrow-up detalhes-contato-arrow-link-up" id="arrow-up" style="display: none;"></i> -->
						</a>
					</div>
				</div>
				<div class="detalhes-contato-arrows-sep" id="detalhes-contato-arrows-sep"></div>
				<!-- WRAPPER DETALHES DE CONTATO -->
				<div id="detalhes-contato" class="detalhes-contato">
					<div class="detalhe-contato-menu-wrapper">
						<div class="detalhe-contato-menu-email">
							<span><strong>E-mail</strong></span>
							<span>{{chamado.requisitante.email}}</span>
						</div>

						<div class="detalhe-contato-menu-email">
							<span><strong>Telefone</strong></span>
							<span>{{ requisitante_telefone }}</span>
						</div>

						<div class="detalhe-contato-menu-setor">
							<span><strong>Setor</strong></span>
							<span>{{chamado.requisitante.setor}}</span>
						</div>

						<div class="detalhe-contato-menu-matricula">
							<span><strong>Matrícula</strong></span>
							<span>{{chamado.requisitante.matricula}}</span>
						</div>
					</div>
					<div class="detalhe-contato-menu-wrapper-2">
						<div class="detalhe-contato-menu-endereco">
							<span><strong>Endereço</strong></span>
							<span>{{chamado.setor.endereco}} - {{chamado.setor.bairro}}, {{chamado.setor.cep}}</span>
						</div>
						<!-- <div class="detalhe-contato-menu-pp">
							<span><strong>Período preferencial</strong></span>
							<span>
								{% for periodo in chamado.periodo_preferencial.all %}
									{{ periodo }}
									{% if not forloop.last %}/{% endif %}
									{% empty %}
									Não atribuído
								{% endfor %}	
							</span>
						</div> -->
						<div class="detalhe-contato-menu-data">
							{% if chamado.dt_fechamento %}
								<span><strong>Dt. Fechamento</strong></span>
									<span>
										{{chamado.dt_fechamento|date:"d/m/Y H:i"}}
									</span>
							{% else  %}
							<span><strong>Dt. Solicitação</strong></span>
							<span>
								{{chamado.dt_inclusao|date:"d/m/Y H:i"}}
							</span>
							{% endif %}
						</div>
					</div>
					<div class="detalhe-contato-ver-perfil">
						<a href="{% url 'chamados:ver-perfil' chamado.requisitante.matricula %}" class="detalhe-contato-ver-perfil-link" target="_blank">
							<span>Exibir atividades</span>
						</a>
					</div>
				</div>	
				<!-- DETALHES CHAMADOS WRAPPER
				<div class="detalhes-chamados-wrapper" onclick="toggleDetalhesChamado()">
					<div class="detalhes-chamados-text">
						<i class="fa-solid fa-info"></i> 
						<span class="detalhes-chamados-text-text"><strong>Detalhes do chamado</strong></span>
					</div>
					<div class="detalhes-chamado-arrows">
							<a class="detalhes-chamado-arrow-link" onclick="toggleDetalhesChamado()">
								<i class="fa-solid fa-arrow-down detalhes-chamado-arrow-link-down" id="arrow-down-chamados"></i>
								<i class="fa-solid fa-arrow-up detalhes-chamado-arrow-link-up" id="arrow-up-chamados" style="display: none;"></i>
							</a>
					</div>
					
				</div>
				<div class="detalhes-chamado-arrows-sep" id="detalhes-chamado-arrows-sep"></div>
				<div id="detalhes-chamado" class="detalhes-chamado">
					<div class="detalhes-chamado-content-wrapper">
						<div>
							<span><strong>Número do chamado</strong></span>
							<span>#{{chamado.id}}</span>
						</div>
					</div>
				</div> -->
				<div>
					{% if messages %}
						<div class="alert alert-dismissible shadow-sm bg-success border-left-decoration" style="margin-bottom: 0px !important; margin-top: 0px !important;" role="alert">
							<div class="inner">
								<div class="app-card-body px-3 px-lg-4">						    
									<div class="row gx-5 gy-3">
										<div class="col-12 col">
											<div class="text-light" style="color: white;">
											{% for message in messages %}
											{{message}}
											{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				
					{% endif %}
					<div id="message" class="app-card alert alert-dismissible shadow-sm mb-4 bg-success border-left-decoration" role="alert">
						<div class="inner">
							<div class="app-card-body px-3 px-lg-4">						    
								<div class="row gx-5 gy-3">
									<div class="col-12 col-lg-9">							        
										<p id="response-message" class="text-light"></p>
									</div>

								</div>
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
							
						</div>
					</div>
				</div>
				
				
				
				<!-- WRAPPER INFORMAÇÕES DO CHAMADO -->
				<div class="content-chamado-messages-wrapper">
					<div class="content-chamado-informacoes">
						<div class="content-chamado-informacoes-prioridade-status-wrapper">	
							<!-- PRIORIDADE -->
							<div class="content-chamado-informacoes-prioridade">
								<div class="dropdown prioridade-indicador {{ chamado.get_prioridade_class }}" id="indicadorPrioridade-{{chamado.id}}">
									{% if request.user.is_superuser or is_atendente %}
									<a id="selectPrioridade-{{chamado.id}}" class="dropdown-toggle selectPrioridade badge py-0" 
									   type="button" 
									   data-bs-toggle="dropdown" 
									   aria-expanded="false" 
									   style="text-decoration: none; color: black;"
									   data-bs-toggle="tooltip" 
									   data-bs-placement="left" 
									   title="Prioridade">
									   <span class="">
										   {{ chamado.get_prioridade_display }}
									   </span>
									</a>
									<ul class="dropdown-menu prioridade-detalhes-ul">
										{% for prioridade in chamado.PRIORIDADE_CHOICES %}
											<li><a class="dropdown-item" href="#" onclick="mudar_prioridade('{{chamado.hash}}','{{prioridade.0}}')">{{prioridade.1}}</a></li>
										{% endfor %}
									</ul>
									{% else %}
									<span class="badge py-0">
										{{ chamado.get_prioridade_display }}
									</span>
									{% endif %}
								</div>
							</div>

							<!-- STATUS -->
							<div class="content-chamado-informacoes-status">
								<div class="dropdown status-indicador {{ chamado.get_status_class }}" id="indicadorStatus-{{chamado.id}}">
									{% if request.user.is_superuser or is_atendente %}
									<a id="statusSelect-{{chamado.id}}" class="dropdown-toggle badge py-0" 
									   type="button" 
									   data-bs-toggle="dropdown" 
									   aria-expanded="false" 
									   style="text-decoration: none; color: white;"
									   data-bs-toggle="tooltip" 
									   data-bs-placement="left" 
									   title="Status">
									   <span class="">
										   {{ chamado.get_status_display }}
									   </span>
									</a>
									<ul class="dropdown-menu status-detalhes-ul">
										{% for status in chamado.STATUS_CHOICES %}
											<li><a class="dropdown-item" href="#" onclick="mudar_status('{{chamado.hash}}','{{status.0}}')">{{status.1}}</a></li>
										{% endfor %}
									</ul>
									{% else %}
									<span class="badge py-0">
										{{ chamado.get_status_display }}
									</span>
									{% endif %}
								</div>
							</div>
							
							<!-- ATENDENTENTE -->
							<div class="content-chamado-informacoes-atendente">
								<div class="dropdown atendente-indicador select-atendente-detalhes " id="indicadorAtendente-{{chamado.id}}">
									{% if request.user.is_superuser or is_atendente %}
									<span class="user-icon-detalhes"><i class="fa-solid fa-user user-i"></i></span>
									<a id="selectAtendente-{{chamado.id}}" class="dropdown-toggle badge py-0 select-atendente-detalhes" 
									   type="button" 
									   data-bs-toggle="dropdown" 
									   aria-expanded="false" 
									   style="text-decoration: none; color: black;"
									   data-bs-toggle="tooltip" 
									   data-bs-placement="left" 
									   title="Atendente">
									   <span class="">
										{% if chamado.profissional_designado%}
										{{ chamado.profissional_designado }}
										{% else %}
										Não atribuído
										{% endif %}
									   </span>
									</a>
									<ul class="dropdown-menu atendente-detalhes-ul">
										{% for atendente in atendentes %}
                                            <li>
                                                <a class="dropdown-item" href="#" onclick="mudar_atendente('{{chamado.hash}}', '{{atendente.id}}')">{{ atendente.nome_servidor }}</a>
                                            </li>
                                        {% endfor %}
									</ul>
									{% endif %}
								</div>
							</div>
							
						</div>
						
						<span><strong>{{chamado.tipo.nome}}</strong></span>
					</div>
					<div class="content-chamado-messages-title">
						<i class="fa-solid fa-globe"></i>
						<span class="content-chamado-messages-title-text">{{ chamado.assunto }}</span>
					</div>
					<!-- WRAPPER LISTAR MENSAGENS PRIMEIRA MENSAGEM -->
					<div class="first-message-user-wrapper">
						<div class="first-message-user-header">
							<div class="perfil-image">
								{% if chamado.requisitante.avatar %}
									<img src="{{ chamado.requisitante.avatar.url }}" alt="{{ chamado.requisitante.nome }}" class="img-avatar">
								{% else %}
									<img src="{% static 'images/users/avatar.png' %}" alt="Avatar padrão" class="img-avatar">
								{% endif %}
							</div>
							<div class="messages-nome-time-wrapper">
								<div class="messages-nome-time">
									<a href="{% url 'chamados:ver-perfil' chamado.requisitante.matricula %}" target="_blank">
										<span class="message-user-nome">
											{{chamado.requisitante.nome}}
										</span>
									</a>
										<span class="message-user-haxtime">{{chamado.status_andamento_ticket_detalhes}}</span>	
								</div>
								
								<div class="message-user-time">
									<span class="time-send-message">{{chamado.dt_inclusao|date:"d/m/y"}} {% if request.user == chamado.autor.user or request.user.is_superuser %}{{chamado.dt_inclusao|date:"H:i"}}{% endif %}</span>
								</div>
							</div>
							
						</div>
						<div class="first-message-user-content">
							<span class="messages-chamado-descricao-text">
								{{chamado.descricao}}
							</span>
							{% if mensagem.anexo %}<button onclick="visualizarAnexo('{{mensagem.anexo.url}}')" class="my-auto ms-auto btn app-btn-secondary"><i class="fa-solid fa-paperclip me-2"></i>Ver anexo</button>{% endif %}
						</div>
					</div>
					<!-- WRAPPER LISTAR MENSAGENS DEMAIS MENSAGENS -->
					{% for mensagem in mensagens %}
					{% if mensagem.confidencial %}
						{% if request.user.is_superuser or is_atendente %}
							<div class="first-message-user-wrapper-confidencial">
								<div class="first-message-user-header">
									<div class="perfil-image">
										<img src="{% static 'images/users/atendenteAvatar.png' %}" alt="Avatar padrão" class="img-avatar">
									</div>
									<div class="messages-nome-time-wrapper">
										<div class="messages-nome-time">
											<div>
												<span class="message-user-nome">Atendente</span>
												<span class="message-user-mensagem-confidencial">Mensagem interna</span>
											</div>
											<span class="message-user-haxtime">{{mensagem.status_andamento_mensagem }}</span>
										</div>
										<div class="message-user-time">
											<span class="time-send-message">{{ mensagem.dt_inclusao|date:"d/m/y"}} {{ mensagem.dt_inclusao|date:"H:i" }}</span>
										</div>
									</div>
								</div>
								<div class="first-message-user-content">
									<span class="messages-chamado-descricao-text">
									{{ mensagem.mensagem }}
									</span>
									{% if mensagem.anexo %}
										<button onclick="visualizarAnexo('{{ mensagem.anexo.url }}')" class="my-auto ms-auto btn app-btn-secondary">
											<i class="fa-solid fa-paperclip me-2"></i>Ver anexo
										</button>
									{% endif %}
								</div>
							</div>
						{% endif %}
					{% else %}
						<div class="first-message-user-wrapper">
							<div class="first-message-user-header">
								<div class="perfil-image">
									{% if mensagem.user_inclusao != chamado.requisitante%}
									{% if mensagem.autor == 'Atendente' or request.user.is_superuser %}
										<img src="{% static 'images/users/atendenteAvatar.png' %}" alt="Avatar padrão" class="img-avatar">
									{% endif %}
									{% else %}
										{% if mensagem.user_inclusao.avatar %}
											<img src="{{ mensagem.user_inclusao.avatar.url }}" alt="{{ mensagem.user_inclusao.nome }}" class="img-avatar">
										{% else %}
											<img src="{% static 'images/users/avatar.png' %}" alt="Avatar padrão" class="img-avatar">
										{% endif %}
									{% endif %}
								</div>
								<div class="messages-nome-time-wrapper">
									<div class="messages-nome-time">
										{% if mensagem.user_inclusao != chamado.requisitante%}
										{% if mensagem.autor == 'Atendente' or request.user.is_superuser %}
											<a><span class="message-user-nome">Atendente</span></a>
										{% endif %}
										{% else %}
											<a href="{% url 'chamados:ver-perfil' mensagem.user_inclusao.matricula %}" target="_blank">
												<span class="message-user-nome">{{ mensagem.user_inclusao }}</span>
											</a>
										{% endif %}
										<span class="message-user-haxtime">{{mensagem.status_andamento_mensagem}}</span>
									</div>
									<div class="message-user-time">
										<span class="time-send-message">{{ mensagem.dt_inclusao|date:"d/m/y" }} {% if request.user == mensagem.autor.user or request.user.is_superuser %}{{ mensagem.dt_inclusao|date:"H:i" }}{% endif %}</span>
									</div>
								</div>
							</div>
							<div class="first-message-user-content">
								<span class="messages-chamado-descricao-text">{{ mensagem.mensagem }}</span>
								{% if mensagem.anexo %}
									<button onclick="visualizarAnexo('{{ mensagem.anexo.url }}')" class="my-auto ms-auto btn app-btn-secondary">
										<i class="fa-solid fa-paperclip me-2"></i>Ver anexo
									</button>
								{% endif %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
										
						<!-- PARTE PARA ENVIAR RESPOSTA -->
						<div class="messages-options" id="responderButtonWrapper">
							<button class="responder-button" id="responderButton" onclick="responderMessage()">
								<i class="fa-solid fa-arrow-turn-up"></i> Responder
							</button>
						</div>
						<!-- voltar -->
						<div id="msg" class="send-resposta-wrapper" style="display: none;">
							<form class="w-100" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								
								<div class="form-wrapper">
									<div class="text-input-mensagem">
										<span>Nova Mensagem</span>
										<textarea name="mensagem" class="send-message-chamado-textarea" required id="id_mensagem"></textarea>

									</div>
									<div class="div-anexo">	
										<span>Anexo</span>	
										<div class="div-anexo-input">
											<input type="file" name="anexo" class="form-control m-auto input-anexo" id="id_anexo">
											<input type="hidden" name="chamado" id="id_chamado" value="{{chamado.id}}">
											<input type="hidden" name="user_inclusao" id="id_user_inclusao" value='{{servidor.id}}'>
										</div>											
									</div>
								</div>		
								{% if request.user.is_authenticated %}  
								{% if request.user.is_superuser or is_atendente %}
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" value="0">
									<input type="hidden" name="confidencial" id="id_confidencial" value="0">
									<label class="form-check-label" id="switchLabel" for="flexSwitchCheckDefault">Mensagem normal</label>
								</div>		
								{% endif %}	
								{% endif %}	
								<div class="send-messages-buttons-wrapper">
									<button onclick="openPopup()" class="button-close-send-messages" type="button"><i class="fa-solid fa-trash-can trash-icon"></i></button>		
									<button type="submit" class="btn app-btn-primary my-auto">
										<i class="fa-solid fa-comment me-2"></i> Enviar mensagem
									</button>
								</div>
							</form>
						</div>
						
						<div class="popup-overlay" id="popupOverlay" style="display: none;" onclick="closePopup()"></div>
						<div id="confirmPopup" class="confirm-popup" style="display: none;">
							<div class="popup-content">
								<div class="popup-text">
									<span class="popup-text-title">Descartar rascunho</span>
									<span class="popup-text-subtitle">Seu rascunho será descartado. Tem certeza?</span>
								</div>
								<div class="popup-buttons-wrapper">
									<button onclick="closePopup()" class="popup-button no">Não</button>
									<button onclick="closeResponderMessage()" class="popup-button yes">Sim</button>
								</div>
							</div>
						</div>
						
				</div>
				
				
				
				<!-- <div class="row my-3">
	                <div class="col col-md">
		                <div class="app-card shadow-sm p-4">
							<div class="app-card-body">
								<div class="row">
									<div class="col d-flex">
										<div>Dt. Solicitação: <strong class="ms-3">{{chamado.dt_inclusao|date:"d/m/Y H:i"}}</strong></div>										
										{% if chamado.dt_fechamento %}
										<div class="ms-auto">Dt. conclusão: <strong class="ms-3">{{chamado.dt_fechamento|date:"d/m/Y H:i"}}</strong></div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- <div class="row g-4 settings-section">
	                <div class="col-12 col-md-4">
		                <div class="app-card shadow-sm p-4" style="height: 100%;">
							<div class="app-card-body">
								<h3 class="section-title">CHAMADO ID #{{chamado.id}}</h3>
		                		<div class="section-intro">
									<p><strong>Tipo:</strong><br>{{chamado.tipo.nome}}</p>
									<p><strong>Requisitante:</strong> <br>{{chamado.requisitante.nome}}</p>
									<p><strong>Contato:</strong> <br>{{chamado.telefone}}</p>
								</div>
							</div>
						</div>
	                </div> -->
	                <!-- <div class="col-12 col-md-8">
		                <div class="app-card app-card-settings shadow-sm p-4"  style="height: 100%;">
						    
						    <div class="app-card-body">
								<div class="row">
									<div class="col">
										<div class="mb-2"><strong>Assunto:</strong> {{chamado.assunto|capfirst}}</div>
										
									</div>
									<div class="col d-flex">
										<div class="ms-auto mb-2"><strong>Status:</strong> 
											{% if chamado.status == '0' %}
											<span class="badge" style="background-color: rgb(88, 88, 88);">{{chamado.get_status_display}}</span>
											{% elif chamado.status == '1' %}
											<span class="badge" style="background-color: rgb(177, 105, 12);">{{chamado.get_status_display}}</span>
											{% elif chamado.status == '2' %}
											<span class="badge" style="background-color: rgb(131, 53, 155);">{{chamado.get_status_display}}</span>
											{% elif chamado.status == '3' %}
											<span class="badge" style="background-color: rgb(25, 165, 37);">{{chamado.get_status_display}}</span>
											{% elif chamado.status == '4' %}
											<span class="badge" style="background-color: rgb(0, 0, 0);">{{chamado.get_status_display}}</span>
											{% endif %}
										</div>										
										<div class="ms-4 mb-2"><strong>Prioridade:</strong> 
											{% if chamado.prioridade == '' %}
											<span class="badge" style="background-color: rgb(53, 89, 155);">{{chamado.get_prioridade_display}}</span>
											{% elif chamado.prioridade == '0' %}
											<span class="badge" style="background-color: rgb(50, 116, 47);">{{chamado.get_prioridade_display}}</span>
											{% elif chamado.prioridade == '1' %}
											<span class="badge" style="background-color: rgb(155, 163, 36);">{{chamado.get_prioridade_display}}</span>
											{% elif chamado.prioridade == '2' %}
											<span class="badge" style="background-color: rgb(119, 33, 33);">{{chamado.get_prioridade_display}}</span>
											{% endif %}
										</div>
									</div>
								</div>
							    
							    
							    <div class="mb-2"><strong>Descrição:</strong> <br>{{chamado.descricao}}</div>							    
								<div class="mb-2"><strong>Secretaria:</strong> {{chamado.setor.secretaria.nome}}</div>
								<div class="mb-2"><strong>Setor:</strong> {{chamado.setor.nome}}</div>
								<div class="mb-2"><strong>Endereço:</strong> {{chamado.setor.endereco}} - {{chamado.setor.bairro}}, {{chamado.setor.cep}}</div>
								<div class="mb-2"><strong>Período preferêncial:</strong> 
									{% for periodo in chamado.periodo_preferencial.all %}
										{{ periodo }}
										{% if not forloop.last %}/{% endif %}
									{% endfor %}							
								</div>

							    <div class="row justify-content-between">
								    <div class="col-auto">
								        
								    </div>
									{% if chamado.anexo %}
								    <div class="col-auto d-flex">
								        <button onclick="visualizarAnexo('{{chamado.anexo.url}}')" class="my-auto btn app-btn-secondary">
											<i class="fa-solid fa-paperclip me-2"></i>
											Ver anexo
										</button >
								    </div>
									{% endif %}
							    </div>
								    
						    </div>
						    
						</div>
	                </div>
                </div>
				 -->
				<!-- {% if atendente.exists %}
				{% if chamado.profissional_designado  or request.user.is_superuser %}
				<div class="row my-3">
	                <div class="col col-md">
		                <div class="app-card shadow-sm p-4">
							<div class="app-card-body">
								<div class="row">
									<div class="col d-flex">
										<div class="my-auto">Profissional designado: <strong class="ms-2">{{chamado.profissional_designado}}</strong></div>
										{% if chamado.dt_agendamento %}
										<div class="ms-auto my-auto me-3 text-center">
											<div class="w-100">Data atendimento:<strong class="ms-2">{{chamado.dt_agendamento|date:"d/m/Y"}}</strong></div>
										</div>
										{% else %}
										<a href="{% url 'chamados:agendar_atendimento' chamado.hash %}" class="btn btn-success ms-auto me-2" style="color: white;">														
											<i class="fa-regular fa-calendar me-2"></i>Agendar atendimento												
										</a>
										{% endif %}

										{% if not chamado.dt_inicio_execucao %}
										<a href="{% url 'chamados:inicializar' chamado.hash %}" class="btn btn-danger" style="color: white;">														
											<i class="fa-solid fa-stopwatch me-2"></i>Iniciar atendimento											
										</a>
										{% elif not chamado.dt_execucao %}
											{% if chamado.check_pause %}
											<a href="{% url 'chamados:retomar' chamado.hash %}" class="btn app-btn-purple" style="color: white;">														
												<i class="fa-solid fa-play me-2"></i>Retomar atendimento
											</a>
											{% else %}
											<a href="{% url 'chamados:pausar' chamado.hash %}" class="btn app-btn-dark me-2" style="color: white;">														
												<i class="fa-solid fa-pause me-2"></i>Pausar atendimento
											</a>
											<a href="{% url 'chamados:finalizar' chamado.hash %}" class="btn app-btn-primary" style="color: white;">														
												<i class="fa-solid fa-check me-2"></i>Finalizar atendimento
											</a>
											{% endif %}
							
										{% else %}
											<div class="ms-auto">Dt. execução: <strong class="ms-1">{{chamado.dt_execucao|date:"d/m/Y H:i"}}</strong></div>
											<div class="ms-4">Duração: <strong class="ms-1">{{chamado.get_duracao_execucao}}</strong></div>
										{% endif %}
																				
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				{% if atendente.nivel == '0' or request.user.is_superuser %}
				
				<div class="row my-3">
	                <div class="col col-md">
		                <div class="app-card shadow-sm p-4">
							<div class="app-card-body">
								<div class="row">
									<div class="col d-flex">										
										<div class="mx-auto">
											<strong>Atribuir status:</strong> 
											<select class="form-select" name="status" id="id_status" onchange="attChamado('status', this.value)">
												<option value="">Selecione um status</option>
												{% for s in status %}
												<option value="{{s.0}}">{{s.1}}</option>		
												{% endfor %}										
											</select>
										</div>			
										<div class="mx-auto">
											<strong>Atribuir prioridade:</strong> 
											<select class="form-select" name="prioridade" id="id_prioridade" onchange="attChamado('prioridade', this.value)">
												<option value="">Selecione uma prioridade</option>
												{% for prioridade in prioridades %}
												<option value="{{prioridade.0}}">{{prioridade.1}}</option>		
												{% endfor %}										
											</select>
										</div>					
										<div class="mx-auto">
											<strong>Atribuir profissional:</strong> 
											<select class="form-select" name="atendente" id="id_atendente" onchange="attChamado('atendente', this.value)">
												<option value="">Selecione um atendente</option>
												{% for atendente in atendentes %}
												<option value="{{atendente.id}}">{{atendente.servidor.nome}} ({{atendente.countChamadosAtribuidos}})</option>		
												{% endfor %}										
											</select>
										</div>											
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				{% endif %} -->
				<!-- <div class="row my-3  mb-5">
	                <div class="col col-md">
		                <div class="app-card shadow-sm p-4">
							<div class="app-card-body">
								<div class="row mb-3">
									<div class="col d-flex">
										<h3 class="section-title mb-4"><i class="fa-solid fa-comments me-3"></i>Mensagens</h3>										
									</div>
								</div>
								{% for mensagem in mensagens %}
								<hr>
		                		<div class="section-intro mb-2">
									<div class="row">
										<div class="col d-flex">
											<strong>{{mensagem.autor}}</strong>
											<i class="ms-auto">{{mensagem.dt_inclusao|date:"d/m/y"}} {{mensagem.dt_inclusao|date:"H:i"}}</i>
										</div>
									</div>
									<div class="row">
										<div class="col d-flex">
											<p>{{mensagem.mensagem}}</p>											
											{% if mensagem.anexo %}<button onclick="visualizarAnexo('{{mensagem.anexo.url}}')" class="my-auto ms-auto btn app-btn-secondary"><i class="fa-solid fa-paperclip me-2"></i>Ver anexo</button>{% endif %}
										</div>
									</div>									
								</div>
								{% endfor %}								
								<hr>
								<div id="msg" class="row">
									<div class="col">
										<div class="w-100 d-flex">											
												<div style="width: 67%;"><h5>Nova mensagem</h5></div>
												<div><h5>Anexo <small style="color: #b4bbc7;">(Caso haja)</small></h5></div>
										</div>
										<form class="w-100" method="POST" enctype="multipart/form-data">											
											<div class="form-body d-flex">
												{% csrf_token %}
												<textarea name="mensagem" cols="40" rows="10" class="form-control mb-3" required id="id_mensagem"></textarea>
												<div class="div-anexo">													
													<input type="file" name="anexo" class="form-control m-auto" id="id_anexo">
													<input type="hidden" name="chamado" id="id_chamado" value="{{chamado.id}}">
													<input type="hidden" name="user_inclusao" id="id_user_inclusao" value='{{servidor.id}}'>
												</div>
											</div>									
											<button type="submit" class="btn app-btn-primary my-auto" href="#"><i class="fa-solid fa-comment me-2"></i> Enviar mensagem</button>
										</form>
									</div>
								</div>
							</div>
						</div>
	                </div>
				</div> -->
						
			        
			        </div>
			        
				<div id="anexo" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">VISUALIZAR ANEXO</h5>
						<button class="btn btn-primary btn-close" onclick="closeModal('anexo')">
							
						</button>	
					</div>
					<div class="modal-body">
						<div class="col-12 col-md-12">			
									<img id="anexo-url" class="img-fluid" src="" alt="">
						</div>
					</div>
					<div class="modal-footer">
						
					</div>
					</div>
				</div>
				</div>
				<script src="/static/js/request.js"></script>	
					
				<script>
					function visualizarAnexo(url){
						document.getElementById('anexo-url').src = url;
						openModal('anexo');
					}
					function attChamado(atributo, valor){
						
						var form = new FormData();												
						
						form.append('csrfmiddlewaretoken', '{{csrf_token}}');
						form.append('atributo', atributo);
						form.append('valor', valor);

						postRequest("{% url 'chamados:attChamado' chamado.hash %}", form)
						// esperar 5 segundos e recarregar a página
						setTimeout(function(){
							window.location.replace("{% url 'chamados:detalhes' chamado.hash %}");
						}, 500);					

					}

					function toggleDetalhesContato() {
						const arrowDown = document.getElementById('arrow-down');
						const detalhesDiv = document.getElementById('detalhes-contato');
						const detalhesAfter = document.getElementById('detalhes-contato-arrows-sep');

						// Alterna a rotação da seta
						arrowDown.classList.toggle('rotated');

						// Alterna a abertura da div
						if (detalhesDiv.classList.contains('show')) {
							detalhesDiv.classList.remove('show');
							detalhesAfter.classList.remove('show');
						} else {
							detalhesDiv.classList.add('show');
							detalhesAfter.classList.add('show');
						}
					}
					function toggleDetalhesChamado(){
						const arrowDownChamados = document.getElementById('arrow-down-chamados');
						const arrowUpChamados = document.getElementById('arrow-up-chamados');
						const detalhesDivChamados = document.getElementById('detalhes-chamado');
						const detalhesAfterChamados = document.getElementById('detalhes-chamado-arrows-sep');

						if (arrowDownChamados.style.display === 'none') {
							arrowDownChamados.style.display = 'inline-block'; 
							arrowUpChamados.style.display = 'none';           
							detalhesDivChamados.classList.remove('show');   
							detalhesAfterChamados.classList.remove('show');   
						} else {
							arrowDownChamados.style.display = 'none';       
							arrowUpChamados.style.display = 'inline-block'; 
							detalhesDivChamados.classList.add('show');  
							detalhesAfterChamados.classList.add('show');   
						}
					}
					function responderMessage() {
						document.getElementById('responderButtonWrapper').style.display = 'none';
						document.getElementById('msg').style.display = 'flex';
					}
					function openPopup(){
						document.getElementById('confirmPopup').style.display='block';
						document.getElementById('popupOverlay').style.display= 'block';
					}
					function closePopup(){
						document.getElementById('confirmPopup').style.display='none';
						document.getElementById('popupOverlay').style.display= 'none';
					}
					function closeResponderMessage() {
						document.getElementById('confirmPopup').style.display='none';
						document.getElementById('popupOverlay').style.display= 'none';
						document.getElementById('responderButtonWrapper').style.display = 'flex';
						document.getElementById('msg').style.display = 'none';
					}
					const switchInput = document.getElementById('flexSwitchCheckDefault');
					const switchLabel = document.getElementById('switchLabel');

					switchInput.addEventListener('change', function() {
						if (switchInput.checked) {
							switchLabel.textContent = 'Mensagem Interna';
							switchInput.value = '1';
						} else {
							switchLabel.textContent = 'Mensagem normal';
							switchInput.value = '0'; 
						}
					});
					document.getElementById('flexSwitchCheckDefault').addEventListener('change', function() {
					document.getElementById('id_confidencial').value = this.checked ? "1" : "0";
				});

				function mudar_status_select(id, display_status){
					let selectStatus = document.getElementById('statusSelect-'+id);
					selectStatus.innerText = display_status;   
					let indicadorStatus = document.getElementById('indicadorStatus-'+id);
					if (display_status == 'Em atendimento'){
						indicadorStatus.className = 'status-indicador status-atendimento'
					}else{
						indicadorStatus.className = 'status-indicador status-'+display_status.toLowerCase();
					}
				}
				function mudar_prioridade_select(id, display_prioridade){
					let selectPrioridade = document.getElementById('selectPrioridade-'+id);
					selectPrioridade.innerText = display_prioridade;   
					let indicadorPrioridade = document.getElementById('indicadorPrioridade-'+id);
					if (display_prioridade == 'Média'){
						indicadorPrioridade.className = 'prioridade-indicador prioridade-media'
					}
					else if(display_prioridade ==  'Não definida'){
						indicadorPrioridade.className = 'prioridade-indicador prioridade-nao-definida'
					}
					else{
						indicadorPrioridade.className = 'prioridade-indicador prioridade-'+display_prioridade.toLowerCase();
					}    
					
					  
				}
				function mudar_atendente_select(id, display_atendente){
					let selectAtendente = document.getElementById('selectAtendente-'+id);
					selectAtendente.innerText = display_atendente;   
				}
				function mudar_status(hash, status){
					
					var url = "{% url 'chamados:api_status' %}"; 
					formData = new FormData();
					formData.append('hash', hash);
					formData.append('status', status);
					formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
					postRequest(url, formData)
										.then(response => {
											if (response.status == 200){
												mudar_status_select(response.id, response.display_status)
											}else{
												alert(response.message +" (" + response.status+")")
											}                                   
										})
										.catch(error => {
											alert('Erro ao mudar status. Tente novamente mais tarde.')
											console.error(error)
										});				
				}
				function mudar_prioridade(hash, prioridade){
					
					var url = "{% url 'chamados:api_prioridade' %}"; 
					formData = new FormData();
					formData.append('hash', hash);
					formData.append('prioridade', prioridade);
					formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
					postRequest(url, formData)
										.then(response => {
											if (response.status == 200){
												mudar_prioridade_select(response.id, response.display_prioridade)
											}else{
												alert(response.message +" (" + response.status+")")
											}                                   
										})
										.catch(error => {
											alert('Erro ao mudar status. Tente novamente mais tarde.')
											console.error(error)
										});				
				}

				function mudar_atendente(hash, atendente){
					var url = "{% url 'chamados:api_atendente' %}"; 
					formData = new FormData();
					formData.append('hash', hash);
					formData.append('atendente', atendente);
					formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
					postRequest(url, formData)
										.then(response => {
											if (response.status == 200){
												// alert(response.message +" (" + response.status+")")
												mudar_atendente_select(response.id, response.display_atendente)
											}else{
												alert(response.message +" (" + response.status+")")
											}                                   
										})
										.catch(error => {
											alert('Erro ao mudar status. Tente novamente mais tarde.')
											console.error(error)
										});				
				}

	</script>		
{% endblock %}