{% extends 'template.html' %}
{% block chamados %}active{% endblock %}
{% block main %}   		    
				<style>
					#message{
						display: none;
					}
					#response-message{
						font-weight: bold;
						color: white;
					}
					.bg-gray{
						background-color: rgba(128, 128, 128, 0.281) !important;
					}										
					#msg .form-body textarea{
						height: 100px;
						width: 70%;
					}
					#msg .form-body .div-anexo{
						display: flex;
						margin-left: 20px;
						padding: 0.6rem;
						height: 100px;						
						border: 1px solid #e7e9ed;						
						border-radius: var(--bs-border-radius);
    					color: #5d6778;
					}
					
				</style>
 <div class="row g-3 mb-4 align-items-center justify-content-between">
	<div class="col-auto">
		<h1 class="app-page-title mb-0">{{titulo}}</h1>
	</div>
	<div class="col-auto">
		 <div class="page-utilities">
			<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
				<div class="col-auto">
					<div class="table-search-form row gx-1 align-items-center">                                        					           						
						<div class="col-auto">
							<a href="{{back_url}}" class="btn btn-danger" style="color: white;"><i class="fa-solid fa-rotate-left me-2"></i></i>Voltar</a>
						</div>
						
					</div>
					
				</div>		
			</div>
		</div>
	</div>
</div>
<div class="row my-3">
	<div class="col col-md">
		<div class="app-card shadow-sm p-4">
			<div class="app-card-body">
				<div class="row">
					<div class="col d-flex flex-column">						
						<form method="POST" class="mt-3">
							{% csrf_token %}
							{{ form }}
							<button class="btn btn-primary">
								{{submit_text}}
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>   
{% endblock %}