{% extends 'template_chamados.html' %}
{% block chamados %}active{% endblock %}
{% block title %}Detalhes chamado{% endblock %}
{% block css %}
{% load static %}

{% endblock %}
{% block main %}   		    
{% load custom_filters %}
<style>
    #message{
        display: none;
    }
    #response-message{
        font-weight: bold;
        color: white;
    }
    .bg-gray{
        background-color: rgba(128, 128, 128, 0.281) !important;
    }										
    #msg .form-body textarea{
        height: 100px;
        width: 70%;
    }
    #msg .form-body .div-anexo{
        display: flex;
        margin-left: 20px;
        padding: 0.6rem;
        height: 100px;						
        border: 1px solid #e7e9ed;						
        border-radius: var(--bs-border-radius);
        color: #5d6778;
    }

    .container-xl{
        width: 100% !important;;
    }

    .dashboard {
        width: 100%;
        margin: 20px auto;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    .header {
        margin-bottom: 30px;
    }

    .header h1 {
        color: rgb(73, 73, 73);
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .card {
        background-color: rgb(243, 250, 255);
        color: RGB(132, 220, 81);
        padding: 20px 20px 10px 20px;
        border-radius: 8px;
        width: 24%;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

    .card h3 {
        color: rgb(156, 156, 156);
        font-size: 16px;
        margin-bottom: 10px;
    }

    .card p {
        color: black;
        margin-top: auto;
        font-size: 24px;
        font-weight: bold;
    }

    .feedbacks {
        margin-bottom: 30px;
    }

    .feedbacks h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        background-color: #f9f9f9;
    }

    table th, table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    table th {
        background-color: #0044cc;
        color: #fff;
    }

    #avnegativas table th {
        background-color: #ff0000;
        color: #fff;
    }   
    #avpendente table th {
        background-color: #ffae00;
        color: #fff;
    }
    table tbody tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
	table tbody .tr-details{
		width: 100%;
		background-color: #ffdfdf;
	}
    .feedback-card {
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .feedback-card h3 {
        color: #0044cc;
        margin-bottom: 20px;
    }

    .details p {
        margin-bottom: 10px;
        line-height: 1.6;
    }

    .details strong {
        color: #000000;
    }
	@media (min-width: 1400px) {
		.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
			max-width: 97.5%;
			margin-left: 3%;
		}
	}
</style>

<script>
    // Função para exibir detalhes do feedback
    function showDetails(feedbackId) {
        let details = document.getElementById('details-' + feedbackId);
        details.style.display = details.style.display === 'none' ? 'block' : 'none';
    }
</script>

<div class="dashboard">
    <header class="header d-flex">
        <h1>Painel de Pesquisa de Satisfação</h1>
        <a href="{% url 'chamados:download_excel_feedback' %}" class="my-auto ms-3" style="color: #3ea126"><i class="fa-solid fa-file-arrow-down fa-2x"></i></a>
		<p class="my-auto ms-auto">Feedbacks pendentes: {{feed_pendentes.count}}</p>
        <button id="btnToogle-avpendente" style="color: #ffae00;" class="btn" onclick="toogleFeedback('avpendente')"><i class="fa-regular fa-eye-slash"></i></button>  
    </header>
	<div class="row">
		<div class="col">
			
		</div>
	</div>
    <div class="content">
        <div class="stats">						
            <div class="card">
                <h3>Média de Avaliação Geral</h3>								
                <p>{{media_geral}}</p>
            </div>
            <div class="card">
                <h3>Média de Avaliação Cordialidade</h3>								
                <p>{{media_cordialidade}}</p>
            </div>
            <div class="card">
                <h3>Avaliações Geral<br>Ruim ou Regular</h3>
                <p>{{qnt_negativos_geral}}</p>
            </div>
            <div class="card">
                <h3>Avaliações Cordialidade<br>Ruim ou Regular</h3>
                <p>{{qnt_negativos_cordialidade}}</p>
            </div>
        </div>        				
        <div id="avpendente" class="feedbacks">
            <div class="row">
				<div class="col d-flex">
					<h2 class="my-auto">Feedbacks Pendentes ({{feed_pendentes.count}})</h2>
					<button class="btn ms-auto my-auto" style="color: #ffae00;" onclick="toogleFeedback('avpendente')">
						<i class="fa-solid fa-circle-xmark"></i>                        
					</button>
				</div>
			</div>
            <table>
                <thead>
                    <tr>
                        <th>Chamado</th>
                        <th>Data inclusão</th>
                        <th>Data fechamento</th>
						<th>Técnico</th>
						<th>Requisitante</th>
                        <th>Secretaria</th>
                        <th>Contato</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chamado in feed_pendentes %}
                    <tr onclick="showDetails({{feed.id}})">
                        <td>{{chamado.n_protocolo}}</td>
                        <td>{{chamado.dt_inclusao|date:"d/m/Y"}}</td>
                        <td>{{chamado.dt_fechamento|date:"d/m/Y"}}</td>
						<td>{{chamado.profissional_designado}}</td>
						<td>{{chamado.requisitante}}</td>
                        <td>{{chamado.secretaria}}</td>
                        <td>{{chamado.telefone}}</td>
                    </tr>
                    <tr id="details-{{feed.id}}" style="display: none;">
                        <td colspan="5">                            
							<p><strong>Sugestão:</strong> {% if feed.comentario %} {{feed.comentario}}{% else %} N/H{% endif %}</p>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Nenhum feedback pendente</td>
                    </tr>
					{% endfor %}
                </tbody>
            </table>
        </div>
        <div class="feedbacks">
            <div class="row">
				<div class="col d-flex">
					<h2 class="my-auto">Feedbacks Positivos ({{feedbacks_positivos_count}})</h2>
					<button id="btnToogle-avnegativas" class="btn ms-auto my-auto" style="color: #ff0000;" onclick="toogleFeedback('avnegativas')">
						<i class="fa-regular fa-eye-slash"></i>
					</button>
				</div>
			</div>
            <table>
                <thead>
                    <tr>
                        <th>Chamado</th>
                        <th>Data finalizado</th>
                        <th>Data feed</th>
						<th>Técnico</th>
						<th>Requisitante</th>
                        <th>Avaliação Geral</th>
                        <th>Cordialidade</th>
                        <th>Resolução</th>
                        <th>Ret. téc. novamente</th>						
                        <th>Tempo de espera</th>
                        <th>Sugestões</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feed in feedbacks_positivos %}
                    <tr onclick="showDetails({{feed.id}})">
                        <td>{{feed.chamado}}</td>
                        <td>{{feed.chamado.dt_fechamento|date:"d/m/Y"}}</td>
                        <td>{{feed.dt_inclusao|date:"d/m/Y"}}</td>
						<td>{{feed.chamado.profissional_designado}}</td>
						<td>{{feed.chamado.requisitante}}</td>
                        <td>
                            {{feed.get_icon_avaliacao|safe}}
                            {{feed.get_avaliacao_display}}</td>
                        <td>
                            {{feed.get_icon_cordialidade|safe}}
                            {{feed.get_cordialidade_display}}
                        </td>
                        <td>
                            {% if feed.resolucao == 'sc' %}
                                <i class="fa-solid fa-check-double me-2" style="color: #46c53a;" ></i>
                            {% elif feed.resolucao == 'sp' %}
                                <i class="fa-solid fa-list-check me-2" style="color: #ffd900;" ></i>
                            {% elif feed.resolucao == 'n' %}
                                <i class="fa-solid fa-xmark me-2" style="color: #bd2121;" ></i>
                            {% endif %}
                            {{feed.get_resolucao_display}}</td>
                        <td>
                            {% if feed.receberia_novamente_o_tecnico == 's' %}
                                <i class="fa-solid fa-check me-2" style="color: #46c53a;" ></i>
                            {% elif feed.receberia_novamente_o_tecnico == 'n' %}
                                <i class="fa-solid fa-xmark me-2" style="color: #bd2121;" ></i>
                            {% endif %}
                            {{feed.get_receberia_novamente_o_tecnico_display}}</td>
                        <td>
                            {% if feed.tempo_espera %}
                            {{feed.get_icon_tempo_espera|safe}}
                            {{feed.get_tempo_espera_display}}
                            {% else %}
                            <i class="fa-solid fa-ghost me-2"></i>Não há
                            {% endif %}
                        </td>
                        <td>{% if feed.comentario %}<i style="color: #ff5c5cc2;" class="fa-solid fa-comment-dots"></i>{% else %}<i class="fa-solid fa-comment-slash"></i>{% endif %}</td>
                    </tr>
                    <tr id="details-{{feed.id}}" style="display: none;">
                        <td colspan="5">                            
							<p><strong>Sugestão:</strong> {% if feed.comentario %} {{feed.comentario}}{% else %} N/H{% endif %}</p>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Nenhum feedback</td>
                    </tr>                    
					{% endfor %}
                </tbody>
            </table>
        </div>
		<div id="avnegativas" class="feedbacks" style="display: block;">
            <div class="row">
                <div class="col d-flex">
                    <h2 class="my-auto">Feedbacks Negativos ({{feedbacks_negativos_count}})</h2>        
                    <button class="btn ms-auto my-auto" style="color: #ff0000;" onclick="toogleFeedback('avnegativas')">
						<i class="fa-solid fa-circle-xmark"></i>                        
					</button>            
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Chamado</th>
                        <th>Data finalizado</th>
                        <th>Data feed</th>
						<th>Técnico</th>
						<th>Requisitante</th>
                        <th>Avaliação Geral</th>
                        <th>Cordialidade</th>
                        <th>Resolução</th>
                        <th>Ret. téc.novamente</th>	
                        <th>Tempo de espera</th>							
                        <th>Sugestões</th>			
                    </tr>
                </thead>
                <tbody>
					{% for feed in feedbacks_negativos %}
                    <tr onclick="showDetails({{feed.id}})">
                        <td>{{feed.chamado}}</td>
                        <td>{{feed.chamado.dt_fechamento|date:"d/m/Y"}}</td>
                        <td>{{feed.dt_inclusao|date:"d/m/Y"}}</td>  
						<td>{{feed.chamado.profissional_designado}}</td>
						<td>{{feed.chamado.requisitante}}</td>
                        <td>
                            {{feed.get_icon_avaliacao|safe}}
                            {{feed.get_avaliacao_display}}</td>
                        <td>
                            {{feed.get_icon_cordialidade|safe}}
                            {{feed.get_cordialidade_display}}
                        </td>
                        <td>{{feed.get_resolucao_display}}</td>
                        <td>{{feed.get_receberia_novamente_o_tecnico_display}}</td>
                        <td>
                            {% if feed.tempo_espera %}
                            {{feed.get_tempo_espera_display}}
                            {% else %}
                            N/H
                            {% endif %}
                        </td>
                        <td>{% if feed.comentario %}<i class="fa-solid fa-comment"></i>{% else %}<i class="fa-solid fa-comment-slash"></i>{% endif %}</td>
                    </tr>
                    <tr id="details-{{feed.id}}" style="display: none;">
                        <td colspan="5">
                            <p><strong>Justificativa avaliação geral:</strong> {{feed.avaliacao_justificativa}}</p>
                            <p><strong>Justificativa avaliação cordialidade:</strong>{{feed.cordialidade_justificativa}}.</p>
							<p><strong>Sugestão:</strong>{% if feed.comentario %} {{feed.comentario}}{% else %} N/H{% endif %}</p>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Nenhum feedback negativo</td>
                    </tr>
					{% endfor %}
                    
                </tbody>
            </table>
        </div>		
        <div class="feedback-card">
            <div class="row">
                <div class="col d-flex">
                    <h3 class="my-auto">Pesquisar Feedback</h3>
                    <input type="text" class="form-control my-auto" placeholder="Pesquisar nº protocolo" id="protocolo" style="width: 250px; margin-left: auto;">
                    <button class="btn btn-secondary ms-1 my-auto" onclick="pesquisarFeedback()"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <div class="details">
                <div id="resultado"></div>
				<div style="display: none;" id="error" class="mt-3 alert alert-danger"></div>
            </div>
        </div>
        <div class="feedback-card mt-4">
            <div class="row">
                <div class="col">
                    <h3>Análise gráfica unitária</h3>
                    <div class="row mt-4">
                        <div class="col">
                            <canvas id="graficoGeral"></canvas>
                        </div>
                        <div class="col">
                            <canvas id="graficoAvaliacao"></canvas>                            
                        </div>
                        <div class="col">
                            <canvas id="graficoCordialidade"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <canvas id="graficoTempoEspera"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function toogleFeedback(id){
        document.getElementById(id).style.display = document.getElementById(id).style.display === 'none' ? 'block' : 'none';
        document.getElementById(`btnToogle-${id}`).innerHTML = document.getElementById(id).style.display === 'none' ? '<i class="fa-regular fa-eye"></i>' : '<i class="fa-regular fa-eye-slash"></i>';
    }
	function pesquisarFeedback() {
        // Pega o valor do protocolo no campo de pesquisa
        const protocolo = document.querySelector('#protocolo').value;

        // Verifica se o protocolo foi informado
        if (!protocolo) {
            alert("Por favor, informe um protocolo.");
            return;
        }

        // Faz a requisição fetch para a view
        fetch(`/chamados/pesquisar-feedback/?protocolo=${protocolo}`)
            .then(response => {
                if (!response.ok) {
					console.log(response)
                    throw new Error('Erro ao buscar o feedback');
                }
                return response.json();
            })
            .then(data => {
                // Manipulação do retorno da requisição
                if (data.error) {
                    // Exibe mensagem de erro
					document.querySelector('#error').innerHTML = data.error;
					document.querySelector('#resultado').innerHTML = '';
					document.querySelector('#error').style.display = 'block';
                } else {
					// Limpa a mensagem de erro
					document.querySelector('#error').style.display = 'none';
					document.querySelector('#error').innerHTML = '';
                    // Aqui você pode manipular os dados e exibir no HTML
                    document.querySelector('#resultado').innerHTML = `
						<div class="row mt-4">
						<div class="col-lg-4 col-sm-12">
							<div class="w-100 d-flex">
							<h3 class="">Chamado</h3>
							<a class="ms-1 btn" style="border-color: black !important;" href="${data.chamado.link}" target='_blank'><i class="fa-regular fa-eye"></i></a>
							</div>
                        	<p><strong>Protocolo:</strong> ${data.chamado.n_protocolo}</p>                        
							<p><strong>Secretaria:</strong> ${data.chamado.secretaria}</p>
							<p><strong>Telefone:</strong> ${data.chamado.telefone}</p>
							<p><strong>Requisitante:</strong> ${data.chamado.requisitante}</p>
							<p><strong>Profissional Designado:</strong> ${data.chamado.profissional_designado}</p>
							<p><strong>Descrição:</strong> ${data.chamado.descricao}</p>
							<p><strong>Contato:</strong> ${data.chamado.telefone}</p>
							<p><strong>Data de abertura:</strong> ${data.chamado.data_abertura}</p>							
						</div>
                        <div class="col-lg-4 col-sm-12">
                            <h3>Relatório Atendente</h3>
                            <p><strong>Tipo de serviço:</strong> ${data.chamado.tipo}</p>
                            <p><strong>Serviço realizado:</strong> ${data.chamado.subtipo}</p>
                            <p><strong>Descrição do serviço:</strong> ${data.chamado.relatorio}</p>
                        </div>
						<div class="col-lg-4 col-sm-12">
							<h3>Feedback</h3>
							<p><strong>Avaliação Geral:</strong> ${data.avaliacao_geral}</p>
							<p><strong>Justificativa geral:</strong> ${data.geral_justificativa}</p>
							<p><strong>Avaliação Cordialidade:</strong> ${data.avaliacao_cordialidade}</p>
							<p><strong>Justificativa cordialidade:</strong> ${data.cordialidade_justificativa}</p>
							<p><strong>Resolução:</strong> ${data.resolucao}</p>
							<p><strong>Receberia o técnico novamente:</strong> ${data.receberia_novamente}</p>
                            <p><strong>Tempo de espera:</strong> ${data.tempo_espera}</p>
							<p><strong>Sugestões:</strong> ${data.sugestoes}</p>
													
							<p><strong>Data Feedback:</strong> ${data.data_feedback}</p>							
						</div>
						</div>
                    `;
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao processar a requisição. Tente novamente.');
            });
    }
    const ctxGeral = document.getElementById('graficoGeral').getContext('2d');
    new Chart(ctxGeral, {
        type: 'bar',
        data: {
            labels: {{ labels_geral|safe }},  // Labels: 'Excelente', 'Ótimo', etc.
            datasets: {{ datasets_geral|safe }},  // Datasets: Avaliação e Cordialidade
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false, 
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Avaliação e Cordialidade Geral do TI',
                }
            },
            scales: {
                x: {
                    stacked: false,  // Barras lado a lado
                },
                y: {
                    beginAtZero: true,
                    stacked: false,  // Garantir lado a lado
                }
            }
        }
    });
         // Gráfico de Avaliação Geral
    const ctxAvaliacao = document.getElementById('graficoAvaliacao').getContext('2d');
    new Chart(ctxAvaliacao, {
        type: 'bar',
        data: {
            labels: {{ atendente_labels|safe }},  // Nomes dos atendentes
            datasets: {{ datasets_avaliacao|safe }},  // Dados da avaliação geral
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Avaliação por Técnico'
                }
            },
            scales: {
                x: { stacked: false },
                y: { beginAtZero: true, stacked: false }
            },
            elements: {
                bar: {
                    barThickness: 40,
                    maxBarThickness: 50,
                    borderSkipped: false,
                }
            }
        }
    });

        // Gráfico de Cordialidade
    const ctxCordialidade = document.getElementById('graficoCordialidade').getContext('2d');
    new Chart(ctxCordialidade, {
        type: 'bar',
        data: {
            labels: {{ atendente_labels|safe }},  // Nomes dos atendentes
            datasets: {{ datasets_cordialidade|safe }},  // Dados da cordialidade
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Cordialidade por Técnico'
                }
            },
            scales: {
                x: { stacked: false },
                y: { beginAtZero: true, stacked: false }
            },
            elements: {
                bar: {
                    barThickness: 40,
                    maxBarThickness: 50,
                    borderSkipped: false,
                }
            }
        }
    });
</script>
{% endblock %}
