{% extends 'template_chamados.html' %}
{% block chamados %}active{% endblock %}
{% block title %}Tickets Chamados{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/tickets.css">
{% endblock %}
{% block main %}  
    <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
            <h1 class="app-page-title tickets mb-0">Bem vindo aos tickets</h1>
        </div>
        {% if request.user.is_superuser or is_atendente%}
            <div class="col-auto top-buttons-background">
                    <a href="{% url 'chamados:index' %}" class="my-auto btn app-btn-secondary"><i class="fa-solid fa-rotate-left me-2"></i>Voltar</a>
            
                <button class="my-auto btn p-4 py-2" id="mButtonFilters" 
                        data-bs-toggle="offcanvas" 
                        data-bs-target="#offcanvasScrolling" 
                        onclick="toggleMenuFilters()"
                        >
                    <i class="fa-solid fa-angle-left"></i><i class="fa-solid fa-filter mx-2"></i>Filtros
                </button>
            </div>
        {% endif %}
    </div>
    
    <!-- CARDS -->
    <div class="container">
        
        <div class="row">
            <!-- Coluna de 9 colunas -->
            <div class="col-lg-12" id="cards-wrapper" >
                {% if messages %}
						<div class="alert alert-dismissible shadow-sm bg-success border-left-decoration" role="alert" id="createTicketAlert" style="margin-left: -0.75rem; margin-right: 0.75rem;">
							<div class="inner">
								<div class="app-card-body px-3 px-lg-4">						    
									<div class="row gx-5 gy-3">
										<div class="col-12 col">
											<div class="text-light" style="color: white;">
											{% for message in messages %}
											{{message}}
											{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	            {% endif %}
                {% for chamado in chamados %}
                    <div id="chamado-{{chamado.id}}" class="row ticket-chamado-background{% if chamado.status == '4' %} card-status-finalizado{% endif %}">
                        <div class="row">
                            <div class="col-1 m-auto checkbox-container">
                                <input type="checkbox" class="checkbox-tickets" onchange="toggleStatusCheckBox(this)">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-lg-8 col-sm-11 chamados-tickets-infos-chamado">
                                        <div class="chamados-tickets-infos-chamado-text">
                                            {% if chamado.is_novo %}
                                            <span class="chamados-tickets-infos-chamado-text-assunto validade-ticket"> Novo</span>
                                            {% endif %}
                                            <a href="{% url 'chamados:detalhes' chamado.hash %}">
                                                <span class="chamados-tickets-infos-chamado-text-assunto">
                                                    {{ chamado.assunto }} - {{ chamado.setor.secretaria }} #{{ chamado.id|stringformat:"04d" }}
                                                </span>
                                                </a>
                                            <div class="solution-infos-wrapper">
                                                <i class="fa-solid fa-globe" style="width: 10px;"></i>
                                                <span class="chamados-tickets-infos-chamado-text-requisitante">{{ chamado.user_inclusao }}
                                                </span>
                                                <span class="chamados-tickets-infos-chamado-text-status">
                                                    <i class="fa-solid fa-circle" style="width: 5px;"></i> {{chamado.status_andamento_ticket}}
                                                </span>
                                                <!-- <span>
                                                    <i class="fa-solid fa-circle" style="width: 5px;"></i> Resolvido no prazo
                                                </span> -->
                                                    
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-11 chamados-tickets-infos">
                                        <!-- Verificação se o usuário é superusuário -->
                                        {% if request.user.is_superuser or is_atendente%}
                                            <!-- Dropdown para Prioridade -->
                                            <span class="prioridade text-line">
                                                <span id="indicadorPrioridade-{{chamado.id}}" class="prioridade-indicador {{ chamado.get_prioridade_class }}"></span>
                                                <div class="dropdown">
                                                    <a id="selectPrioridade-{{chamado.id}}" class="dropdown-toggle" 
                                                       type="button" 
                                                       data-bs-toggle="dropdown" 
                                                       aria-expanded="false" 
                                                       style="text-decoration: none; color: black;"
                                                       data-bs-toggle="tooltip" 
                                                       data-bs-placement="left" 
                                                       title="Prioridade">
                                                        {{ chamado.get_prioridade_display }}
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        {% for prioridade in chamado.PRIORIDADE_CHOICES %}
                                                            <li><a class="dropdown-item" href="#" onclick="mudar_prioridade('{{chamado.hash}}','{{prioridade.0}}')">{{prioridade.1}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </span>
                                           
                                            <span class="prioridade">
                                                
                                                <!-- Dropdown para Atendente -->
                                                <div class="dropdown d-inline">
                                                    <span class="user-icon"><i class="fa-solid fa-user user-i"></i></span>
                                                    <a class="dropdown-toggle" 
                                                       id="selectAtendente-{{chamado.id}}"
                                                       type="button" 
                                                       data-bs-toggle="dropdown" 
                                                       aria-expanded="false" 
                                                       style="text-decoration: none; color: black;"
                                                       data-bs-toggle="tooltip" 
                                                       data-bs-placement="left" 
                                                       title="Atendente">
                                                       {% if chamado.profissional_designado%}
                                                       {{ chamado.profissional_designado }}
                                                       {% else %}
                                                       Não atribuído
                                                       {% endif %}
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        {% for atendente in atendentes %}
                                                            <li>
                                                                <a class="dropdown-item" href="#" onclick="mudar_atendente('{{chamado.hash}}', '{{atendente.id}}')">{{ atendente.nome_servidor }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </span>
                                            
                                            <!-- Dropdown para Status -->
                                            <span class="prioridade">
                                                <span id="indicadorStatus-{{chamado.id}}" class="prioridade-indicador {{ chamado.get_status_class }}"></span>
                                                <div class="dropdown">
                                                    <a class="dropdown-toggle" 
                                                       type="button" 
                                                       data-bs-toggle="dropdown" 
                                                       aria-expanded="false" 
                                                       style="text-decoration: none; color: black;"
                                                       data-bs-toggle="tooltip" 
                                                       data-bs-placement="left" 
                                                       title="Status"
                                                       id="statusSelect-{{chamado.id}}">
                                                        {{ chamado.get_status_display }}
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        {% for status in chamado.STATUS_CHOICES %}
                                                            <li><a class="dropdown-item" href="#" onclick="mudar_status('{{chamado.hash}}','{{status.0}}')">{{status.1}}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </span>
                                    
                                        <!-- Caso não seja superusuário, exibir apenas as informações sem permitir alterações -->
                                        {% else %}
                                            <span class="prioridade text-line">
                                                <span class="prioridade-indicador {{ chamado.get_prioridade_class }}"></span>
                                                {{ chamado.get_prioridade_display }}
                                            </span>
                                    
                                            <!-- <span class="prioridade">
                                                {{ chamado.setor.secretaria.apelido }} / {{ chamado.atendente }}
                                            </span> -->
                                    
                                            <span class="prioridade">
                                                <span class="prioridade-indicador {{ chamado.get_status_class }}"></span>
                                                {{ chamado.get_status_display }}
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <ul class="pagination justify-content-center" style="margin-left: -0.75rem !important;margin-right: 0.75rem !important; margin-top: 1.5rem;">
                    <!-- Botão de 'Previous' -->
                    {% if chamados.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ chamados.previous_page_number }}" tabindex="-1">Anterior</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                        </li>
                    {% endif %}
                
                    <!-- Links para cada página -->
                    {% for num in chamados.paginator.page_range %}
                        {% if chamados.number == num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                
                    <!-- Botão de 'Next' -->
                    {% if chamados.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ chamados.next_page_number }}">Próximo</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Próximo</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            
            {% if request.user.is_superuser or is_atendente%}
            <div style="margin-top: 53px; z-index: 10; width: 280px; background-color: #f5f5f5;" 
                class="offcanvas offcanvas-end filters-wrapper" 
                data-bs-scroll="true" data-bs-backdrop="false" 
                tabindex="-1" id="offcanvasScrolling" 
                aria-labelledby="offcanvasScrollingLabel">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Filtros</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" onclick="toggleMenuFilters()"></button>
            </div>
            <!-- FILTRO -->
            <div class="offcanvas-body">
                <form method="POST" class="row" id="filter-form">
                    <div class="col">
                        {% csrf_token %}	
                        <!-- AGENTES -->
                        <div class="container mt-3" id="container-agentes">
                            <span class="filter-title-itens">Agentes incluem</span>
                            <div class="multi-select-input form-select" id="multiSelectInputAgentes">
                                {% if request.session.agentes %}
                                {% for agente in  request.session.agentes %}
                                <div class="selected-option id_agentesOptions" data-value="{{agente.id}}">{{agente.nome}} <button onclick="removeOption('{{agente.id}}', 'multiSelectInputAgentes', 'id_agentes')">×</button></div>
                                {% endfor %}
                                {% endif %}
                                <input class="input-hidden-values" type="hidden" name="agentes" id="id_agentes" {% if request.session.agentes %}value='{% for agente in  request.session.agentes %}{{agente.id}};{%endfor%}'{% endif %}>
                                <select id="agentesSelect" class="select-input form-select" aria-label="Select Agentes" data-id="id_agentes">
                                    <option value="" class="options-filter"></option>
                                    {% for atendente in atendentes %}
                                    <option value="{{ atendente.id }}" class="options-filter" {% if atendente.id|stringformat:"s" in agentes_selecionados %}selected{% endif %}>
                                        {{ atendente.nome_servidor }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>	
                        <!-- STATUS -->
                        <div class="container mt-3" id="container-status">
                            <span class="filter-title-itens">Status incluem</span>
                            <div class="multi-select-input form-select" id="multiSelectInputStatus">
                                {% if request.session.status %}
                                {% for status in request.session.status %}
                                <div class="selected-option id_statusOptions" data-value="{{status.id}}">{{status.nome}} <button onclick="removeOption('{{status.id}}', 'multiSelectInputStatus','id_status')">×</button></div>
                                {% endfor %}
                                {% endif %}
                                <input type="hidden" name="status" id="id_status" {% if request.session.status %}value='{% for status in request.session.status %}{{status.id}};{% endfor %}'{% endif %}>
                                <select id="statusSelect" class="select-input form-select" aria-label="Select Status" data-id="id_status">
                                    <option value="" class="options-filter"></option>
                                    {% for status in chamados.0.STATUS_CHOICES %}
                                    <option value="{{status.0}}" class="options-filter" {% if status.0|stringformat:"s" in status_selecionados %}selected{% endif %}>
                                        {{status.1}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- TIPOS CHAMADOS -->
                        <div class="container mt-3" id="container-grupos">
                            <span class="filter-title-itens">Grupos incluem</span>
                            <div class="multi-select-input form-select" id="multiSelectInputTiposChamados">
                                {% if request.session.tiposChamados %}
                                {% for tipochamado in request.session.tiposChamados %}
                                <div class="selected-option id_tiposChamadosOptions" data-value="{{tipochamado.id}}">{{tipochamado.nome}} 
                                    <button onclick="removeOption('{{tipochamado.id}}', 'multiSelectInputTiposChamados', 'id_tiposChamados')">×</button>
                                </div>
                                {% endfor %}
                                {% endif %}
                                <input type="hidden" name="tiposChamados" id="id_tiposChamados" {% if request.session.tiposChamados %}value='{% for tipochamado in request.session.tiposChamados %}{{tipochamado.id}};{% endfor %}'{% endif %}>
                                <select id="tiposChamadosSelect" class="select-input form-select" aria-label="Select Tipo Chamado" data-id="id_tiposChamados">
                                    <option value="" class="options-filter"></option>
                                    {% for tipochamado in tipos_chamados %}
                                    <option value="{{tipochamado.id}}" class="options-filter" {% if tipochamado.id|stringformat:"s" in tiposChamados_selecionados %}selected{% endif %}>
                                        {{tipochamado.nome}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- PRIORIDADE -->
                        <div class="container mt-3" id="container-prioridades">
                            <span class="filter-title-itens">Prioridades incluem</span>
                            <div class="multi-select-input form-select" id="multiSelectInputPrioridade">
                                {% if request.session.prioridade %}
                                {% for prioridade in request.session.prioridade %}
                                <div class="selected-option id_prioridadeOptions" data-value="{{prioridade.id}}">{{prioridade.nome}} 
                                    <button onclick="removeOption('{{prioridade.id}}', 'multiSelectInputPrioridade', 'id_prioridade')">×</button>
                                </div>
                                {% endfor %}
                                {% endif %}
                                <input type="hidden" name="prioridade" id="id_prioridade" {% if request.session.prioridade %}value='{% for prioridade in request.session.prioridade %}{{prioridade.id}};{% endfor %}'{% endif %}>
                                <select id="PrioridadeSelect" class="select-input form-select" aria-label="Select Prioridade" data-id="id_prioridade">
                                    <option value="" class="options-filter"></option>
                                    {% for prioridade in chamados.0.PRIORIDADE_CHOICES %}
                                    <option value="{{prioridade.0}}" class="options-filter">{{prioridade.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="container mt-3">
                            <span class="filter-title-itens">Criado</span>
                            <div class="multi-select-input" id="multiSelectInputCriado">
                                <select id="criadoEm" name="criadoEm" class="select-input form-select id_criadoEmOptions" aria-label="Select Tipo Chamado">  
                                    <option value="" class="options-filter" {% if request.session.criadoEm == ''  %}selected{% endif %}></option>
                                    <option value="5min" class="options-filter" {% if request.session.criadoEm == '5min'  %}selected{% endif %}>Nos últimos 5 minutos</option>
                                    <option value="15min" class="options-filter" {% if request.session.criadoEm == '15min'  %}selected{% endif %}>Nos últimos 15 minutos</option>
                                    <option value="30min" class="options-filter" {% if request.session.criadoEm == '30min'  %}selected{% endif %}>Nos últimos 30 minutos</option>
                                    <option value="1hora" class="options-filter" {% if request.session.criadoEm == '1hora'  %}selected{% endif %}>Na última hora</option>
                                    <option value="4horas" class="options-filter" {% if request.session.criadoEm == '4horas'  %}selected{% endif %}>Nas últimas 4 horas</option>
                                    <option value="12horas" class="options-filter" {% if request.session.criadoEm == '12horas'  %}selected{% endif %}>Nas últimas 12 horas</option>
                                    <option value="24horas" class="options-filter" {% if request.session.criadoEm == '24horas'  %}selected{% endif %}>Nas últimas 24 horas</option>
                                    <option value="Hoje" class="options-filter" {% if request.session.criadoEm == 'Hoje'  %}selected{% endif %}>Hoje</option>
                                    <option value="Ontem" class="options-filter" {% if request.session.criadoEm == 'Ontem'  %}selected{% endif %}>Ontem</option>
                                    <option value="EstaSemana" class="options-filter" {% if request.session.criadoEm == 'EstaSemana'  %}selected{% endif %}>Esta semana</option>
                                    <option value="EsteMes" class="options-filter" {% if request.session.criadoEm == 'EsteMes'  %}selected{% endif %}>Este mês</option>
                                    <option value="7dias" class="options-filter" {% if request.session.criadoEm == '7dias'  %}selected{% endif %}>Nos últimos 7 dias</option>
                                    <option value="30dias" class="options-filter" {% if request.session.criadoEm == '30dias'  %}selected{% endif %}>Nos últimos 30 dias</option>
                                    <option value="60dias" class="options-filter" {% if request.session.criadoEm == '60dias'  %}selected{% endif %}>Nos últimos 60 dias</option>
                                    <option value="180dias" class="options-filter" {% if request.session.criadoEm == '180dias'  %}selected{% endif %}>Nos últimos 180 dias</option>
                                </select>
                            </div>
                        </div> 
                        <div class="container mt-3">
                            <span class="filter-title-itens">Fechado em</span>
                            <div class="multi-select-input" id="multiSelectInputFechado">
                                <select id="fechadoEm" name="fechadoEm" class="select-input form-select" aria-label="Select Tipo Chamado">
                                    <option value="" class="options-filter" {% if request.session.fechadoEm == ''  %}selected{% endif %}></option>
                                    <option value="5min" class="options-filter" {% if request.session.fechadoEm == '5min'  %}selected{% endif %}>Nos últimos 5 minutos</option>
                                    <option value="15min" class="options-filter" {% if request.session.fechadoEm == '15min'  %}selected{% endif %}>Nos últimos 15 minutos</option>
                                    <option value="30min" class="options-filter" {% if request.session.fechadoEm == '30min'  %}selected{% endif %}>Nos últimos 30 minutos</option>
                                    <option value="1hora" class="options-filter" {% if request.session.fechadoEm == '1hora'  %}selected{% endif %}>Na última hora</option>
                                    <option value="4horas" class="options-filter" {% if request.session.fechadoEm == '4horas'  %}selected{% endif %}>Nas últimas 4 horas</option>
                                    <option value="12horas" class="options-filter" {% if request.session.fechadoEm == '12horas'  %}selected{% endif %}>Nas últimas 12 horas</option>
                                    <option value="24horas" class="options-filter" {% if request.session.fechadoEm == '24horas'  %}selected{% endif %}>Nas últimas 24 horas</option>
                                    <option value="Hoje" class="options-filter" {% if request.session.fechadoEm == 'Hoje'  %}selected{% endif %}>Hoje</option>
                                    <option value="Ontem" class="options-filter" {% if request.session.fechadoEm == 'Ontem'  %}selected{% endif %}>Ontem</option>
                                    <option value="EstaSemana" class="options-filter" {% if request.session.fechadoEm == 'EstaSemana'  %}selected{% endif %}>Esta semana</option>
                                    <option value="EsteMes" class="options-filter" {% if request.session.fechadoEm == 'EsteMes'  %}selected{% endif %}>Este mês</option>
                                    <option value="7dias" class="options-filter" {% if request.session.fechadoEm == '7dias'  %}selected{% endif %}>Nos últimos 7 dias</option>
                                    <option value="30dias" class="options-filter" {% if request.session.fechadoEm == '30dias'  %}selected{% endif %}>Nos últimos 30 dias</option>
                                    <option value="60dias" class="options-filter" {% if request.session.fechadoEm == '60dias'  %}selected{% endif %}>Nos últimos 60 dias</option>
                                    <option value="180dias" class="options-filter" {% if request.session.fechadoEm == '180dias'  %}selected{% endif %}>Nos últimos 180 dias</option>
                                </select>
                            </div>
                        </div> 
                        <div class="container mt-3">
                            <span class="filter-title-itens">Agendado para</span>
                            <div class="multi-select-input" id="multiSelectInputResolvido">
                                <select id="agendadoPara" name="agendadoPara" class="select-input form-select" aria-label="Select Tipo Chamado">
                                    <option value="" class="options-filter" {% if request.session.agendadoPara == ''  %}selected{% endif %}></option>
                                    <option value="5min" class="options-filter" {% if request.session.agendadoPara == '5min'  %}selected{% endif %}>Nos últimos 5 minutos</option>
                                    <option value="15min" class="options-filter" {% if request.session.agendadoPara == '15min'  %}selected{% endif %}>Nos últimos 15 minutos</option>
                                    <option value="30min" class="options-filter" {% if request.session.agendadoPara == '30min'  %}selected{% endif %}>Nos últimos 30 minutos</option>
                                    <option value="1hora" class="options-filter" {% if request.session.agendadoPara == '1hora'  %}selected{% endif %}>Na última hora</option>
                                    <option value="4horas" class="options-filter" {% if request.session.agendadoPara == '4horas'  %}selected{% endif %}>Nas últimas 4 horas</option>
                                    <option value="12horas" class="options-filter" {% if request.session.agendadoPara == '12horas'  %}selected{% endif %}>Nas últimas 12 horas</option>
                                    <option value="24horas" class="options-filter" {% if request.session.agendadoPara == '24horas'  %}selected{% endif %}>Nas últimas 24 horas</option>
                                    <option value="Hoje" class="options-filter" {% if request.session.agendadoPara == 'Hoje'  %}selected{% endif %}>Hoje</option>
                                    <option value="Ontem" class="options-filter" {% if request.session.agendadoPara == 'Ontem'  %}selected{% endif %}>Ontem</option>
                                    <option value="EstaSemana" class="options-filter" {% if request.session.agendadoPara == 'EstaSemana'  %}selected{% endif %}>Esta semana</option>
                                    <option value="EsteMes" class="options-filter" {% if request.session.agendadoPara == 'EsteMes'  %}selected{% endif %}>Este mês</option>
                                    <option value="7dias" class="options-filter" {% if request.session.agendadoPara == '7dias'  %}selected{% endif %}>Nos últimos 7 dias</option>
                                    <option value="30dias" class="options-filter" {% if request.session.agendadoPara == '30dias'  %}selected{% endif %}>Nos últimos 30 dias</option>
                                    <option value="60dias" class="options-filter" {% if request.session.agendadoPara == '60dias'  %}selected{% endif %}>Nos últimos 60 dias</option>
                                    <option value="180dias" class="options-filter" {% if request.session.agendadoPara == '180dias'  %}selected{% endif %}>Nos últimos 180 dias</option>
                                </select>
                            </div>
                        </div> 
                        <div class="container mt-3">
                            <span class="filter-title-itens">Atualização em</span>
                            <div class="multi-select-input" id="multiSelectInputVence">
                                <select id="atualizacaoEm" name="atualizacaoEm" class="select-input form-select" aria-label="Select Tipo Chamado">
                                    <option value="" class="options-filter" {% if request.session.atualizacaoEm == ''  %}selected{% endif %}></option>
                                    <option value="5min" class="options-filter" {% if request.session.atualizacaoEm == '5min'  %}selected{% endif %}>Nos últimos 5 minutos</option>
                                    <option value="15min" class="options-filter" {% if request.session.atualizacaoEm == '15min'  %}selected{% endif %}>Nos últimos 15 minutos</option>
                                    <option value="30min" class="options-filter" {% if request.session.atualizacaoEm == '30min'  %}selected{% endif %}>Nos últimos 30 minutos</option>
                                    <option value="1hora" class="options-filter" {% if request.session.atualizacaoEm == '1hora'  %}selected{% endif %}>Na última hora</option>
                                    <option value="4horas" class="options-filter" {% if request.session.atualizacaoEm == '4horas'  %}selected{% endif %}>Nas últimas 4 horas</option>
                                    <option value="12horas" class="options-filter" {% if request.session.atualizacaoEm == '12horas'  %}selected{% endif %}>Nas últimas 12 horas</option>
                                    <option value="24horas" class="options-filter" {% if request.session.atualizacaoEm == '24horas'  %}selected{% endif %}>Nas últimas 24 horas</option>
                                    <option value="Hoje" class="options-filter" {% if request.session.atualizacaoEm == 'Hoje'  %}selected{% endif %}>Hoje</option>
                                    <option value="Ontem" class="options-filter" {% if request.session.atualizacaoEm == 'Ontem'  %}selected{% endif %}>Ontem</option>
                                    <option value="EstaSemana" class="options-filter" {% if request.session.atualizacaoEm == 'EstaSemana'  %}selected{% endif %}>Esta semana</option>
                                    <option value="EsteMes" class="options-filter" {% if request.session.atualizacaoEm == 'EsteMes'  %}selected{% endif %}>Este mês</option>
                                    <option value="7dias" class="options-filter" {% if request.session.atualizacaoEm == '7dias'  %}selected{% endif %}>Nos últimos 7 dias</option>
                                    <option value="30dias" class="options-filter" {% if request.session.atualizacaoEm == '30dias'  %}selected{% endif %}>Nos últimos 30 dias</option>
                                    <option value="60dias" class="options-filter" {% if request.session.atualizacaoEm == '60dias'  %}selected{% endif %}>Nos últimos 60 dias</option>
                                    <option value="180dias" class="options-filter" {% if request.session.atualizacaoEm == '180dias'  %}selected{% endif %}>Nos últimos 180 dias</option>
                                </select>
                            </div>
                        </div> 
                            <div class="container">
                                <button class="filter-button btn app-btn-primary"  type="submit"><i class="fa-solid fa-filter me-2"></i>Aplicar</button> 
                                <button class="filter-button btn app-btn-secondary"  type="button" onclick="clearInputs()"><i class="fa-solid fa-filter-circle-xmark me-2"></i>Limpar filtros</button> 
                            </div>
                        </div>
                        
                    </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
        
        </div>
    </div>
    <script src="/static/js/request.js"></script>				
    <script>
        function toggleStatusCheckBox(checkbox) {
        // Encontre o elemento pai mais próximo com a classe 'row.ticket-chamado-background'
        var card = checkbox.closest('.row.ticket-chamado-background');
        
        if (checkbox.checked) {
            card.classList.add('checked');
        } else {
            card.classList.remove('checked');
        }
    }

    // const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    // const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))


    // Função para adicionar a opção selecionada

    function addSelectedOption(selectId, containerId, hiddenInputId) {
        const select = document.getElementById(selectId);
        const container = document.getElementById(containerId);
        const hiddenInput = document.getElementById(hiddenInputId);
        
        select.addEventListener('change', function(e) {
            const selectedValue = select.value;
            const selectedText = select.options[select.selectedIndex].text;
            const selectedId = select.options[select.selectedIndex].getAttribute('data-id'); 
            
            if (!selectedValue) return; // Ignore if no value is selected
            
            // Verifica se a opção já foi adicionada
            if (!document.querySelector(`#${containerId} [data-value="${selectedValue}"]`)) {
                const selectedOptionElement = document.createElement('div');
                selectedOptionElement.className = `selected-option ${e.target.dataset.id}Options`;
                selectedOptionElement.setAttribute('data-value', selectedValue);
                hiddenInput.value += select.value + ';'
                selectedOptionElement.setAttribute('data-id', selectedId);
                selectedOptionElement.innerHTML = `${selectedText} <button onclick="removeOption('${selectedValue}', '${containerId}', '${e.target.dataset.id}')">&times;</button>`;
                container.insertBefore(selectedOptionElement, select);
            }

            // Reseta o select
            select.value = '';
        });
    }

    // Função para remover a opção
        // function removeInput(id)
        function removeOption(value, containerId, id_input) {
            const container = document.getElementById(containerId);
            const optionElement = container.querySelector(`[data-value="${value}"]`);
            let hiddenInput = document.getElementById(id_input);

            valoresAgentes = hiddenInput.value
            console.log(valoresAgentes)
            valoresAgentes = valoresAgentes.replace(value+';', '')
            console.log(valoresAgentes)
            if (optionElement) {
                container.removeChild(optionElement);
                hiddenInput.value = valoresAgentes
            }
            
        }
        
        // Função para obter todos os valores e IDs das opções selecionadas
        function getSelectedOptions(containerId) {
            const container = document.getElementById(containerId);
            const selectedOptions = [];
            
            container.querySelectorAll('.selected-option').forEach(optionElement => {
                const value = optionElement.getAttribute('data-value');
                const id = optionElement.getAttribute('data-id');
                selectedOptions.push({ value, id });
            });

            return selectedOptions;
        }

    // Inicialize as funções para os selects
    addSelectedOption('agentesSelect', 'multiSelectInputAgentes', 'id_agentes');
    addSelectedOption('statusSelect', 'multiSelectInputStatus','id_status');
    addSelectedOption('tiposChamadosSelect', 'multiSelectInputTiposChamados', 'id_tiposChamados');
    addSelectedOption('PrioridadeSelect', 'multiSelectInputPrioridade', 'id_prioridade');

    function clearInputs(){
        ids = ['agentes', 'status', 'tiposChamados', 'prioridade']
        ids_selects = ['criadoEm', 'fechadoEm', 'agendadoPara','atualizacaoEm']
        // parte para limpar os selects multiplos
        ids.forEach(id => {
            document.getElementById('id_'+id).value = ''
            opcoesDiv = document.querySelectorAll('.id_'+id+'Options')
            opcoesDiv.forEach(div =>
                {
                    div.remove()
                }
            )
            // console.log(opcoesDiv)
        });
        // parte para limpar os selects simples
        ids_selects.forEach(id_select => {
            const selectElement = document.getElementById(id_select);
            if (selectElement) {
                selectElement.selectedIndex = 0;  
            }
        });
    }
    function hiddenMenuFilters() {
        var button = document.getElementById('mButtonFilters');
        var cardsWrapper = document.getElementById('cards-wrapper');
        var filtersWrapper = document.getElementById('offcanvasScrolling');

        // Lógica para iniciar a visibilidade do filtro baseado na largura da tela
        if (window.matchMedia("(min-width: 768px)").matches) {
            // Telas grandes: inicia aberta
            filtersWrapper.classList.add('active', 'show');
            button.style.marginRight = '250px'; // Mover o botão para a esquerda
            cardsWrapper.style.paddingRight = '250px'; // Adiciona padding ao cardsWrapper
            button.innerHTML = '<i class="fa-solid fa-angle-right"></i><i class="fa-solid fa-filter mx-2"></i>Filtros';
        } else {
            // Telas pequenas: inicia fechada
            filtersWrapper.classList.remove('active', 'show'); // Assegura que está fechada
            button.style.marginRight = '0px'; // Reseta a margem do botão
            cardsWrapper.style.paddingRight = '0px'; // Reseta o padding do cardsWrapper
            button.innerHTML = '<i class="fa-solid fa-angle-left"></i><i class="fa-solid fa-filter mx-2"></i>Filtros';
        }
    }

    // Função para alternar o estado do menu ao clicar no botão
    function toggleMenuFilters() {
        var button = document.getElementById('mButtonFilters');
        var cardsWrapper = document.getElementById('cards-wrapper');
        var filtersWrapper = document.getElementById('offcanvasScrolling');
        var alertWrapper = document.getElementById('createTicketAlert');

        if (window.matchMedia("(min-width: 768px)").matches) {
            // Telas grandes: alternar entre abrir e fechar
            if (filtersWrapper.classList.contains('active')) {
                button.style.marginRight = '0px'; 
                cardsWrapper.style.paddingRight = '0px'; 
                alertWrapper.style.paddingRight = '0px';
                button.innerHTML = '<i class="fa-solid fa-angle-left"></i><i class="fa-solid fa-filter mx-2"></i>Filtros';
                filtersWrapper.classList.remove('active', 'show'); // Fecha o filtro
            } else {
                button.style.marginRight = '250px'; // Mover o botão para a esquerda
                cardsWrapper.style.paddingRight = '250px'; // Adiciona padding ao cardsWrapper
                alertWrapper.style.paddingRight = '250px';
                button.innerHTML = '<i class="fa-solid fa-angle-right"></i><i class="fa-solid fa-filter mx-2"></i>Filtros';
                filtersWrapper.classList.add('active', 'show'); // Abre o filtro
            }
        } else {
            // Telas pequenas: alternar entre abrir e fechar
            if (filtersWrapper.classList.contains('active')) {
                filtersWrapper.classList.remove('active', 'show'); // Fecha o filtro
            } else {
                filtersWrapper.classList.add('active', 'show'); // Abre o filtro
            }
        }
    }

    // Adiciona um listener para carregar o filtro quando a página é carregada
    document.addEventListener('DOMContentLoaded', hiddenMenuFilters);


    // Adiciona um listener para redimensionar a janela
    window.addEventListener('resize', hiddenMenuFilters);

    function saveOptionsFilter() {
        event.preventDefault(); // Evita o comportamento padrão de envio do formulário

        // Dicionário para armazenar as seleções
        let dados = {};

        // Seleciona todos os selects
        const selects = document.querySelectorAll('select');

        // Itera sobre todos os selects
        selects.forEach(select => {
            const selecionados = Array.from(select.selectedOptions).map(option => option.value);
            // Adiciona ao dicionário apenas se houver uma seleção
            if (selecionados.length > 0 && selecionados[0] !== "") {
                dados[select.id] = selecionados;
            }
        });

        // Verifica no console o resultado final
        console.log(dados);
        
        // Aqui você pode enviar o `dados` para o servidor ou utilizá-lo conforme necessário
        // Exemplo: enviar via AJAX, etc.
    }
    
    function mudar_status_select(id, display_status){
        let selectStatus = document.getElementById('statusSelect-'+id);
        selectStatus.innerText = display_status;   
        let indicadorStatus = document.getElementById('indicadorStatus-'+id);
        if (display_status == 'Em atendimento'){
            indicadorStatus.className = 'prioridade-indicador status-atendimento'
        }else{
            indicadorStatus.className = 'prioridade-indicador status-'+display_status.toLowerCase();
        }
        
        let card = document.getElementById('chamado-'+id);
        if (display_status.toLowerCase() == 'finalizado'){
            card.classList.add('card-status-finalizado');
        }else{            
            if (card.classList.contains('card-status-finalizado')) {
                card.classList.remove('card-status-finalizado');
            }
        }
    }
    function mudar_prioridade_select(id, display_prioridade){
        let selectPrioridade = document.getElementById('selectPrioridade-'+id);
        selectPrioridade.innerText = display_prioridade;   
        let indicadorPrioridade = document.getElementById('indicadorPrioridade-'+id);
        if (display_prioridade == 'Média'){
            indicadorPrioridade.className = 'prioridade-indicador prioridade-media'
        }
        else if(display_prioridade ==  'Não definida'){
            indicadorPrioridade.className = 'prioridade-indicador prioridade-nao-definida'
        }
        else{
            indicadorPrioridade.className = 'prioridade-indicador prioridade-'+display_prioridade.toLowerCase();
        }        
    }
    function mudar_atendente_select(id, display_atendente){
        let selectAtendente = document.getElementById('selectAtendente-'+id);
        selectAtendente.innerText = display_atendente;   
    }
    function mudar_status(hash, status){
        
        var url = "{% url 'chamados:api_status' %}"; 
        formData = new FormData();
        formData.append('hash', hash);
        formData.append('status', status);
        formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
		postRequest(url, formData)
							.then(response => {
                                if (response.status == 200){
                                    alert(response.message +" (" + response.status+")")
                                    mudar_status_select(response.id, response.display_status)
                                }else{
                                    alert(response.message +" (" + response.status+")")
                                }                                   
							})
							.catch(error => {
                                alert('Erro ao mudar status. Tente novamente mais tarde.')
								console.error(error)
							});				
    }
    function mudar_prioridade(hash, prioridade){
        var url = "{% url 'chamados:api_prioridade' %}"; 
        formData = new FormData();
        formData.append('hash', hash);
        formData.append('prioridade', prioridade);
        formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
		postRequest(url, formData)
							.then(response => {
                                if (response.status == 200){
                                    // alert(response.message +" (" + response.status+")")
                                    mudar_prioridade_select(response.id, response.display_prioridade)
                                }else{
                                    alert(response.message +" (" + response.status+")")
                                }                                   
							})
							.catch(error => {
                                alert('Erro ao mudar status. Tente novamente mais tarde.')
								console.error(error)
							});				
    }
    function mudar_atendente(hash, atendente){
        var url = "{% url 'chamados:api_atendente' %}"; 
        formData = new FormData();
        formData.append('hash', hash);
        formData.append('atendente', atendente);
        formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
		postRequest(url, formData)
							.then(response => {
                                if (response.status == 200){
                                    // alert(response.message +" (" + response.status+")")
                                    mudar_atendente_select(response.id, response.display_atendente)
                                }else{
                                    alert(response.message +" (" + response.status+")")
                                }                                   
							})
							.catch(error => {
                                alert('Erro ao mudar status. Tente novamente mais tarde.')
								console.error(error)
							});				
    }

        </script>

{% endblock %}
