{% extends 'template_chamados.html' %}
{% block visao %}active{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="/static/css/detalhesTicketsNaoResolvidos.css">
{% endblock %}
{% block main %} 

<div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
        <h1 class="app-page-title tickets mb-0">Painel de controle > Tickets não resolvidos</h1>
    </div>
        <div class="col-auto top-buttons-background">
                <a href="{% url 'chamados:index' %}" class="my-auto btn app-btn-secondary"><i class="fa-solid fa-rotate-left me-2"></i>Voltar</a>
        </div>
</div>

<div class="links-wrapper">
    <a href="#" id="link-grupos" class="active" onclick="toggleTable('grupos')">Grupos</a>
    <a href="#" id="link-analistas" onclick="toggleTable('analistas')">Analistas</a>
</div>  

<!-- Tabela de Grupos -->
<table class="table" id="table-grupos">
    <thead>
        <tr>
            <th class="table-detalhes-header-grupos">Grupos</th>
            <th class="table-detalhes-header">Aberto</th>
            <th class="table-detalhes-header">Pendente</th>
            <th class="table-detalhes-header">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for chamado in chamados_grupos %}
        <tr>
            <td class="table-detalhes-row-nome">{{ chamado.nome }}</td>
            <td class="table-detalhes-row">
                <a href="{% url 'chamados:tickets' %}?status=0&tipo={{ chamado.id }}" target="_blank">
                    {{ chamado.aberto }}
                </a>
            </td>
            <td class="table-detalhes-row">
                <a href="{% url 'chamados:tickets' %}?status=2&tipo={{ chamado.id }}" target="_blank">
                    {{ chamado.pendente }}
                </a>
            </td>
            <td class="table-detalhes-row">
                <a href="{% url 'chamados:tickets' %}?tipo={{ chamado.id }}" target="_blank">
                    {{ chamado.total }}
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="table-detalhes-row">Nenhum chamado encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Tabela de Profissionais Designados -->
<table class="table" id="table-analistas" style="display: none;">
    <thead>
        <tr>
            <th class="table-detalhes-header-grupos">Analista</th>
            <th class="table-detalhes-header">Aberto</th>
            <th class="table-detalhes-header">Pendente</th>
            <th class="table-detalhes-header">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for profissional in chamados_profissionais %}
        <tr>
            <td class="table-detalhes-row-nome">{{ profissional.nome_servidor }}</td>
            <td class="table-detalhes-row">
                <a href="{% url 'chamados:tickets' %}?status=0&profissional_designado={{ profissional.id }}" target="_blank">
                    {{ profissional.aberto }}
                </a>
            </td>
            <td class="table-detalhes-row">
                <a href="{% url 'chamados:tickets' %}?status=2&profissional_designado={{ profissional.id }}" target="_blank">
                    {{ profissional.pendente }}
                </a>
            </td>
            <td class="table-detalhes-row">
                <a href="{% url 'chamados:tickets' %}?profissional_designado={{ profissional.id }}" target="_blank">
                    {{ profissional.total }}
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="table-detalhes-row">Nenhum chamado encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function toggleTable(table) {
        // Oculta ambas as tabelas
        document.getElementById('table-grupos').style.display = 'none';
        document.getElementById('table-analistas').style.display = 'none';

        // Remove a classe active de ambos os links
        document.getElementById('link-grupos').classList.remove('active');
        document.getElementById('link-analistas').classList.remove('active');

        // Mostra a tabela selecionada e destaca o link correspondente
        if (table === 'grupos') {
            document.getElementById('table-grupos').style.display = 'table'; // Exibe a tabela de grupos
            document.getElementById('link-grupos').classList.add('active'); // Adiciona a classe de destaque
        } else if (table === 'analistas') {
            document.getElementById('table-analistas').style.display = 'table'; // Exibe a tabela de analistas
            document.getElementById('link-analistas').classList.add('active'); // Adiciona a classe de destaque
        }
    }
</script>

{% endblock %}