{% extends 'template.html' %}

{% block software %}active{% endblock %}
{% block showsoftware %}show{% endblock %}
{% block sistemas %}active{% endblock %}
{% block main %}   
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Sistemas</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">							    
							    <div class="col-auto">
									
									<a class="btn app-btn-primary" href="{% url 'soft:sistemas' %}"><i class="fa-solid fa-rotate-left"></i> Voltar</a>
								    {% if request.user.is_superuser %}
									<a class="btn app-btn-primary" href="#"><i class="fa-solid fa-plus me-2"></i>Sistema</a>
									{% endif %}
							    </div>
						    </div><!--//row-->
					    </div><!--//table-utilities-->
				    </div><!--//col-auto-->
			    </div><!--//row-->
			    <div class="row g-4">
                    {% for sistema in sistemas %}
				    <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
					    <div class="app-card app-card-doc shadow-sm  h-100">
						    <div class="app-card-thumb-holder p-3">
							    <div class="app-card-thumb">
	                                <img class="thumb-image" src="{{sistema.imagem.url}}" alt="">
	                            </div>
	                             <a class="app-card-link-mask" href="{{sistema.url}}"></a>
						    </div>
		

						</div><!--//app-card-->
				    </div><!--//col-->
				    {% endfor %}
				    
			    </div><!--//row-->			   
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->
		<style>
			/* .app-card-doc .app-card-thumb-holder {
				background: #fafbff !important;
			} */
		</style>
{% endblock%}