{% extends 'template.html' %}
{% block main %}
{{ form.media.css }}
    <h1 class="mt-4 mb-4">Planejamento de ações</h1>
    <div class="container-acao">
        <div class="col d-flex">
            <h2 class="my-auto">Adicionar Nova Ação</h2>
            <a class="my-auto ms-auto text-primary" href="{% url 'gestao_acao:index' %}">
                Voltar
            </a>
        </div>
        <form method="POST" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn app-btn-primary">Salvar</button>
        </form>
    </div>
    <style>
        .container-acao {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            margin-bottom: 20px;
            font-size: 24px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-label {
            font-weight: bold;
        }
        .form-control {
            border-radius: 5px;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .select2, .select2-container, .select2-container--default, .select2-container--below {
            width: 100% !important;
        }
        #id_responsavel {
            width: 100%;
            border-radius: 5px;
            padding: 10px;
            border: 1px solid #ced4da;
            background-color: #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    {{ form.media.js }}
{% endblock %}

