{% extends 'template.html' %}
{% load custom %}
{% load custom_filters %}

{% block title %}Painel de Controle{% endblock %}

{% block main %}
{{ form.media.css }}
<style>
    .select2, .select2-container, .select2-container--default, .select2-container--below{
						width: 100% !important;
					}

    .btn-ponto {
        background-color: #1a73e8;
        border: none;
        transition: background-color 0.3s ease, transform 0.2s ease;
        color: white;
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .btn-ponto:hover {
        background-color: #1558d6;
        /* transform: scale(1.05); */
    }
    .table-custom {
        border-collapse: separate;
        border-spacing: 0 10px;
        width: 100%;
        background-color: #f8f9fa;
    }
    .table-custom th, .table-custom td {
        padding: 12px 15px;
        text-align: left;
        vertical-align: middle;
    }
    .table-custom th {
        background-color: #1a73e8;
        color: white;
        font-weight: bold;
    }
    .table-custom tbody tr {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .table-custom tbody tr td {
        border-top: 1px solid #dee2e6;
    }
    .badge-status {
        padding: 5px 10px;
        border-radius: 12px;
        font-size: 0.9em;
        color: white;
    }
    .badge-status.success {
        background-color: #28a745;
        width: 100%;
    }
    .badge-status.warning {
        background-color: #ffc107;
    }
    .badge-status.danger {
        background-color: #dc3545;
    }
    @media (min-width: 1400px) {
		.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
			max-width: 97.5%;
		}
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const currentMonth = new Date().getMonth() + 1;
        document.getElementById('mes').value = currentMonth;
    });

    function filterTable() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toLowerCase();
        const table = document.getElementById('registroTable');
        const rows = table.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            let rowContainsFilter = false;

            for (let j = 0; j < cells.length; j++) {
                if (cells[j].innerText.toLowerCase().includes(filter)) {
                    rowContainsFilter = true;
                    break;
                }
            }

            rows[i].style.display = rowContainsFilter ? '' : 'none';
        }
    }

    function mudarTextButton(select) {
        const tipoBtn = document.getElementById('tipoBtn');
        tipoBtn.innerText = select.value; 
    }

    function adicionarRegistroAnterior() {
        const matricula = document.getElementById('matricula').value;
        const data = document.getElementById('data').value;
        if (!matricula || !data) {
            alert('Preencha a matrícula e a data antes de adicionar o registro!');
            return;
        }
        window.location.href = `/ponto/registrar/${matricula}/?data=${data}`;
    }
</script>
<div class="container">        
    <div class="row">
        <div class="col d-flex">
            <h1>Painel de Controle</h1>
            <!-- <a href="{% url 'controle_de_ponto:painel' %}" class="btn btn-secondary px-3 me-2 my-auto py-2 ms-auto" style="background-color: black;">
                <i class="fa-solid fa-list"></i> 
            </a> -->                   
            <a href="{% url 'controle_de_ponto:alocar_servidor' %}" class="btn btn-ponto px-3 py-2 ms-auto my-auto ">
                <i class="fa-solid fa-rotate-left me-2"></i>Voltar
            </a>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    <form method="post" class="p-4 rounded mt-4 shadow" style="background-color: white;">
        <div class="w-100 d-flex flex-column">
            <h4 class="my-auto"><i class="fa-solid fa-clock-rotate-left me-4"></i>Acertar horário</h4>  
            <div class="row">
                <div class="col pt-4 d-flex flex-column">
                    {% csrf_token %}
                    <div>
                        <label for="matricula" class="form-label">Matrícula</label>
                        <input type="text" class="form-control" id="matricula" name="matricula" required>
                    </div>
                    <div class="mt-3">
                        <label for="data" class="form-label">Data</label>
                        <input type="date" class="form-control" id="data" name="data" required>
                    </div> 
                    <div class="mt-2">
                        <button type="submit" class="btn me-auto btn-info mt-3" style="color: white;">Buscar registro</button> 
                        <button type="button" class="btn me-auto btn-primary text-white mt-3" onclick="adicionarRegistroAnterior()">
                            <i class="fa-solid fa-plus me-2 text-white"></i>Adicionar Registro de Ponto para Dias Anteriores
                        </button>
                    </div>
                </div>
            </div>          
        </div>        
    </form>

    <div class="mt-3">
        <div class="row">
            <div class="col d-flex">
                <h3 id="data-registro" class="mt-3">{{ data }}</h3>                   
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="./update/" method="post ">
                    {% csrf_token %}
                    <input type="hidden" name="matricula" value="{{ matricula }}">
                    <input type="hidden" name="data" value="{{ data|date:'Y-m-d' }}">
                    <table class="table-custom" id="registroTable">
                        <thead>
                            <tr>
                                <th>Matrícula</th>
                                <th>Nome</th>
                                <th>Entrada 1</th>
                                <th>Saída 1</th>
                                <th>Entrada 2</th>
                                <th>Saída 2</th>                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>     
                            {% for registro in registros %}                   
                            <tr class="tr-servidores">
                                <td>{{ registro.matricula }}</td>
                                <td>
                                    <img class="rounded-circle mb-1 me-1" style="width: 20px;" src="{{registro.get_avatar}}" alt="">
                                    {{ registro.nome }}
                                </td>                                                
                                <td>{{ registro.entrada1|safe }}</td> 
                                <td>{{ registro.saida1|safe }}</td> 
                                <td>{{ registro.entrada2|safe }}</td> 
                                <td>{{ registro.saida2|safe }}</td> 
                                <td>
                                    <button type="submit" class="btn btn-primary" style="color: white;">Salvar</button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">Nenhum servidor encontrado.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>                
            </div>
        </div>
    </div>
</div>
<style>
    td input{
        text-align: center;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{form.media.js}}
{% endblock %}
