{% extends 'template.html' %}
{% load custom %}
{% load custom_filters %}

{% block title %}Painel de Controle de Ponto{% endblock %}

{% block main %}
<style>
    .btn-ponto {
        background-color: #1a73e8;
        border: none;
        transition: background-color 0.3s ease, transform 0.2s ease;
        color: white;
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .btn-ponto:hover {
        background-color: #1558d6;
        transform: scale(1.05);
    }
    .table-custom {
        border-collapse: separate;
        border-spacing: 0 10px;
        width: 100%;
        background-color: #f8f9fa;
    }
    .table-custom th, .table-custom td {
        padding: 12px 15px;
        text-align: left;
        vertical-align: middle;
    }
    .table-custom th {
        background-color: #1a73e8;
        color: white;
        font-weight: bold;
    }
    .table-custom tbody tr {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .table-custom tbody tr td {
        border-top: 1px solid #dee2e6;
    }
    .badge-status {
        padding: 5px 10px;
        border-radius: 12px;
        font-size: 0.9em;
        color: white;
    }
    .badge-status.success {
        background-color: #28a745;
        width: 100%;
    }
    .badge-status.warning {
        background-color: #ffc107;
    }
    .badge-status.danger {
        background-color: #dc3545;
    }
    @media (min-width: 1400px) {
		.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
			max-width: 97.5%;
		}
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const currentMonth = new Date().getMonth() + 1;
        document.getElementById('mes').value = currentMonth;
    });

    function filterTable() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toLowerCase();
        const table = document.getElementById('registroTable');
        const rows = table.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            let rowContainsFilter = false;

            for (let j = 0; j < cells.length; j++) {
                if (cells[j].innerText.toLowerCase().includes(filter)) {
                    rowContainsFilter = true;
                    break;
                }
            }

            rows[i].style.display = rowContainsFilter ? '' : 'none';
        }
    }

    function mudarTextButton(select) {
        const tipoBtn = document.getElementById('tipoBtn');
        tipoBtn.innerText = select.value; 
    }
</script>

<div class="container mt-4">
    <div class="row mb-3">
        <div class="col d-flex align-items-center">
            <h1>Painel de Controle</h1>            
            <input style="max-width: 250px;" type="text" id="searchInput" class="form-control w-50 ms-auto me-3" placeholder="Pesquisar..." onkeyup="filterTable()">
                                                             
            <a href="{% url 'controle_de_ponto:alocar_servidor' %}" class="btn btn-ponto px-3 py-2">
                <i class="fa-solid fa-rotate-left"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table-custom" id="registroTable">
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <!-- <th>Secretaria</th> -->
                        <th>Setor</th>
                        <th>Data</th>
                        <th style="text-align: center;">Entrada 1</th>
                        <th style="text-align: center;">Saída 1</th>
                        <th style="text-align: center;">Entrada 2</th>
                        <th style="text-align: center;">Saída 2</th>
                        <th>Total Horas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td>{{ registro.matricula }}</td>
                        <td>
                            <img class="rounded-circle mb-1 me-1" style="width: 20px;" src="{{registro|get_avatar}}" alt="">
                            {{ registro.nome }}
                        </td>                        
                        <!-- <td>{{ registro.secretaria.sigla }}</td> -->
                        <td>{{ registro.servidor.setor.nome }}</td>
                        <td>{{ registro.data_registro|date:"d/m/Y" }}</td>
                        <td style="text-align: center;">{{ registro.entrada1|time }}</td>
                        <td style="text-align: center;">{{ registro.saida1|time }}</td>
                        <td style="text-align: center;">{{ registro.entrada2|time }}</td>
                        <td style="text-align: center;">{{ registro.saida2|time }}</td>
                        <td style="width: 130px; display: flex;">
                            <span class="badge-status success d-flex">
                                <i class="fa-solid fa-stopwatch me-auto my-auto"></i>
                                {{ registro.total_horas }}
                            </span>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10" class="text-center">Nenhum registro encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
