{% extends 'template.html' %}
{% load custom %}
{% load custom_filters %}

{% block title %}Registrar Ponto para Dias Anteriores{% endblock %}

{% block main %}
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col d-flex align-items-center">
            <h3>Registrar Ponto para Dias Anteriores</h3>
            <a href="{% url 'controle_de_ponto:menu_acertar_ponto' %}" class="btn btn-primary text-white px-3 py-2 ms-auto">
                <i class="fa-solid fa-rotate-left text-white"></i> Voltar
            </a>
        </div>
    </div>
    {% if erro_matricula %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ erro_matricula }}
    </div>
    {% endif %}
    {% if erro_matricula %}
    {# Não mostra o formulário se matrícula for inválida #}
    {% else %}
    {% if erro_validacao %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ erro_validacao }}
    </div>
    {% endif %}
    <form method="post" class="p-4 rounded mt-4 shadow" style="background-color: white;">
        {% csrf_token %}
        <input type="hidden" name="matricula" value="{{ matricula }}">
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="data" class="form-label">Data</label>
                <input type="date" class="form-control" name="data" id="data" max="{{ today }}" required value="{{ data_inicial|default:'' }}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="entrada1" class="form-label">Entrada 1</label>
                <input type="time" class="form-control" name="entrada1" id="entrada1">
            </div>
            <div class="col-md-2 mb-3">
                <label for="saida1" class="form-label">Saída 1</label>
                <input type="time" class="form-control" name="saida1" id="saida1">
            </div>
            <div class="col-md-2 mb-3">
                <label for="entrada2" class="form-label">Entrada 2</label>
                <input type="time" class="form-control" name="entrada2" id="entrada2">
            </div>
            <div class="col-md-2 mb-3">
                <label for="saida2" class="form-label">Saída 2</label>
                <input type="time" class="form-control" name="saida2" id="saida2">
            </div>
        </div>
        <div class="text-start mt-3">
            <button type="submit" class="btn btn-primary" style="color: white;">Salvar Registro</button>
        </div>
    </form>
    {% endif %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show mt-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
