{% load django_bootstrap5 %}
{% comment %} FAÇA O HEADER AQUI {% endcomment %}
<header class="row"><nav>
    <link rel="stylesheet" href="/static/css/header.css">

    <div class="logo-container">
        <a href="{% url "chamados:login" %}"><img src="/static/img/prefeitura-footer.png" alt="Logo da PMNF"></a>
        {% comment %} <button class="btn-header">Header</button> {% endcomment %}
        {% comment %} <a class="logout-btn" href="{% url 'chamados:sairFunc' %}">Sair<img width="30" src="/static/img/logout.png"></a> {% endcomment %}
    </div>
</nav>
</header>

