<link rel="stylesheet" href="/static/css/footer.css">

<footer class="row footer">
    <div class="col">
      <div class="row pt-3 pb-2 mobile-flex-column"> 
        <div class="col d-flex flex-column">
          <img class="img-fluid logo m-auto" src="/static/img/prefeitura-footer.png" alt="">
        </div>
        <div class="col">
          <ul id="ul-footer">
              <img style="margin-right: 10px;" width="15" src="/static/img/black-placeholder-variant.png" alt="">Av. Alberto Braune, 225 - Centro, Nova Friburgo - RJ, 28613-001
              <hr>
              <img style="margin-right: 10px;" src="/static/img/clock.png" alt="" width="15">08:00 às 17:00 de Seg. à Sex.
              <hr>
              <img style="margin-right: 10px;" src="/static/img/phone-call.png" alt="" width="15">Ramal: 9234
          </div>
        </div>
          </ul>
          
      <div>
        <div class="col d-flex px-2 pt-2 pb-1"> 
          <div class="d-flex mx-auto">
            <b style="color: rgba(141, 141, 141, 0.514);" class="ms-2">© Subsecretaria de TI</b>
          </div>
        </div>
      </div>
    </div>
  </footer>
  