{% extends "template.html" %}
{% block title %}
Indicadores
{% endblock  %}
{% block chamados %}active{% endblock %}
{% block main %}
<script src="/static/js/atendentes.js"></script>
<link rel="stylesheet" href="/static/css/atendentes.css">

<div class="container mt-4">
    <ul class="list-unstyled">
        {% for atendente in atendentes %}
            <li class="border p-3 m-2 container-atendentes">
                <div class="d-flex justify-content-between">
                    <div class="box-atendente">
                        <button class="btn btn-danger btn-apagar" data-atendente-id="{{atendente.id}}"><i class="bi bi-trash-fill"></i></button> <br>
                        <strong>Nome:</strong>
                        <a class="btn btn-success" id="link-atendente" href="{% url "chamados:servidor" atendente.id %}">{{ atendente.nome }}</a><br>
                        <strong>Setor:</strong> {{ atendente.setor.nome }}<br>
                        <strong>Secretaria:</strong> {{ atendente.setor.secretaria }}<br>
                        <strong>Tipo(s):</strong>
                        <ul>
                            {% for tipo in atendente.tipo.all %}
                                <li>{{ tipo.nome }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    
    <div id="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <span class="fechar-sair">&times;</span>
                <p style="font-size: 17px;">Deseja apagar o atendente?</p>
                <div class="button-container">
                    <button type="button" class="btn btn-secondary" id="buttonNo">Não</button>
                    <button type="button" class="btn btn-primary" id="buttonYes">Sim</button>
                </div>
            </div>
        </div>
    </div>
    
    {% if user.is_staff %}
    <form method="POST" action="{% url 'chamados:transformaParaAtendente' %}" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_servidor" class="form-label"><strong>Servidor:</strong></label>
            <select name="servidor" id="id_servidor" class="form-select form-select-lg mb-3">
                {% for servidor in servidores %}
                    <option value="{{servidor.id}}">{{servidor.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label title-atendente"><strong>Tipos do novo Atendente:</strong></label>
            <div class="divTipos d-flex flex-wrap">
                {% for tipo in tipos %}
                    <div class="form-check d-flex align-items-center mb-2 mr-3">
                        <input type="checkbox" id="tipo_{{ tipo.id }}" name="tipo" value="{{ tipo.id }}">
                        <label class="form-check-label ml-2" for="tipo_{{ tipo.id }}"><strong>{{ tipo.nome }}</strong></label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary button-atendente">Novo Atendente</button>
    </form>
    
    {% endif %}
    
    <script>
        $(document).ready(function() {
            $('#id_servidor').select2();
        });
    </script>
</div>
{% endblock %}