{% extends "template-login.html" %}
{% block title %}
Abrir Chamado
{% endblock  %}
{% block chamados %}active{% endblock %}
{% block main %}
<link rel="stylesheet" href="/static/css/cadastro.css">
<div class="row">
      <form class="form-container" method="POST">
          {% csrf_token %}
          {{formUser.as_p}}
          {{formServidor.as_p}}

            {% if formUser.errors|length != 0 %}
              <div class="alert alert-danger">
                {{formUser.errors.as_text}}
              </div>                     
            {% endif %}
            {% if formServidor.errors|length != 0 %}
            <div class="alert alert-danger">
              {{formServidor.errors.as_text}}
            </div>                     
            {% endif %}
          <div id="footer-cadastro">
          <button class="btn btn-primary"><a style="text-decoration: none; color: white" href="{% url 'chamados:addSetor' %}">Não encontrou seu Setor? Clique aqui para adicionar!</a></button>
          <button class="btn btn-primary" style="margin-right: 20px" type='submit'> Cadastrar </button>
          </div>
      </form>
  </div>

  <script>
    $(document).ready(function() {
      $('#id_setor').select2();
    });
  </script>
<script defer src="/static/js/cadastro.js"></script>
{% endblock %}