{% extends "template.html" %}
{% block title %}
Chamados
{% endblock  %}
{% block chamados %}active{% endblock %}
{% block main %}
<script src="/static/js/chamado.js" defer></script>
<link rel="stylesheet" href="/static/css/chamado.css">
<h1>Detalhes do Chamado {{ chamado.numero }}/{{chamado.dataAbertura.year}}</h1>
<div id="quickMenu">
{% if user.is_staff %}
    <form method="POST" action="{% url 'chamados:atualizaChamado' chamado.id %}">
        {% csrf_token %}
        <h3 class="h3">Menu Rápido</h3>

        <label for="atendente">Atendente Responsável:</label>
        <select name="atendente" id="atendente">
            <option value="None" {% if chamado.atendente == None %}selected{% endif %}> Nenhum </option>
            {% for atendente in atendentes %}
                <option value={{ atendente.id }} {% if atendente == chamado.atendente %}selected{% endif %}>
                    {{ atendente.nome }}
                </option>
            {% endfor %}
        </select>

        <label for="prioridade">Prioridade:</label>
        <select name="prioridade" id="prioridade">
            {% for choice in chamado.prioridadeChoices %}
                <option value="{{ choice.0 }}" {% if choice.0 == chamado.prioridade %}selected{% endif %}>
                    {{ choice.1 }}
                </option>
            {% endfor %}
        </select>

        <label for="status">Status:</label>
        <select name="status" id="status">
            {% for choice in chamado.statusChoices %}
                <option value="{{ choice.0 }}" {% if choice.0 == chamado.status %}selected{% endif %}>
                    {{ choice.1 }}
                </option>
            {% endfor %}
        </select>



        <input class="btn btn-success" type="submit" value="Salvar">
    </form>
{% endif %}
</div>

<div id="p-div">
    
        <div class="detalhesTopo">
            {% if user.is_staff %}
                <p id="atendente-responsavel">Atendente responsável: {{ chamado.atendente }}</p>
                <p id="prioridade-chamado">Prioridade: {{ chamado.get_prioridade_display }}</p>
            {% endif %}
            <p id="status-chamado">Status: {{ chamado.get_status_display }}</p>
        </div>
        <div class="detalhes">
        <div class="detalhesLeft">
            <p style="text-align: center;">Informações do Chamado:</p>
            <hr>
            <p>Número: {{ chamado.numero }}/{{chamado.dataAbertura.year}}</p>
            <p>Tipo: {{ chamado.tipo }}</p>
            <p>Assunto: {{ chamado.assunto }}</p>
        </div>
        <div class="detalhesCenter">
            <p>Informações adicionais:</p>
            <hr>

            {% if chamado.anexo != '' and chamado.anexo != None %}
                <p>Anexo: <br><br> <img class="img-fluid" src="/media/{{chamado.anexo}}" alt="Não foi encontrado anexo."></p>
            {% endif %}
        
            {% if chamado.tipo.sigla == "INT" %}
                <p>Nofcip: {{chamadoInt.nofcip}}</p>
            {% endif %}
        
            {% if chamado.tipo.sigla == "IMP" %}
                <p>Série da máquina: {{chamadoImp.serie}}</p>
                <p>Contador: {{chamadoImp.contador}}</p>
            {% endif %}
        
            {% if chamado.tipo.sigla == "SGP" %}
                <p>Sistema: {{chamadoSis.sistema}}</p>
            {% endif %}
        </div>
        <div class="detalhesRight">
            <p style="text-align: center">Informações do Servidor:</p>
            <hr>
            <p>Secretaria: {{ chamado.secretaria }}</p>
            <p>Setor: {{ chamado.setor }}</p>
            <p>Requisitante: <a href="{% url "chamados:servidor" chamado.requisitante.id %}"><button id="btn-atendente" class="btn btn-warning">{{ chamado.requisitante }}</button></a></p>
        </div>
    </div>

    <div class="divDescricao">
        <p id="descricao">Contato: {{ chamado.contato }}</p>
    </div>
    <div class="divDescricao">
        <p id="descricao">Descrição: {{ chamado.descricao }}</p>
    </div>
</div>

<div class="divComentarios">
    {% for comentario in comentarios%}
    <div class="comentario">
    {% if user.is_staff %}
        <p>
            {{comentario.quemComentou}}<br>
            {{comentario.dataHora}}<br>
            {{comentario.texto}}
        </p>
    {% else %}
        {% if not comentario.confidencial %}
            <p>
                {{comentario.quemComentou}}<br>
                {{comentario.dataHora}}<br>
                {{comentario.texto}}
            </p>
        {% endif %}
    {% endif %}
    </div>
    {% endfor %}
</div>

<form method="POST" action="{% url 'chamados:addComentario' chamado.id %}" class="formComentario" id="formComentario">
{% csrf_token %}
<label for="id_texto">Adicionar Comentário:</label>
<textarea name="texto" id="id_texto" cols="91" rows="5"></textarea>
{% if user.is_staff %}
    <label for="id_confidencial">Confidencial (Aparecerá somente para outros atendentes):</label>
    <input type="checkbox" name="confidencial" id="id_confidencial"><br>
{% endif %}
<button id="submit-chamado" class="btn btn-success" type="submit">Enviar Comentário</button>

</form>

{% if user.is_staff %}
   <a id="edita-chamado" class="btn btn-primary" href="{% url 'chamados:editaChamado' chamado.id %}">Editar o Chamado</a>
{% endif %}

{% endblock %}