{% extends "template.html" %}
{% block title %}
Indicadores
{% endblock  %}
{% block chamados %}active{% endblock %}
{% block main %}

<link rel="stylesheet" href="/static/css/indicadores.css">
<h1>Indicadores</h1>
<form method="POST" action="">
    {% csrf_token %}
    <label for="select-setor">Setor</label>
    <select name="setor" id="select-setor">
        <option value="">Todos</option>
        {% for setor in setores  %}
           <option value="{{setor.nome}}">{{setor.nome}}</option>
        {% endfor %}
    </select>
    <label for="select-secretaria">Secretaria</label>
    <select name="secretaria" id="select-secretaria">
        <option value="">Todos</option>
        {% for secretaria in secretarias  %}
            <option value="{{secretaria.nome}}">{{secretaria.nome}}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<div id="div-indicadores">
    <div id="setor-div">
        <h2 id="setor">Chamados por Setor</h2>
        <ul>
            {% for setor in setores %}
                {% if setor.total_chamados %}
                    <li><p class="item-name">{{ setor.nome }}</p>
                        <ul>
                            {% for tipo_info in setor.total_chamados %}
                                <li>{{ tipo_info.tipo__nome }}: {{ tipo_info.total }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
       
    <div id="secretaria-div">
        <h2 id="secretaria">Chamados por Secretaria</h2>
        <ul>
            {% for secretaria in secretarias %}
                {% if secretaria.total_chamados %}
                    <li><p class="item-name">{{ secretaria.nome }}</p>
                        <ul>
                            {% for tipo_info in secretaria.total_chamados %}
                                <li>{{ tipo_info.tipo__nome }}: {{ tipo_info.total }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}  
    
        
    </div>
</div>

<script>
    $(document).ready(function() {
      $('#select-setor').select2();
      $('#select-secretaria').select2();
    });
</script>
    
{% endblock %}