{% extends "template-login.html" %}
{% block title %}
Login
{% endblock  %}
{% block main %}
<link rel="stylesheet" href="/static/css/login.css" />
    <form class="login-form" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Entrar">
        <div id="footer-form-login">
        <button id="btn-login-left" class="btn btn-primary btn-login"><a class="a-login" style="text-decoration: none;color: white" href="{% url 'chamados:cadastro' %}">Quero me cadastrar</a></button>
        <button id="btn-login-right" class="btn btn-primary btn-login"><a class="a-login" style="text-decoration: none;color: white" href="{% url "admin:password_reset" %}">Esqueceu sua senha?</a></button>
        </div>
    </form>
{% endblock %}
    