{% extends "template.html" %}
{% block title %}
Página principal
{% endblock  %}
{% block chamados %}active{% endblock %}
{% block main %}

<link rel="stylesheet" href="/static/css/mainPage.css">

<div id="modal" class="modal">
  <div class="modal-content">
     <span class="fechar">x</span>
     <p id="title-modal-abir-chamado">Qual o tipo de chamado desejado?</p>
     <button class="btn btn-primary"><a class="link-modal-abrir-chamado" href="{% url "chamados:abrirChamadoImpressora" %}">Impressora</a></button>
     <button class="btn btn-primary"><a class="link-modal-abrir-chamado"  href="{% url "chamados:abrirChamado" 'COM' %}">Computadores</a></button>
     <button class="btn btn-primary"><a class="link-modal-abrir-chamado"  href="{% url "chamados:abrirChamadoInternet" %}">Internet</a></button>
     <button class="btn btn-primary"><a class="link-modal-abrir-chamado"  href="{% url "chamados:abrirChamadoSistema" %}">Sistema de Gestão Pública</a></button>
     <button class="btn btn-primary"><a class="link-modal-abrir-chamado"  href="{% url "chamados:abrirChamado" 'TEL' %}">Telefonia</a></button>
  </div>
</div>
<div class="div-button-chamado">
  <a id="button-chamado">Abrir Chamado</a>
  <button id="button-pesquisa-chamado">Procurar Chamado</button>
</div>
<div id="pesquisa-chamado">
   <form method="POST" id="form-pesquisa-chamado" class="container form-group">
      <h2 id="title-chamado">Informações do chamado</h2>
      {% csrf_token %}
      {{ form }}
      <button class="btn btn-success">Pesquisar</button>
  </form>
  
</div>
<div id="div-table-chamado">
  <div class="table-responsive">
     <table class="table-chamado table table-striped" id="tabelaDeChamados">
        <thead>
           <tr>
              <th>Número</th>
              <th>Requisitante</th>
              <th>Prioridade</th>
              <th>Setor</th>
              <th>Status</th>
              <th>Tipo</th>
              <th>Assunto</th>
              <th>Data de Abertura</th>
              <th>Detalhes</th>
           </tr>
        </thead>
        <tbody>
         {% if chamados %}
            {% for chamado in chamados %}
            <tr>
               <td>{{ chamado.numero }}</td>
               <td>{{ chamado.requisitante }}</td>
               <td {% if chamado.prioridade == '0' %}style="color: blue"{% elif chamado.prioridade == '2' %} style="color: red;" {% else %} style="color: orange" {% endif %}>{{ chamado.get_prioridade_display }}</td>
               <td>{{ chamado.setor }}</td>
               <td {% if chamado.status == '0' %}style="color: green" {% elif chamado.status == '1' %}style="color: orange;" {% else %}style="color: red;" {% endif %}> {{chamado.get_status_display}} </td>
               <td>{{ chamado.tipo.sigla }}</td>
               <td>{{ chamado.assunto }}</td>
               <td>{{ chamado.dataAbertura|date:"d/m/y H:i" }}</td>
               <td>
                  <a href="{% url 'chamados:chamado' chamado.id %}">
                  <button class="btn btn-primary button-abrir-chamado"><i class="bi bi-box-arrow-up-right"></i></button>
                  </a>
               </td>
            </tr>
            {% endfor %} 
         {% else %}
               <tr>
                  <td class="message-table-empty" colspan="9">Não há chamados.</td>
               </tr>
         {% endif %}
        </tbody>
     </table>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#id_setor').select2();
    $('#id_secretaria').select2();
    $('#id_requisitante').select2();
  });
</script>
<script src="/static/js/mainPage.js"></script>
{% endblock %}

