{% extends "template-login.html" %}

{% block title %}
Redefinir senha
{% endblock %}

{% block main %}

{% if validlink %}
<link rel="stylesheet" href="/static/css/password-reset.css">
<h1>Defina uma nova senha!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Redefinir minha senha">
</form>

{% else %}

<p>O link para redefinir senha é inválido, provavelmente já foi utilizado ou o tempo expirou. Por favor solicite uma nova redefinição de senha.</p>


{% endif %}
{% endblock %}