{% extends 'template.html' %}
{% block telefonia %}active{% endblock %}
{% block main %}   		    
				<style>
					#message{
						display: none;
					}
					#response-message{
						font-weight: bold;
						color: white;
					}
					.bg-gray{
						background-color: rgba(128, 128, 128, 0.281) !important;
					}
					input{
						width: 300px !important;
					}
				</style>
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">
							{{title}}
						</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <div class="table-search-form row gx-1 align-items-center">					                    						
					                    <div class="col-auto">
					                        <a href="{{url_back}}" class="btn app-btn-secondary">Voltar</a>
					                    </div>																				
					                </div>					            
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
			   			    			
				<div class="tab-content" id="orders-table-tab-content">
			        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					    <div class="app-card app-card-orders-table shadow-sm mb-5">
						    <div class="app-card-body d-flex py-5">
							    <form method="POST" class="mx-auto">
									{% csrf_token %}
									{{form}}
									<br>
									<button type="submit" class="btn app-btn-primary">Cadastrar</button>
								</form>
						       
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->											
			        </div><!--//tab-pane-->			        			        
				</div><!--//tab-content-->
				<div id="myModal" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Adicionar ramal</h5>
						<button class="btn btn-primary btn-close" id="closeModal">
							
						</button>	
					</div>
					<div class="modal-body">
						<div class="col-12 col-md-12">							
									<div class="settings-form">
										<div class="mb-3">
											<label for="setting-input-1" class="form-label">Secretaria</label>
											<select class="form-select" id="setting-input-1" name="secretarua" id="" onchange="callSetor(this)">
												<option value="none">Selecione uma secretaria</option>
												{% for secretaria in secretarias %}
												<option value="{{secretaria.id}}">{{secretaria.nome}}</option>
												{% endfor %}																								
											</select>											
										</div>
										<div class="mb-3">
											<label for="setting-input-2" class="form-label">Setor</label>
											<select class="form-select" id="setting-input-2" name="secretarua" id="">												
												<option value="none"></option>												
											</select>											
											<!-- <input type="text" class="form-control" id="setting-input-2" required> -->
										</div>
										<div class="mb-3">
											<label for="setting-input-3" class="form-label">Referência</label>
											<input type="text" maxlength="164" class="form-control" id="setting-input-3" required>
										</div>
										<div class="mb-3">
											<label for="setting-input-4" class="form-label">Responsável</label>
											<input type="text" maxlength="164" class="form-control" id="setting-input-4" required>
										</div>
										<div class="mb-3">
											<label for="setting-input-5" class="form-label">Número</label>
											<input type="text" maxlength="5" class="form-control" id="setting-input-5" required>
										</div>
										<button onclick="cadastrarRamal('{{csrf_token}}')" class="btn app-btn-primary">Cadastrar</button>
									</div>								
						</div>
					</div>
					<div class="modal-footer">
						
					</div>
					</div>
				</div>
				</div>
				
				<script src="/static/js/openModal.js"></script>
				<script src="/static/js/request.js"></script>
				<script src="/static/js/telefonia.js"></script>
				<script>									
					function callSetor(e){
						var url = "{% url 'tel:api' %}getSetores/"+e.value+"/"; 
						getRequest(url, montarSelect);
					}

					
					function filtrarRamais() {
					
						var filtro = document.getElementById('search-ramais').value.toUpperCase();					
						var linhas = document.querySelectorAll('.app-table-hover tbody tr');

						// Itera sobre as linhas da tabela
						for (var i = 0; i < linhas.length; i++) {
							var linha = linhas[i];
							var colunas = linha.getElementsByTagName('td');
							var mostrar = false;

							// Itera sobre as colunas da linha
							for (var j = 0; j < colunas.length; j++) {
								var coluna = colunas[j];
								if (coluna) {
									var texto = coluna.textContent || coluna.innerText;
									// Verifica se o texto da coluna contém o filtro
									if (texto.toUpperCase().indexOf(filtro) > -1) {
										mostrar = true;
										break;
									}
								}
							}

							// Mostra ou oculta a linha dependendo do resultado da busca
							if (mostrar) {
								linha.style.display = "";
							} else {
								linha.style.display = "none";
							}
						}
					}
					
					document.getElementById('search-ramais').addEventListener('input', filtrarRamais);

					function icpf(v){
						v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
						v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
						v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o terceiro e o quarto digitos
																//de novo (para o segundo bloco de numeros)
						v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2") //Coloca um hifen entre o terceiro e o quarto digitos
						return v
					}
					function itel(v){
                        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
                        v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
                        console.log(v.length)
                        if (v.length<14){
                          v=v.replace(/(\d{4})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        }else{
                          v=v.replace(/(\d{4,5})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
                        }
                        
                        return v
            		}
					function icep(input) {
						input.value = input.value.replace(/\D/g, '');

						// Verifica se o valor tem pelo menos 5 dígitos
						if (input.value.length > 5) {
						// Insere o traço após o quinto dígito
						input.value = input.value.substring(0, 5) + '-' + input.value.substring(5);
						}
					}
					function mascara(o,f){
								v_obj=o
								v_fun=f
								setTimeout("execmascara()",1)
							}
						
					function execmascara(){
								v_obj.value=v_fun(v_obj.value)
							}

					const cp_bairro = document.getElementById('id_bairro')
					const cp_endereco = document.getElementById('id_endereco')

					function getCEP(input){
							icep(input)
							v=input.value
							if(v.length == 9){
								let cep = v.replace("-","")
								buscaEndereco(cep);

							}
							}
					function buscaEndereco(cep){
							let url = "https://viacep.com.br/ws/"+cep+"/json/";
							fetch(url)
							.then((response)=>{
								response.json()
								.then((data)=>{
									autoComplete(data)
								})
							})
							}
					function removeAccents(string) {
							return string.replace(/[ÀÁÂÃÄÅàáâã]/g, "?")
								.replace(/[ÈÉÊËÈèé]/g, "?")
								.replace(/[ÌÍÎÏìíî]/g, "?")
								.replace(/[ÒÓÔÕÖóòõ]/g, "?")
								.replace(/[ÙÚÛÜùúû]/g, "?")
								.replace(/[Çç]/g, "?")
							}
					async function autoComplete(end){
						if (end.logradouro != undefined){
							cp_endereco.value = end.logradouro;
						}
						if (end.bairro != undefined){
							cp_bairro.value = end.bairro;
							console.log(end)
						}
						}
				</script>
{% endblock %}