{% extends 'template.html' %}
{% block telefonia %}active{% endblock %}
{% block main %}   		    
{% load custom_filters %}
				<style>
					#message{
						display: none;
					}
					#response-message{
						font-weight: bold;
						color: white;
					}
					.bg-gray{
						background-color: rgba(128, 128, 128, 0.281) !important;
					}
				</style>
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">{{secretaria.nome}}</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <div class="table-search-form row gx-1 align-items-center">
					                    <div class="col-auto">
					                        <input type="text" id="search-ramais" name="searchramais" class="form-control search-orders" placeholder="Procurar...">
					                    </div>															                    
					                </div>					            
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
			   			    			
				<div class="tab-content" id="orders-table-tab-content">
			        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					    <div class="app-card app-card-orders-table shadow-sm mb-5">
						    <div class="app-card-body">
							    <div class="table-responsive">
							        <table class="table app-table-hover table-hover mb-0 text-left">
										<thead>
											<tr>												
												<th class="cell">Servidores ({{servidores.count}}) <button class="btn" onclick="toogleSortByNome()"><i class="fa-solid fa-arrow-up-a-z"></i></button></th>
												<th class="cell">Setor <button class="btn" onclick="toogleSortBySetor()"><i class="fa-solid fa-arrow-up-a-z"></i></button></th>
												<th class="cell">Matrícula</th>
												{% if 0|acesso_adm_or_helpdesk:request.user %}
												<th class="cell">Tel</th>
												{% endif %}
											</tr>
										</thead>
										<tbody>
											{% for servidor in servidores %}
											<tr>																																		
												<td class="cell" style="color: black; text-transform: uppercase;">{{servidor.nome}}</td>
												<td class="cell">{{servidor.setor.nome}}</td>
												<td class="cell matricula">{{servidor.matricula}}</td>
												{% if 0|acesso_adm_or_helpdesk:request.user %}										
												<td class="cell">{{servidor.telefone}}</td>														
												{% endif %}
											</tr>					
											{% endfor %}								
										</tbody>
									</table>
						        </div><!--//table-responsive-->
						       
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->											
			        </div><!--//tab-pane-->			        			        
				</div><!--//tab-content-->
				<div id="myModal" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Adicionar ramal</h5>
						<button class="btn btn-primary btn-close" id="closeModal">
							
						</button>	
					</div>
					<div class="modal-body">
						<div class="col-12 col-md-12">							
									<div class="settings-form">
										<div class="mb-3">
											<label for="setting-input-1" class="form-label">Secretaria</label>
											<select class="form-select" id="setting-input-1" name="secretarua" id="" onchange="callSetor(this)">
												<option value="none">Selecione uma secretaria</option>
												{% for secretaria in secretarias %}
												<option value="{{secretaria.id}}">{{secretaria.nome}}</option>
												{% endfor %}																								
											</select>											
										</div>
										<div class="mb-3">
											<label for="setting-input-2" class="form-label">Setor</label>
											<select class="form-select" id="setting-input-2" name="secretarua" id="">												
												<option value="none"></option>												
											</select>											
											<!-- <input type="text" class="form-control" id="setting-input-2" required> -->
										</div>
										<div class="mb-3">
											<label for="setting-input-3" class="form-label">Referência</label>
											<input type="text" maxlength="164" class="form-control" id="setting-input-3" required>
										</div>
										<div class="mb-3">
											<label for="setting-input-4" class="form-label">Responsável</label>
											<input type="text" maxlength="164" class="form-control" id="setting-input-4" required>
										</div>
										<div class="mb-3">
											<label for="setting-input-5" class="form-label">Número</label>
											<input type="text" maxlength="5" class="form-control" id="setting-input-5" required>
										</div>
										<button onclick="cadastrarRamal('{{csrf_token}}')" class="btn app-btn-primary">Cadastrar</button>
									</div>								
						</div>
					</div>
					<div class="modal-footer">
						
					</div>
					</div>
				</div>
				</div>
				
				<script src="/static/js/openModal.js"></script>
				<script src="/static/js/request.js"></script>
				<script src="/static/js/telefonia.js"></script>
				<script>									
					function callSetor(e){
						var url = "{% url 'tel:api' %}getSetores/"+e.value+"/"; 
						getRequest(url, montarSelect);
					}

					
					function filtrarRamais() {
					
						var filtro = document.getElementById('search-ramais').value.toUpperCase();					
						var linhas = document.querySelectorAll('.app-table-hover tbody tr');

						// Itera sobre as linhas da tabela
						for (var i = 0; i < linhas.length; i++) {
							var linha = linhas[i];
							var colunas = linha.getElementsByTagName('td');
							var mostrar = false;

							// Itera sobre as colunas da linha
							for (var j = 0; j < colunas.length; j++) {
								var coluna = colunas[j];
								if (coluna) {
									var texto = coluna.textContent || coluna.innerText;
									// Verifica se o texto da coluna contém o filtro
									if (texto.toUpperCase().indexOf(filtro) > -1) {
										mostrar = true;
										break;
									}
								}
							}

							// Mostra ou oculta a linha dependendo do resultado da busca
							if (mostrar) {
								linha.style.display = "";
							} else {
								linha.style.display = "none";
							}
						}
					}
					
					document.getElementById('search-ramais').addEventListener('input', filtrarRamais);
					
					function toogleSortBySetor(){
						var table, rows, switching, i, x, y, shouldSwitch;
						table = document.querySelector('.app-table-hover');
						switching = true;
						/* Make a loop that will continue until
						no switching has been done: */
						while (switching) {
							// Start by saying: no switching is done:
							switching = false;
							rows = table.rows;
							/* Loop through all table rows (except the
							first, which contains table headers): */
							for (i = 1; i < (rows.length - 1); i++) {
								// Start by saying there should be no switching:
								shouldSwitch = false;
								/* Get the two elements you want to compare,
								one from current row and one from the next: */
								x = rows[i].getElementsByClassName('matricula')[0];
								y = rows[i + 1].getElementsByClassName('matricula')[0];
								// Check if the two rows should switch place:
								if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
									// If so, mark as a switch and break the loop:
									shouldSwitch = true;
									break;
								}
							}
							if (shouldSwitch) {
								/* If a switch has been marked, make the switch
								and mark that a switch has been done: */
								rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
								switching = true;
							}
						}
					}

					function toogleSortByNome(){
						var table, rows, switching, i, x, y, shouldSwitch;
						table = document.querySelector('.app-table-hover');
						switching = true;
						/* Make a loop that will continue until
						no switching has been done: */
						while (switching) {
							// Start by saying: no switching is done:
							switching = false;
							rows = table.rows;
							/* Loop through all table rows (except the
							first, which contains table headers): */
							for (i = 1; i < (rows.length - 1); i++) {
								// Start by saying there should be no switching:
								shouldSwitch = false;
								/* Get the two elements you want to compare,
								one from current row and one from the next: */
								x = rows[i].getElementsByClassName('cell')[0];
								y = rows[i + 1].getElementsByClassName('cell')[0];
								// Check if the two rows should switch place:
								if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
									// If so, mark as a switch and break the loop:
									shouldSwitch = true;
									break;
								}
							}
							if (shouldSwitch) {
								/* If a switch has been marked, make the switch
								and mark that a switch has been done: */
								rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
								switching = true;
							}
						}
					}	
				</script>
{% endblock %}