{% extends 'template.html' %}
{% block telefonia %}active{% endblock %}
{% block main %}   		    
				<style>
					#message{
						display: none;
					}
					#response-message{
						font-weight: bold;
						color: white;
					}
					.bg-gray{
						background-color: rgba(128, 128, 128, 0.281) !important;
					}
					.app-card{
						width: 48%;
					}
					@media(max-width: 768px) {
						.app-card{
							width: 90%;
					}
					}
				</style>
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">{{secretaria.nome}}</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <div class="table-search-form row gx-1 align-items-center">
					                    <div class="col-auto">
					                        <input type="text" id="search-setores" name="searchsetores" class="form-control search-orders" placeholder="Procurar...">
					                    </div>	
										<div class="col-auto">
					                        <a href="{% url 'ins:criar_setor' secretaria.id %}" class="btn app-btn-secondary">Adicionar setor</a>
					                    </div>										
					                    <div class="col-auto">
					                        <a href="{% url 'ins:index' %}" class="btn app-btn-secondary">Voltar</a>
					                    </div>																				
					                </div>					            
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
			   			    			
				<div class="row g-4 settings-section">
	                <div class="col-12 col-md-12 d-flex flex-wrap">
						{% for setor in setores %}
		                <div class="app-card shadow-sm p-4 mb-3" style="margin-right: auto; margin-left: auto;">
							<div class="app-card-body d-flex flex-column h-100">
								<h3 class="section-title">{{setor.nome}}</h3>
		                		<div class="section-intro">
									<p>
										<strong>Endereço:</strong><br>
										{{setor.endereco}}, {{setor.bairro}} - {{setor.cep}}
									</p>
									<p>
										<strong>Qnt. de servidores:</strong> <br>{{chamado.requisitante.nome}}
										{{setor.get_total_servidores}}
									</p>									
								</div>
								<div class="w-100 d-flex mt-auto">
									<a href="{% url 'ins:editar_setor' setor.id %}" class="btn app-btn-secondary me-auto"><i class="fa-solid fa-pen-to-square me-1"></i>Editar setor</a>
									<button class="btn app-btn-secondary"><i class="fa-solid fa-users-gear me-1"></i>Listar servidores</button>
									<a href="{% url 'ins:adicionar_servidor' setor.secretaria.id setor.id %}" class="btn app-btn-primary ms-2"><i class="fa-solid fa-user-plus me-1"></i> Adicionar servidor</a>
								</div>
							</div>
						</div>
						{% endfor %}
	                </div>
				</div>
				<div id="myModal" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Adicionar ramal</h5>
						<button class="btn btn-primary btn-close" id="closeModal">
							
						</button>	
					</div>
					<div class="modal-body">
						<div class="col-12 col-md-12">							
									<div class="settings-form">
										<div class="mb-3">
											<label for="setting-input-1" class="form-label">Secretaria</label>
											<select class="form-select" id="setting-input-1" name="secretarua" id="" onchange="callSetor(this)">
												<option value="none">Selecione uma secretaria</option>
												{% for secretaria in secretarias %}
												<option value="{{secretaria.id}}">{{secretaria.nome}}</option>
												{% endfor %}																								
											</select>											
										</div>
										<div class="mb-3">
											<label for="setting-input-2" class="form-label">Setor</label>
											<select class="form-select" id="setting-input-2" name="secretarua" id="">												
												<option value="none"></option>												
											</select>											
											<!-- <input type="text" class="form-control" id="setting-input-2" required> -->
										</div>
										<div class="mb-3">
											<label for="setting-input-3" class="form-label">Referência</label>
											<input type="text" maxlength="164" class="form-control" id="setting-input-3" required>
										</div>
										<div class="mb-3">
											<label for="setting-input-4" class="form-label">Responsável</label>
											<input type="text" maxlength="164" class="form-control" id="setting-input-4" required>
										</div>
										<div class="mb-3">
											<label for="setting-input-5" class="form-label">Número</label>
											<input type="text" maxlength="5" class="form-control" id="setting-input-5" required>
										</div>
										<button onclick="cadastrarRamal('{{csrf_token}}')" class="btn app-btn-primary">Cadastrar</button>
									</div>								
						</div>
					</div>
					<div class="modal-footer">
						
					</div>
					</div>
				</div>
				</div>
				
				<!-- <script src="/static/js/openModal.js"></script> -->
				<script src="/static/js/request.js"></script>
				<script src="/static/js/telefonia.js"></script>
				<script>									
					
					function filtrarSetores() {
					
						var filtro = document.getElementById('search-setores').value.toUpperCase();						
						var cardsSetores = document.querySelectorAll('.settings-section .app-card');
						
						cardsSetores.forEach(function(card) {
							var nomeSetor = card.querySelector('.section-title').textContent.toUpperCase();
							
							if (nomeSetor.indexOf(filtro) > -1) {
								card.style.display = "";
							} else {
								card.style.display = "none";
							}
						});
					}
					
					document.getElementById('search-setores').addEventListener('input', filtrarSetores);
				</script>
{% endblock %}